/* line 1, ../_sass/syntax.sass */
.highlight {
  background: white;
}
/* line 3, ../_sass/syntax.sass */
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* line 6, ../_sass/syntax.sass */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 9, ../_sass/syntax.sass */
.highlight .k {
  font-weight: bold;
}
/* line 11, ../_sass/syntax.sass */
.highlight .o {
  font-weight: bold;
}
/* line 13, ../_sass/syntax.sass */
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* line 16, ../_sass/syntax.sass */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* line 19, ../_sass/syntax.sass */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* line 22, ../_sass/syntax.sass */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 26, ../_sass/syntax.sass */
.highlight .gd {
  color: black;
  background-color: #ffdddd;
}
/* line 29, ../_sass/syntax.sass */
.highlight .gd .x {
  color: black;
  background-color: #ffaaaa;
}
/* line 32, ../_sass/syntax.sass */
.highlight .ge {
  font-style: italic;
}
/* line 34, ../_sass/syntax.sass */
.highlight .gr {
  color: #aa0000;
}
/* line 36, ../_sass/syntax.sass */
.highlight .gh {
  color: #999999;
}
/* line 38, ../_sass/syntax.sass */
.highlight .gi {
  color: black;
  background-color: #ddffdd;
}
/* line 41, ../_sass/syntax.sass */
.highlight .gi .x {
  color: black;
  background-color: #aaffaa;
}
/* line 44, ../_sass/syntax.sass */
.highlight .go {
  color: #888888;
}
/* line 46, ../_sass/syntax.sass */
.highlight .gp {
  color: #555555;
}
/* line 48, ../_sass/syntax.sass */
.highlight .gs {
  font-weight: bold;
}
/* line 50, ../_sass/syntax.sass */
.highlight .gu {
  color: #aaaaaa;
}
/* line 52, ../_sass/syntax.sass */
.highlight .gt {
  color: #aa0000;
}
/* line 54, ../_sass/syntax.sass */
.highlight .kc {
  font-weight: bold;
}
/* line 56, ../_sass/syntax.sass */
.highlight .kd {
  font-weight: bold;
}
/* line 58, ../_sass/syntax.sass */
.highlight .kp {
  font-weight: bold;
}
/* line 60, ../_sass/syntax.sass */
.highlight .kr {
  font-weight: bold;
}
/* line 62, ../_sass/syntax.sass */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* line 65, ../_sass/syntax.sass */
.highlight .m {
  color: #009999;
}
/* line 67, ../_sass/syntax.sass */
.highlight .s {
  color: #dd1144;
}
/* line 69, ../_sass/syntax.sass */
.highlight .na {
  color: teal;
}
/* line 71, ../_sass/syntax.sass */
.highlight .nb {
  color: #0086b3;
}
/* line 73, ../_sass/syntax.sass */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* line 76, ../_sass/syntax.sass */
.highlight .no {
  color: teal;
}
/* line 78, ../_sass/syntax.sass */
.highlight .ni {
  color: purple;
}
/* line 80, ../_sass/syntax.sass */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
/* line 83, ../_sass/syntax.sass */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* line 86, ../_sass/syntax.sass */
.highlight .nn {
  color: #555555;
}
/* line 88, ../_sass/syntax.sass */
.highlight .nt {
  color: navy;
}
/* line 90, ../_sass/syntax.sass */
.highlight .nv {
  color: teal;
}
/* line 92, ../_sass/syntax.sass */
.highlight .ow {
  font-weight: bold;
}
/* line 94, ../_sass/syntax.sass */
.highlight .w {
  color: #bbbbbb;
}
/* line 96, ../_sass/syntax.sass */
.highlight .mf {
  color: #009999;
}
/* line 98, ../_sass/syntax.sass */
.highlight .mh {
  color: #009999;
}
/* line 100, ../_sass/syntax.sass */
.highlight .mi {
  color: #009999;
}
/* line 102, ../_sass/syntax.sass */
.highlight .mo {
  color: #009999;
}
/* line 104, ../_sass/syntax.sass */
.highlight .sb {
  color: #dd1144;
}
/* line 106, ../_sass/syntax.sass */
.highlight .sc {
  color: #dd1144;
}
/* line 108, ../_sass/syntax.sass */
.highlight .sd {
  color: #dd1144;
}
/* line 110, ../_sass/syntax.sass */
.highlight .s2 {
  color: #dd1144;
}
/* line 112, ../_sass/syntax.sass */
.highlight .se {
  color: #dd1144;
}
/* line 114, ../_sass/syntax.sass */
.highlight .sh {
  color: #dd1144;
}
/* line 116, ../_sass/syntax.sass */
.highlight .si {
  color: #dd1144;
}
/* line 118, ../_sass/syntax.sass */
.highlight .sx {
  color: #dd1144;
}
/* line 120, ../_sass/syntax.sass */
.highlight .sr {
  color: #009926;
}
/* line 122, ../_sass/syntax.sass */
.highlight .s1 {
  color: #dd1144;
}
/* line 124, ../_sass/syntax.sass */
.highlight .ss {
  color: #990073;
}
/* line 126, ../_sass/syntax.sass */
.highlight .bp {
  color: #999999;
}
/* line 128, ../_sass/syntax.sass */
.highlight .vc {
  color: teal;
}
/* line 130, ../_sass/syntax.sass */
.highlight .vg {
  color: teal;
}
/* line 132, ../_sass/syntax.sass */
.highlight .vi {
  color: teal;
}
/* line 134, ../_sass/syntax.sass */
.highlight .il {
  color: #009999;
}
