$b_laptop: 'max-width: 1367px';
$b_tablet: 'max-width: 991px';
$b_mobile: 'max-width: 767px';
$b_small_mobile: 'max-width: 479px';

$b_no_tablet: 'min-width: 992px';
$b_no_mobile: 'min-width: 768px';

$b_tablet_heihgt: 'max-height: 767px';
$b_small_mobile_height: 'max-height: 479px';

$screen-md: 996px;
$screen-sm: 768px;
$screen-xs: 480px;

$min-width: 320px;
$max-width: 1205px;
$max-width_laptop: 1034px;
