---
layout: inner
title: "Why would you want to work at JetThoughts?"
description: "JetThoughts is a successful consistently growing company. That’s why we are constantly looking for talented and industrious developers with great problem-solving skills and readiness to learn new approaches and technologies."
menu_title: Career
group: "navigation"
menu_position: 3
slug: career
---

<div class="career_wrap">
  {% include sections/career_slider.html %}

  <div class="job_application">
    <div class="row">
      <div class="columns large-offset-1 large-10 medium-10 medium-offset-1 small-12 small-offset-0">
        {% if site.career %}
          <h2 class="heading_two">We're Hiring</h2>
        {% else %}
          <h2 class="heading_two">We have no open vacancies now</h2>
        {% endif %}

        <div class="spacer"></div>


          <dl class="section_wrap accordion" data-accordion>
          {% assign jobs = site.career | sort:"date"  %}
          {% for post in jobs reversed %}
            <dd class="job_section">
            <a href="#job_{{forloop.index}}" class="link">
              <header class="header section_heading">
                <div class="job_icon">
                  <div class="icon_wrap">
                    <div class="icon_circle mid green"><i class="icon-{{post.category}}">{{post.category}}</i></div>
                  </div>
                </div>
                <div class="job_summary">
                  <h1 class="heading_one ">{{post.title}}</h1>

                  <p class="description">{{post.excerpt}}</p>
                </div>
              </header>
            </a>

            <div class="section_details content" id="job_{{forloop.index}}">
              <div class="detailed">
                <div class="large-9 medium-8 small-12 col">

                  <div class="detailed_inner">
                    <h2 class="heading_two">Position Description</h2>

                    {{post.content | markdownify}}
                  </div>

                </div>
                <div class="large-3 medium-4 medium-offset-0 large-offset-0 small-10 small-offset-1 col">
                  <h3 class="heading_three">Position Details</h3>
                  <table class="table">
                    <tbody>
                    {% for tr in post.details %}
                    <tr class="tr">
                      <th class="th">{{tr[0]}}</th>
                      <td class="td">{{tr[1]}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>

              </div>

              <div class="similar_projects hide-for-small">
                <h5 class="heading_five">Projects similar to what you’ll be working on:</h5>
                <ul class="list">
                  {% for portfolio in site.portfolio limit: 4 %}
                  <li class="item"><a href="{{portfolio.url}}"><img class="thumb" src="{{portfolio.thumb}}" alt="similar projects" /></a></li>
                  {% endfor %}
                </ul>
              </div>

              <div class="application_form">
                {% include form.html id=post.url position=post.title %}

              </div>
            </div>
              </dd>
          {% endfor %}

        </dl>

      </div>
    </div>
  </div>

</div>
