---
layout: default
title: Agent Inbox | JetThougths
---
<section class="main use-case">
  {% include header.html %}
  <div class="wrapper">
    <div class="title animated">Agent Inbox</div>
    <div class="subtitle"><span>Next level for Real Estate Agents Communication. Help to build new platform and deliver on the market</span>
    </div>
  </div>
  <div class="image-wrapper"></div>
</section>
<section class="case-descriptor">
  <div class="wrapper">
    <div class="title">Agent Inbox is the world's leading real estate messaging platform</div>
    <div class="description">Agent Inbox empowers MLSs to launch market-wide messaging systems and facilitate
      communication between all agent and transaction participants. Powered by MLS data, the Agent Inbox platform starts
      at first contact, is accessible everywhere, and centralizes each deal through closing.
    </div>
  </div>
</section>
<section class="case-subscriptor">
  <div class="wrapper">
    <div class="title">The Real Estate shift to messaging</div>
    <div class="description">Agent Inbox empowers MLSs to launch market-wide messaging systems and facilitate
      communication between all agent and transaction participants. Powered by MLS data, the Agent Inbox platform starts
      at first contact, is accessible everywhere, and centralizes each deal through closing.
    </div>
  </div>
</section>
<section class="keys project">
  <ul class="keys-list">
    <li>
      <div class="label">Team</div>
      <div class="title">6 developers</div>
    </li>
    <li>
      <div class="label">Timeline</div>
      <div class="title">2010-now</div>
    </li>
    <li>
      <div class="label">Location</div>
      <div class="title">Ukraine -> Miami</div>
    </li>
  </ul>
</section>
<section class="feedback owners">
  <ul class="feedback-list">
    <li class="feedback-block">
      <div class="author">
        <div class="avatar tyler"></div>
        <div class="description">
          <div class="name">Tyler Gordon</div>
          <div class="role">director of product</div>
        </div>
      </div>
      <div class="feedback-text">
        As Agent Inbox has been growing, Jetthoughts has been able to scale up really quickly, has been super flexible
        with changing products, changing demands with us internally, has been able to integrate very successfully with
        our engineering teams
      </div>
    </li>
    <li class="feedback-block">
      <div class="author">
        <div class="avatar tyler"></div>
        <div class="description">
          <div class="name">Tyler Gordon</div>
          <div class="role">director of product</div>
        </div>
      </div>
      <div class="feedback-text">
        As Agent Inbox has been growing, Jetthoughts has been able to scale up really quickly, has been super flexible
        with changing products, changing demands with us internally, has been able to integrate very successfully with
        our engineering teams
      </div>
    </li>
  </ul>
</section>
<section class="challenge">
  <div class="wrapper">
    <div class="title">The Real Estate shift to messaging</div>
    <div class="description">Agent Inbox empowers MLSs to launch market-wide messaging systems and facilitate
      communication between all agent and transaction participants. Powered by MLS data, the Agent Inbox platform starts
      at first contact, is accessible everywhere, and centralizes each deal through closing.
    </div>
  </div>
</section>
<div class="screen-section">
  <div class="block screen mvp"></div>
  <div class="block text">
    <div class="wrapper">
      <div class="title">MVP based on Angular moved to Rails</div>
      <div class="description">More than just messaging, Agent Inbox facilitates collaboration on transactions, team conversations in channels, and scheduling management. Brokerages keep agents and staff informed and communicating in one central place.</div>
    </div>
  </div>
</div>
<div class="screen-section reverse">
  <div class="block text">
    <div class="wrapper">
      <div class="title">MLS merge and move to own solution</div>
      <div class="description">Agent Inbox empowers MLSs to launch market-wide messaging systems and facilitate communication between all agent and transaction participants. Powered by MLS data, the Agent Inbox platform starts at first contact, is accessible everywhere, and centralizes each deal through closing.</div>
    </div>
  </div>
  <div class="block screen mls"></div>
</div>
<div class="screen-section">
  <div class="block screen optimization"></div>
  <div class="block text">
    <div class="wrapper">
      <div class="title">Release mobile version based on Rails with</div>
      <div class="description">More than just messaging, Agent Inbox facilitates collaboration on transactions, team conversations in channels, and scheduling management. Brokerages keep agents and staff informed and communicating in one central place.</div>
    </div>
  </div>
</div>
<section class="technical-challenge">
  <div class="wrapper">
    <div class="title">technical challenge</div>
    <div class="row reverse">
      <div class="text-wrapper">
        <div class="title">Setup Flow. Prepare technical enviroment for quick changes</div>
        <div class="description">More than just messaging, Agent Inbox facilitates collaboration on transactions, team conversations in channels, and scheduling management. Brokerages keep agents and staff informed and communicating in one central place.</div>
      </div>
      <div class="image">
        {% image tech_challenge_laptop.png %}
      </div>
    </div>
    <div class="row">
      <div class="image">
        {% image tech_challenge_multiplatform.png %}
      </div>
      <div class="text-wrapper">
        <div class="title">Setup Flow. Prepare technical environment for quick changes</div>
        <div class="description">More than just messaging, Agent Inbox facilitates collaboration on transactions, team conversations in channels, and scheduling management. Brokerages keep agents and staff informed and communicating in one central place.</div>
      </div>
    </div>
  </div>

</section>
<section class="keys values">
  <ul class="keys-list">
    <li>
      <div class="label">Five stars review</div>
      <div class="title">5984</div>
    </li>
    <li>
      <div class="label">Downloads</div>
      <div class="title">100 000</div>
    </li>
    <li>
      <div class="label">Active users</div>
      <div class="title">320 000</div>
    </li>
  </ul>
</section>
<section class="feedback customer">
  <ul class="feedback-list">
    <li class="feedback-block">
      <div class="author">
        <div class="description">
          <div class="name">Andrew Brown</div>
          <div class="role">customer</div>
        </div>
      </div>
      <div class="feedback-text">
        Agent Inbox is another example of a tool originally created by Railsware for internal use. With our particular needs solved, we thought it would be a good idea to share our add-on with the community. Combining powers of two great database tools
      </div>
    </li>
    <li class="feedback-block">
      <div class="author">
        <div class="description">
          <div class="name">Lisa Smith</div>
          <div class="role">customer</div>
        </div>
      </div>
      <div class="feedback-text">
        As Agent Inbox has been growing, Jetthoughts has been able to scale up really quickly, has been super flexible with changing products, changing demands with us internally, has been able to integrate very successfully with our engineering teams
      </div>
    </li>

  </ul>
</section>

<section class="tech-stack">
  <div class="wrapper">
    <div class="icons-block">
      <div class="title">Technologies</div>
      <div class="row">
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
      </div>
    </div>
    <div class="icons-block">
      <div class="title">Integrations</div>
      <div class="row">
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
      </div>
    </div>
  </div>
</section>
<section class="project-demo">
  <div class="wrapper">
    <div class="text-block">
      <div class="title">Want to see how Agent Inbox works?</div>
      <a class="subtitle" href="/">Explore Agent Inbox platform</a></div>
    <ul class="switcher hidden-md">
      {% for case_hash in site.data.use_cases %}
      {% assign case = case_hash[1] %}
      <li class="project-label active">
        <div class="project">{{ case.title }}</div>
        <label>{{ case.scope }}</label>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
