---
layout: inner
title: Portfolio
menu_title: Portfolio
description: "Check out our portfolio for featured web & mobile applications and online software projects. Our Ruby on Rails developers implement the best open-source technologies to create high-usability user interfaces, taking into consideration the target audience and business goals of our clients. We can also integrate web services into your application, enabling you to leverage the existing platform."
group: "navigation"
menu_position: 1
---

<div class="portfolio_wrap">
  <div class="row">
    <div class="column large-12">
      <div class="portfolio_sort dark_bg">
        <a class="sorter active" href="#all" data-sort-type="all">All</a>
        <a class="sorter" href="#webapp" data-sort-type="web">Web Apps</a>
        <a class="sorter" href="#apps" data-sort-type="mobile">Mobile Apps</a>
      </div>
    </div>
  </div>

  <div class="portfolio_list">
    {% for post in site.portfolio %}
    <section class="portfolio_item" data-portfolio="{{post.category}}">
      <div class="row">
        <div class="columns large-6 medium-6">
          <div class="portfolio_thumb">
            <img class="portfolio_thumb_img" src="{{post.thumb_wide}}" alt="project thumb"/>
          </div>
        </div>
        <div class="columns large-6 medium-6">
          <div class="details dark_bg">
            <header class="header clearfix">
              <h1 class="heading_one left">{{post.title}}</h1>
              {% if post.project_url %}
                <a class="project_link right" href="http://{{post.project_url}}">{{post.project_url}}</a>
              {% endif %}
            </header>
            <p class="summary">
              {{post.excerpt}}
            </p>

            <a class="button button_large" href="{{post.url}}">View details</a>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}

  </div>

</div>