---
layout: inner
title: Our Team
menu_title: Our Team
description: "Jettoughts is a friendly team of Ruby on Rail developers, testers and project managers. We are skilled professionals united by a desire to continue delivering effective solutions to satisfied clients. We are passionate about technology, coding and Agile process. We enjoy working together and developing great applications for your success."
group: "navigation"
menu_position: 2
---




<div class="team_wrap">
  <div class="row">
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.miry %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.pftg %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.annkuptsova %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.annafoksha %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.tehhi42 %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.alyona %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.xmarvin %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.xserg %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.mli-max %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.valeronm %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.rskvirskiy %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.mir4a %}
    </div>
      <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.tmwh %}
    </div>
      <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.shyjt %}
    </div>

  </div>
</div>
