---
layout: inner
title: Our Team
menu_title: Our Team
description: "JetThoughts is a friendly team of Ruby on Rail developers, testers and project managers. We are skilled professionals united by a desire to continue delivering effective solutions to satisfied clients. We are passionate about technology, coding and Agile process. We enjoy working together and developing great applications for your success."
group: "navigation"
menu_position: 2
---




<div class="team_wrap">
  <div class="row">
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.miry %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.pftg %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.xserg %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.annafoksha %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.valeronm %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.annkuptsova %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.mli-max %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.solomiya %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.tehhi42 %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.mir4a %}
    </div>
      <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.tmwh %}
    </div>
      <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.shyjt %}
    </div>
      <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.nazar %}
    </div>
      <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.andriy %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.alexey_2 %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.marchi-martius %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.hnat %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.loogle18 %}
    </div>
    <div class="columns large-6 medium-6">
      {% include sections/team/team_mate.html team=site.data.team.katlavan %}
    </div>
  </div>
</div>


<script async="async" src="/javascripts/team.js"></script>
