[class^="icons"]{
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
}

.icons-webapp {
  width: icons-sprite-width(webapp);
  height: icons-sprite-height(webapp);
}

.icons-mobile {
  width: icons-sprite-width(mobile);
  height: icons-sprite-height(mobile);
}

.icons-scales {
  width: icons-sprite-width(scales);
  height: icons-sprite-height(scales);
}

.icons-brain {
  width: icons-sprite-width(brain);
  height: icons-sprite-height(brain);
}

.icons-binder {
  width: icons-sprite-width(binder);
  height: icons-sprite-height(binder);
}

.icons-moneybag {
  width: icons-sprite-width(moneybag);
  height: icons-sprite-height(moneybag);
}

.icons-tools {
  width: icons-sprite-width(tools);
  height: icons-sprite-height(tools);
}

.icons-phone {
  width: icons-sprite-width(phone);
  height: icons-sprite-height(phone);
}

.icons-photo {
  width: icons-sprite-width(photo);
  height: icons-sprite-height(photo);
}

.icons-mail {
  width: icons-sprite-width(mail);
  height: icons-sprite-height(mail);
}

.icons-mic {
  width: icons-sprite-width(mic);
  height: icons-sprite-height(mic);
}

.icons-client-oriented {
  width: icons-sprite-width(client-oriented);
  height: icons-sprite-height(client-oriented);
}
.icons-efficiency {
  width: icons-sprite-width(efficiency);
  height: icons-sprite-height(efficiency);
}
.icons-support {
  width: icons-sprite-width(support);
  height: icons-sprite-height(support);
}

.icons-cost-advantage {
  width: icons-sprite-width(cost-advantage);
  height: icons-sprite-height(cost-advantage);
}

.icons-location {
  width: icons-sprite-width(location);
  height: icons-sprite-height(location);
}

.icons-facebook_small {
  width: icons-sprite-width(facebook_small);
  height: icons-sprite-height(facebook_small);
}

.icons-facebook_large {
  width: icons-sprite-width(facebook_large);
  height: icons-sprite-height(facebook_large);
}

.icons-mob_fb {
  width: icons-sprite-width(mob_fb);
  height: icons-sprite-height(mob_fb);
}

.icons-twitter_small {
  width: icons-sprite-width(twitter_small);
  height: icons-sprite-height(twitter_small);
}
.icons-twitter_large {
  width: icons-sprite-width(twitter_large);
  height: icons-sprite-height(twitter_large);
}

.icons-mob_twi {
  width: icons-sprite-width(mob_twi);
  height: icons-sprite-height(mob_twi);
}

.icons-birdy {
  width: icons-sprite-width(birdy);
  height: icons-sprite-height(birdy);
}


.icons-linkedin {
  width: icons-sprite-width(linkedin);
  height: icons-sprite-height(linkedin);
}
.icons-linkedin_large {
  width: icons-sprite-width(linkedin_large);
  height: icons-sprite-height(linkedin_large);
}

.icons-linkedin-small {
  width: icons-sprite-width(linkedin-small);
  height: icons-sprite-height(linkedin-small);
}

.icons-mob_in {
  width: icons-sprite-width(mob_in);
  height: icons-sprite-height(mob_in);
}

.icons-github {
  width: icons-sprite-width(github);
  height: icons-sprite-height(github);
}

.icons-mob_git {
  width: icons-sprite-width(mob_git);
  height: icons-sprite-height(mob_git);
}
.icons-octocat {
  width: icons-sprite-width(octocat);
  height: icons-sprite-height(octocat);
}

.icons-comment {
  width: icons-sprite-width(comment);
  height: icons-sprite-height(comment);
}

