$body-bg: $light_gray;

$panel-bg: $white;
$panel-border-style: none;

$radius: 5px;

$mid_radius: 9px;

$nav_height: 110px;
$topbar-height: $nav_height !default;
$topbar-bg: $deep_blue !default;
$topbar-dropdown-link-bg: $deep_blue !default;
$topbar-link-bg: $deep_blue !default;

