.wf-loading,
.wf-inactive {
  font-family: sans-serif;
}

.wf-active {
  font-family: 'Lato', sans-serif;
}

body {
  @include lato(1.111em);
  font-weight: 400;
  word-spacing: 0.1em;
  -webkit-font-smoothing: antialiased
}

$verb: 'verb_extraboldregular', sans-serif;
$lato: Lato;
.basic_text {
  font: {
    family: Lato;
    size: 16px;
    weight: normal;
  }
}

.white {
  color: $white;
}

p {
  font-weight: 400;
  line-height: 150%;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.blog_section {
  > .header {
    > .heading_one {
      font-weight: bold;
      margin-bottom: 50px;
    }
  }
}

.inner {
  .article {
    .heading_one {
      @include lato(2.25em);
      font-weight: 900;
      line-height: 140%;
      color: $dark_blue;
    }
    .message {
      @include lato(1.15em);
      line-height: 30px;
      text-align: center;
      color: $dark_blue;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
}

.list {
  font-size: 12px;
  padding: 0;
  list-style: none;
}

.post_content,
.detailed_inner {
  ul {
    margin: 10px 0 20px;
    padding-left: 20px;
    list-style: none;
    > li {
      position: relative;
      padding-left: 15px;
      > p {
        display: inline;
      }
      &:before {
        content: '— ';
        margin-left: -15px;
      }
    }
    > ul {
      list-style: square;
    }
  }
}

// Headings
.h1 {
  @include lato(2.1em);
  line-height: 130%;
  color: $dark_blue;
  margin: 14px 0 10px;
  margin-top: 1.8em;
  font-weight: bold;
}

.heading_one, h1 {
  @extend .h1;
}

h2,
.heading_two {
  @extend .h1;
  font-size: 2.3em;
}

h3,
.heading_three {
  @extend .h1;
  font-size: 1.45em !important;
}

h4,
.heading_four {
  @extend .h1;
  font-size: 16px;
}

h5,
.heading_five {
  @extend .h1;
  font-size: 14px;
}

h6,
.heading_six {
  @extend .h1;
  font-size: 13px;
  font-weight: 700;
}

.table {
  border: none;
  width: 100%;
  .tr {
    background: none;
  }
  .th {
    font-weight: 700;
    text-align: left;
  }
  .th,
  .td {
    font-size: 13px;
    border-bottom: 1px solid $light_gray;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
  }
  .td {
    padding-right: 10px;
  }
}

.notice {
  font-size: 0.75em;
  color: $dirt_blue;
  background: $explicit_gray;
  padding: 20px 10px;
  border-radius: $radius;
}

code {
  font-weight: 400;
}

.highlighttable {
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 10px;
  @extend .box;
  pre {
    white-space: pre;
  }
  .linenodiv {
    font-size: 11px;
    color: $explicit_gray;
  }
}
