$button_min_width: 190px;

.link {
  border-bottom: 1px solid transparent;
  &:hover {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

.link_underline {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.button {
  font-size: 21px;
  border: none;
  padding: 12px 20px;
  min-width: $button_min_width;
  background: $orange;
  border-radius: 3px;
  @include box-shadow(0 4px 0 $orange_shadow);
  &:hover {
    background: $orange_shadow;
  }
}

.button_super {
  font-size: 32px;
  font-weight: 700 !important;
  background: $orange;
  border-radius: 13px;
  padding-left: 4em;
  padding-right: 4em;
  @include box-shadow(0 9px 0 $orange_shadow);
  &:hover {
    background: $orange_shadow;
  }
}

.button_extraordinary {
  background: $orange;
  @include box-shadow(0 4px 0 $orange_shadow);
  &:hover {
    background: $orange_shadow;
  }
}

.button_primary {
  background: $modern_green;
  @include box-shadow(0 4px 0 $green_shadow);
  &:hover {
    background: $green_shadow;
  }
}

.button_ordinary {
  background: $explicit_gray;
  @include box-shadow(0 4px 0 $light_gray_3);
  &:hover {
    background: $light_gray_3;
  }
}

.button_gray {
  background: $gray;
  @include box-shadow(0 4px 0 $gray_shadow);
  &:hover {
    background: $gray_shadow;
  }
}

.button_dark {
  background: $dark_blue;
  @include box-shadow(0 4px 0 $deep_ocean);
  &:hover {
    background: $deep_ocean;
  }
}

.button_large {
  @extend .large-8;
}

$circle_icon_diameter: 132px;
$circle_mid_icon_diameter: 120px;
$circle_small_icon_diameter: 64px;
.icon_circle {
  text-align: center;
  line-height: $circle_icon_diameter;
  vertical-align: middle;
  width: $circle_icon_diameter;
  height: $circle_icon_diameter;
  position: relative;
  overflow: hidden;
  border: 1px solid $white;
  border-radius: ceil($circle_icon_diameter/2);
  &.green {
    background: $modern_green;
  }
  &.mid {
    width: $circle_mid_icon_diameter;
    height: $circle_mid_icon_diameter;
    line-height: $circle_mid_icon_diameter;
    border-radius: ceil($circle_mid_icon_diameter/2);
  }
  >[class*="icon"] {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  .icons-webapp {
    margin-left: -(icons-sprite-width(webapp)/2);
    margin-top: -(icons-sprite-height(webapp)/2);
  }

  .icons-mobile {
    margin-left: -(icons-sprite-width(mobile)/2);
    margin-top: -(icons-sprite-height(mobile)/2);
  }

  .icons-scales {
    margin-left: -(icons-sprite-width(scales)/2);
    margin-top: -(icons-sprite-height(scales)/2);
  }

  .icons-brain {
    margin-left: -(icons-sprite-width(brain)/2);
    margin-top: -(icons-sprite-height(brain)/2);
  }

  .icons-binder {
    margin-left: -(icons-sprite-width(binder)/2);
    margin-top: -(icons-sprite-height(binder)/2);
  }

  .icons-moneybag {
    margin-left: -(icons-sprite-width(moneybag)/2);
    margin-top: -(icons-sprite-height(moneybag)/2);
  }

  .icons-tools {
    margin-left: -(icons-sprite-width(tools)/2);
    margin-top: -(icons-sprite-height(tools)/2);
  }

  .icons-phone {
    margin-left: -(icons-sprite-width(phone)/2);
    margin-top: -(icons-sprite-height(phone)/2);
  }

  .icons-photo {
    margin-left: -(icons-sprite-width(photo)/2);
    margin-top: -(icons-sprite-height(photo)/2);
  }

  .icons-mail {
    margin-left: -(icons-sprite-width(mail)/2);
    margin-top: -(icons-sprite-height(mail)/2);
  }

  .icons-mic {
    margin-left: -(icons-sprite-width(mic)/2);
    margin-top: -(icons-sprite-height(mic)/2);
  }

  .icons-client-oriented {
    margin-left: -(icons-sprite-width(client-oriented)/2);
    margin-top: -(icons-sprite-height(client-oriented)/2);
  }
  .icons-efficiency {
    margin-left: -(icons-sprite-width(efficiency)/2);
    margin-top: -(icons-sprite-height(efficiency)/2);
  }
  .icons-support {
    margin-left: -(icons-sprite-width(support)/2);
    margin-top: -(icons-sprite-height(support)/2);
  }

  .icons-cost-advantage {
    margin-left: -(icons-sprite-width(cost-advantage)/2);
    margin-top: -(icons-sprite-height(cost-advantage)/2);
  }

}

.pagination {
  text-align: center;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  .page_item {
    @include inline-block;
    margin: 0 2px;
    &.active {
      .page_link {
        background: lighten($modern_green,15%);
        border-top: 3px solid lighten($green_shadow,10%);
      }
    }
    .page_link {
      @include myriad(16px);
      font-weight: 400;
      color: $white;
      text-align: center;
      display: block;
      min-width: 40px;
      background: $gray_shadow;
      padding: 6px 4px 6px;
      border-radius: $radius;
      border-top: 3px solid lighten($dirt_blue,5%);
      &:hover {
        background: $orange;
        border-top: 3px solid $orange_shadow;
      }
    }
  }
}
