<section class="mid_slider_section">
  <div class="row">

    <div class="large-12 column">
      <ul data-orbit="$data-orbit$" data-options="animation: fade">
        <li class="slide_item">
          <div class="icon_circle"><i class="slider_icon icon-beneficial"></i></div>
          <h2 class="heading_one">Beneficial terms</h2>


          <p class="slider_message">
            We offer decent salary according to your skills and experience, flexible working hours and support of your professional and personal growth.
          </p>
        </li>
        <li class="slide_item">
          <div class="icon_circle"><i class="slider_icon icon-team"></i></div>
          <h2 class="heading_one">Great work conditions</h2>


          <p class="slider_message">
            We believe that informal working environment and reasonable work-life balance contributes to team efficiency. Our comfortable spacious office features ergonomic workstations, fast Internet access and our favorite leisure zone.
          </p>
        </li>
        <li class="slide_item">
          <div class="icon_circle"><i class="slider_icon icon-dreamteam"></i></div>
          <h2 class="heading_one">Dream team</h2>


          <p class="slider_message">
            At JetThoughts you will work with amazing people doing extraordinary things. Our team is young and friendly, always ready to teach, support and encourage you. Brainstorming discussions and intellectual challenges make working with us far from being routine.
          </p>
        </li>
      </ul>
    </div>
  </div>

</section>
