<section class="mid_slider_section">
  <div class="row">

    <div class="large-12 column">
      <ul data-orbit="$data-orbit$" data-options="animation: fade">
        <li class="slide_item">
          <div class="icon_circle"><i class="slider_icon icon-beneficial"></i></div>
          <h2 class="heading_one">Follow your career path swiftly</h2>


          <p class="slider_message">
            In a close team of like-minded fellows you instantly get help from your colleagues, quick recognition for your contributions, meaningful feedback and regular pay reviews.
          </p>
        </li>
        <li class="slide_item">
          <div class="icon_circle"><i class="slider_icon icon-team"></i></div>
          <h2 class="heading_one">Work for company that cares</h2>


          <p class="slider_message">
            We listen carefully to your needs and do our best to make the working process as convenient as possible. We help you maintain a work-life balance, offer a comfortable workspace, tasty hot lunches and team-building activities.
          </p>
        </li>
        <li class="slide_item">
          <div class="icon_circle"><i class="slider_icon icon-dreamteam"></i></div>
          <h2 class="heading_one">Focus on the important things</h2>


          <p class="slider_message">
            Sharpen your skills in coding and building amazing apps using our own workflow and a set of tools that keep us efficient and concentrated on the project.
          </p>
        </li>
      </ul>
    </div>
  </div>

</section>
