<section class="catch_section">
  <div class="row">
    <div class="large-12 column">
      <div class="map_wrap">
        <img src="images/map.png" alt="JetThoughts" />
        <div class="map_message">

          <h2 class="big_heading">Ruby on Rails Developers!</h2>

          <span class="small_slogan">JetThoughts for your ideas</span>

          <p class="message">We make web and mobile applications, contribute to Open Source and love Agile.</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="s_footer dark_bg">
    <div class="row">
      <div class="large-12 columns">
        <p class="message">
          JetThoughts is a team of highly qualified Ruby on Rails developers, designers and managers. We have been in the highly-competitive software and web development markets of USA, Europe and Australia for 6 years, delivering a broad portfolio of services.
        </p>
      </div>
    </div>
  </footer>
</section>
