<section class="js-scroll section js-min-full-vh lets-talk">
  <div class="container">
    <div class="cell js-full-vh">
      <strong class="lets-talk__title"><span class="fade-down delay-1" itemprop="name">Let’s</span> <span class="fade-down delay-2">talk.</span></strong>
      <div class="wave mobile-show">{% include wave.html %}</div>
      <a href="#form" class="btn-primary js-modal-opener fade-down delay-3">Get in touch</a>
    </div>
    <div class="cell mobile-hide">
      <div class="wave-wrapper">
        <div class="wave">{% include wave.html %}</div>
      </div>
    </div>
  </div>
</section>
