<section class="js-scroll section js-min-full-vh main-screen">
  <div class="video-cover mobile-hide">
    <video playsinline autoplay muted loop class="video-bg">
      <source src="{% asset video_bg_hd.m4v @path %}" data-src="{% asset video_bg_full_hd.m4v @path %}" type="video/mp4">
      <source src="{% asset video_bg_hd.mp4 @path %}" data-src="{% asset video_bg_full_hd.mp4 @path %}" type="video/mp4">
    </video>
  </div>
  <div class="image-cover mobile-show">
    <img
      data-src="{% asset main-screen-bg-01.jpeg @path %}"
      src=""
      class="image-bg image-mobile"
      width="750"
      height="1329"
    >
  </div>
  <div class="container">
    <div class="tbl js-full-vh">
      <div class="cell">
        <h1 class="main-screen__title fade-up delay-2" itemprop="name">We make <span class="fade-up delay-3">apps</span></h1>
        <p class="main-screen__subtitle fade-up delay-4">There is a stressless way to deliver products, and we want to share it with as many people as possible.</p>
      </div>
      <div class="cell">
        <span class="js-menu-opener menu-opener mobile-show">Menu</span>
        <ul class="blog-nav">
          {% assign delay = 2 %}
          {% for post_hash in site.data.home.home.main_screen_posts %}
            {% assign post = post_hash[1] %}
            {% assign delay = delay | plus: 1 %}
            <li class="blog-nav__item fade-right delay-{{ delay }}" itemscope itemtype="http://schema.org/BlogPosting">
              <a href="{{ post.url }}" target="_blank" rel="noreferrer" class="blog-nav__link">{{ post.title }}</a>
              <meta itemprop="name headline" content="{{ post.title }}" />
              <meta itemprop="author" content="{{ post.author }}" />
              <meta itemprop="datePublished" content="{{ post.datePublished }}" />
              <meta itemprop="dateModified" content="{{ post.datePublished }}" />
              <meta itemprop="image" content="{{ post.image }}" />
              <meta itemprop="mainEntityOfPage" content="{{ post.mainEntityOfPage }}" />
              <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="{{ post.publisher.name }}" />
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                  <meta itemprop="url" content="{{ post.publisher.url }}" />
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <a href="/developers.html" class="btn-primary">Why Us?</a>
  </div>
</section>
