<section class="partners_section">
  <header class="s_header">
    <h1 class="heading_one">Our Valuable Clients</h1>
  </header>
  <ul class="partners">
    <li class="partner"><span class="clients-alba">Coach Alba</span></li>
    <li class="partner"><span class="clients-mipt">MIPT</span></li>
    <li class="partner"><span class="clients-bigbinary">BigBinary</span></li>
    <li class="partner"><span class="clients-vault">Vault</span></li>
    <li class="partner"><span class="clients-imagine">Imagine Productions</span></li>
  </ul>
</section>