<section class="js-scroll section js-min-full-vh bg_dark posts">
  <div class="slideshow-posts-wrapper">
    <div class="container">
      <small class="small-head fade-down delay-1" itemprop="name">Latest posts</small>
      <div class="post-slideshow">
        {% assign delay = 1 %}
        {% for post_hash in site.data.home.home.posts %}
          {% assign post = post_hash[1] %}
          {% assign delay = delay | plus: 1 %}
          <div class="post-slideshow__item fade-down delay-{{ delay }}" itemscope itemtype="http://schema.org/BlogPosting">
            <a href="{{ post.url }}" target="_blank" rel="noreferrer" class="post-slideshow__link">
              <small class="small-head">Medium</small>
              <strong class="post-slideshow__title" itemprop="name headline">{{ post.title }}</strong>
              <meta itemprop="author" content="{{ post.author }}" />
              <meta itemprop="datePublished" content="{{ post.datePublished }}" />
              <meta itemprop="dateModified" content="{{ post.datePublished }}" />
              <meta itemprop="image" content="{{ post.image }}" />
              <meta itemprop="mainEntityOfPage" content="{{ post.mainEntityOfPage }}" />
              <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="{{ post.publisher.name }}" />
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                  <meta itemprop="url" content="{{ post.publisher.url }}" />
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
