<section class="posts">
    <div class="container"><label class="label-posts">Latest posts</label>
        <ul class="posts-list">
            {% for post_hash in site.data.posts %}
            {% assign post = post_hash[1] %}
                <li>
                    <a href="{{ post.url }}"
                       target="_blank"><label>Medium</label><span>
                        {{ post.title }}
                    </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
