<section class="services" id="js-services">
    <article class="team">
        <div class="description animated"><label>Team</label>
            <div class="subtitle">Highly qualified Ruby on Rails developers, designers and managers</div>
        </div>
        {% include service-wave-svg.html %}
    </article>
    <article class="slider consulting animated">
        <div class="description"><label>Services</label>
            <div class="service-wrapper">
                <div class="title">Web Development</div>
                <div class="subtitle">We passionate into elegant solution for your web project using RubyOnRails, React and
                    more.
                </div>
            </div>
            <div class="service-wrapper">
                <div class="title">Mobile Development</div>
                <div class="subtitle">We build applications for mobile, from highly technical internal tools to robust customer
                    - facing interfaces.
                </div>
            </div>
        </div>
    </article>
</section>
