<section class="section services" id="services">
  <div class="col">
    <div class="services-slideshow">
      <div class="services-slideshow__item">
        <div class="cell">
          <div class="holder">
            <div class="services__description">
              <small class="small-head fade-down delay-3">SERVICES</small>
              <strong class="services__title fade-down delay-4"><span>Agile Consulting</span> We perform product audit, process configuration and automation , improve quality and productivity.</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="services-slideshow__item">
        <div class="cell">
          <div class="holder">
            <div class="services__description">
              <small class="small-head fade-down delay-3">SERVICES</small>
              <strong class="services__title fade-down delay-4"><span>Web Development</span> We passionate into elegant solution for your web project using RubyOnRails, React and more.</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="services-slideshow__item">
        <div class="cell">
          <div class="holder">
            <div class="services__description">
              <small class="small-head fade-down delay-3">SERVICES</small>
              <strong class="services__title fade-down delay-4"><span>Mobile Development</span> We build applications for mobile, from highly technical internal tools to robust customer facing interfaces.</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="services-slideshow-current-slide">0<span>1</span></span>
    <div class="services-slideshow-controls">
      <span class="services-slideshow-controls__btn services-slideshow-prev fade-down delay-5">prev</span>
      <span class="services-slideshow-controls__btn services-slideshow-next fade-down delay-5">next</span>
    </div>
  </div>
  <div class="col">
    <div class="cell">
      <div class="holder">
        <div class="services__description">
          <small class="small-head fade-down delay-2">Team</small>
          <strong class="services__title fade-down delay-3">Highly qualified Ruby on Rails developers, designers and managers.</strong>
        </div>
        <figure class="services__figure">
          {% include service-wave-svg.html %}
        </figure>
      </div>
    </div>
  </div>
</section>
