<section class="js-scroll section js-min-full-vh uses-cases" id="business-use-cases">
  <div class="uses-cases-controls-wrapper">
    <div class="container">
      <ul class="uses-cases-controls">
        {% assign delay = -1 %}
        {% for case_hash in site.data.home.home.use_cases %}
          {% assign case = case_hash[1] %}
          {% assign delay = delay | plus: 1 %}
          <li class="uses-cases-controls__item fade-left delay-{{ delay }}">
            <a href="#" class="uses-cases-controls__link">
              <strong class="uses-cases-controls__title">{{ case.title }}</strong>
              <span class="uses-cases-controls__descr">{{ case.scope }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="uses-cases-slideshow">
    <div class="uses-cases-slideshow__item">
      <div class="uses-cases-box js-full-vh" itemscope itemtype="http://schema.org/WebPage">
        <div class="container">
          <div class="uses-cases-box__descr">
            <strong class="uses-cases-box__title" itemprop="name"><span class="fade-down delay-3">Agent</span> <span class="fade-down delay-4">Inbox</span></strong>
            <p class="uses-cases-box__text fade-down delay-6" itemprop="description">{{ site.data.use_cases.agent_inbox.desc }}</p>
            <a class="uses-cases-box__more fade-down delay-7" href="/agentinbox.html" rel="noreferrer">More about Agent Inbox</a>
          </div>
          <div class="uses-cases-slideshow__figure">
            <img
              data-src="{% asset use-cases_img_01.jpg @path %}"
              data-srcset="{% asset use-cases_img_01.jpg @path %}"
              src=""
              class="lazy"
              title="Agent Inbox Mockups"
              alt="Agent Inbox"
              width="1600"
              height="1000"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="uses-cases-slideshow__item">
      <div class="uses-cases-box js-full-vh" itemscope itemtype="http://schema.org/WebPage">
        <div class="container">
          <div class="uses-cases-box__descr">
            <strong class="uses-cases-box__title" itemprop="name"><span class="fade-down delay-3">Open</span> <span class="fade-down delay-4">Apply</span></strong>
            <p class="uses-cases-box__text fade-down delay-6" itemprop="description">{{ site.data.use_cases.open_apply.desc }}</p>
            <a class="uses-cases-box__more fade-down delay-7" href="/openapply.html" rel="noreferrer">More about Open Apply</a>
          </div>
          <div class="uses-cases-slideshow__figure">
            <img
              data-src="{% asset use-cases_img_02.jpg @path %}"
              data-srcset="{% asset use-cases_img_02.jpg @path %}"
              src=""
              class="lazy"
              title="Open Apply Mockups"
              alt="Open Apply"
              width="1600"
              height="1000"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="uses-cases-slideshow__item">
      <div class="uses-cases-box js-full-vh" itemscope itemtype="http://schema.org/WebPage">
        <div class="container">
          <div class="uses-cases-box__descr">
            <strong class="uses-cases-box__title" itemprop="name"><span class="fade-down delay-3">Mobile</span> <span class="fade-down delay-4">Coach</span></strong>
            <p class="uses-cases-box__text fade-down delay-6" itemprop="description">{{ site.data.use_cases.mobile_coach.desc }}</p>
            <a class="uses-cases-box__more fade-down delay-7" href="{{ site.data.use_cases.mobile_coach.url }}" target="_blank" rel="noreferrer" itemprop="sameAs">More about Mobile Coach</a>
          </div>
          <div class="uses-cases-slideshow__figure">
            <img
              data-src="{% asset use-cases_img_03.jpg @path %}"
              data-srcset="{% asset use-cases_img_03.jpg @path %}"
              src=""
              class="lazy"
              title="Mobile Coach Mockups"
              alt="Mobile Coach"
              width="1600"
              height="1000"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
