<section class="uses-cases" id="js-use-cases">
  <ul class="switcher hidden-xs">
    {% for case_hash in site.data.use_cases %}
    {% assign case = case_hash[1] %}
      <li class="project-label">
        <div class="project">{{ case.title }}</div>
        <div class="type">{{ case.scope }}</div>
      </li>
    {% endfor %}
  </ul>
  <div class="slide animated agent-inbox">
    <div class="project"><label>use case</label>
      <div class="title hidden-sm">Agent Inbox</div>
      <a class="title show-sm" href="/case_ai.html" target="_blank">Agent Inbox</a>
      <a class="btn alternative hidden-sm" href="/case_ai.html" target="_blank">learn more</a></div>
    <div class="subtitle hidden-md"><span>Next level for Real Estate Agents Communication. Help to build new platform and deliver on the market</span>
    </div>
  </div>
</section>
