<div class="logos">
  {% for logo_hash in site.data.logos %}
    {% assign logo = logo_hash[1] %}
    <section class="logos_section">
      <div class="logos_holder">
        <img src="{% asset {{logo.url}} @path %}" class="logos_image" />
      </div>
      <div class="logos_description">
        <strong class="logos_text">Copy link</strong>
        <span class="logos_link js-copy" data-src="{{site.url}}{% asset {{logo.url}} magick:resize=60x60 @path %}">60x60</span>
        <span class="logos_link js-copy" data-src="{{site.url}}{% asset {{logo.url}} magick:resize=110x110 @path %}">110x110</span>
        <span class="logos_link js-copy" data-src="{{site.url}}{% asset {{logo.url}} magick:resize=128x128 @path %}">128x128</span>
        <span class="logos_link js-copy" data-src="{{site.url}}{% asset {{logo.url}} magick:resize=165x165 @path %}">165x165</span>
        <span class="logos_link js-copy" data-src="{{site.url}}{% asset {{logo.url}} magick:resize=170x170 @path %}">170x170</span>
        <span class="logos_link js-copy" data-src="{{site.url}}{% asset {{logo.url}} magick:resize=300x300 @path %}">300x300</span>
        <span class="logos_link js-copy" data-src="{{site.url}}{% asset {{logo.url}} magick:resize=400x400 @path %}">400x400</span>
      </div>
    </section>
  {% endfor %}
</div>
