<div class="logos">
  <section class="logos_section">
    <div class="logos_holder">
      <img src="{% asset footer-img-01.png @path %}" class="logos_image" />
    </div>
    <div class="logos_description">
      <strong class="logos_text">Copy link</strong>
      <span class="logos_link">400px x 400px</span>
      <span class="logos_link">170px x 170px</span>
      <span class="logos_link">128px x 128px</span>
    </div>
  </section>

  <section class="logos_section">
    <div class="logos_holder">
      <img src="{% asset footer-img-02.png @path %}" class="logos_image" />
    </div>
    <div class="logos_description">
      <strong class="logos_text">Copy link</strong>
      <span class="logos_link">400px x 400px</span>
      <span class="logos_link">170px x 170px</span>
      <span class="logos_link">128px x 128px</span>
      <span class="logos_link">500px x 500px</span>
    </div>
  </section>

  <section class="logos_section">
    <div class="logos_holder">
      <img src="{% asset footer-img-02.png @path %}" class="logos_image" />
    </div>
    <div class="logos_description">
      <strong class="logos_text">Copy link</strong>
      <span class="logos_link">400px x 400px</span>
      <span class="logos_link">170px x 170px</span>
    </div>
  </section>
</div>
