<footer class="footer bg_dark">
  <div class="container">
    <div class="tbl">
      <div class="cell">
        <small class="small-head">Social</small>
        <ul class="social-links">
          <li class="social-links__item">
            <a class="social-links__link" href="https://www.facebook.com/jetthoughts/" target="_blank">Facebook</a>
          </li>
          <li class="social-links__item">
            <a class="social-links__link" href="https://twitter.com/jetthoughts/" target="_blank">Twitter</a>
          </li>
          <li class="social-links__item">
            <a class="social-links__link" href="https://www.linkedin.com/company-beta/352850/" target="_blank">LinkedIn</a>
          </li>
          <li class="social-links__item">
            <a class="social-links__link" href="https://github.com/jetthoughts/" target="_blank">GitHub</a>
          </li>
          <li class="social-links__item">
            <a class="social-links__link" href="https://jtway.co/" target="_blank">Blog</a>
          </li>
        </ul>
      </div>
      <div class="cell">
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <small class="small-head">Email</small>
            <a class="contacts-list__link" href="mailto:info@jetthoughts.com">info@jetthoughts.com</a>
          </li>
          <li class="contacts-list__item">
            <small class="small-head">Telephone</small>
            <a class="contacts-list__link" href="tel:13213639914">+1 321 363 9914</a>
          </li>
        </ul>
        <div class="description">
          <p>JetThoughts is a team of highly qualified Ruby on Rails developers, designers and managers. We have been in the highly-competitive software and web development markets of USA, Europe and Australia for 6 years, delivering a broad portfolio of services. Besides Rails, we use Golang, React.js and React Native.</p>
        </div>
      </div>
      <div class="cell">
        <a href="/" class="logo">JetThoughts</a>
        <span class="copyright">&copy; 2018. All Rights Reserved.</span>
      </div>
    </div>
  </div>
</footer>
  {% asset vendor/jquery-3.3.1.min.js %}
  {% asset vendor/slick.min.js %}
  {% asset application.js %}
  {% include analytics.html %}
</body>
</html>
