<footer>
    <div class="container">
        <div class="col-3"><label>Social</label>
            <ul class="social-links">
                <li><a href="https://www.facebook.com/jetthoughts/" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/jetthoughts/" target="_blank">Twitter</a></li>
                <li><a href="https://www.linkedin.com/company-beta/352850/" target="_blank">Linkedin</a></li>
                <li><a href="https://github.com/jetthoughts/" target="_blank">Github</a></li>
            </ul>
        </div>
        <div class="col-6">
            <div class="contacts">
                <div class="mail"><label>email</label><a class="info"
                                                         href="mailto:info@jetthoughts.com">info@jetthoughts.com</a></div>
                <div class="phone"><label>telephone</label>
                    <div class="info">+1 321 363 99 14</div>
                </div>
            </div>
            <div class="promo-text">JetThoughts is a team of highly qualified Ruby on Rails developers, designers, and
                managers. We have been in
                the highly-competetitive software and web development markets of USA, Europe and Australia for 6 years,
                delivering a broad portfolio of services. Besides Rails, we use Golang, React.js and React Native.
            </div>
        </div>
        <div class="col-3 rights"><span>JetThoughts</span><label>@2017. All Rights Reserved.</label></div>
    </div>
</footer>
{% js vendor/zepto.min.js %}
{% js vendor/noframework.waypoints.min.js async %}
{% js vendor/smooth-scroll.min.js async %}
{% js application %}
</body>
</html>
