<footer class="footer bg_dark" itemscope itemtype="http://schema.org/WPFooter">
  <div class="container">
    <div class="tbl">
      <div class="cell">
        <small class="small-head">Social</small>
        <ul class="social-links" itemscope itemtype="http://schema.org/Organization">
          {% for post_hash in site.data.socials %}
            {% assign item = post_hash[1] %}
            <li class="social-links__item">
              <a class="social-links__link" itemprop="sameAs" href="{{ item.url }}" target="_blank" rel="noreferrer">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="cell contacts">
        <ul class="contacts-list">
          <li class="contacts-list__item">
            <small class="small-head">Email</small>
            <a class="contacts-list__link" href="mailto:info@jetthoughts.com">info@jetthoughts.com</a>
          </li>
          <li class="contacts-list__item">
            <small class="small-head">Telephone</small>
            <a class="contacts-list__link" href="tel:17542169568‬">+1 754 216 9568‬</a>
          </li>
        </ul>
        <div class="description" itemprop="description">
          <p>We're industry experts crafting world-class apps in Rails, Elixir, React, iOS, and Android.</p>
          <p>JetThoughts's expert team of developers and consultants has helped clients launch highly tailored projects, and we'd love to help you, too.</p>
        </div>
      </div>
      <div class="cell">
        <div>
          <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="1" data-height="50" data-darkbg="1" data-clutchcompany-id="927824"></div>
        </div>
        <p class="glassdoor-logo-wrapper">
          <a class="glassdoor-logo" href="https://www.glassdoor.com/Overview/Working-at-JetThoughts-EI_IE456589.11,22.htm">
            <img class="lazy" data-src="{% asset glassdoor-icon.png @path %}" data-srcset="{% asset glassdoor-icon.png @path %}" alt="Glassdoor">
            <span>Glassdoor</span>
          </a>
        </p>
        <p>
          <a href="/" class="logo">JetThoughts LLC</a>
          <span class="copyright">&copy; <span itemprop="copyrightYear">2020</span>. All Rights Reserved.</span>
        </p>
      </div>
    </div>
  </div>
</footer>
  {% asset vendor/jquery-3.3.1.min.js @inline %}
  {% asset vendor/fontfaceobserver.js @inline %}
  {% asset vendor/slick.min.js @inline %}
  {% asset application.js @inline %}
  <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
</body>
</html>
