{% assign id = include.id %}
{% assign position = include.position %}
<form class="form contact_form" method="post" target="_self" onsubmit="" action="" data-source="career: {{position}}">

  <div class="row">
    <div class="columns large-2"><label class="form_label" for="name_{{ id | cgi_escape }}">Name:</label></div>
    <div class="columns large-10"><input id="name_{{ id | cgi_escape }}" class="form_input name_input" type="text" name="name" /></div>
  </div>

  <div class="row">
    <div class="columns large-2"><label class="form_label" for="email_{{ id | cgi_escape }}">E-mail:</label></div>
    <div class="columns large-10">
      <div class="validation_wrap">
        <input id="email_{{ id | cgi_escape }}" class="form_input email_input" type="email" name="email" required="required" />
        <span class="error validate_text">Check Email</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="columns large-12">
      <div class="validation_wrap">
        <textarea id="message_{{ id | cgi_escape }}" class="textarea message_input" name="message" cols="30" rows="10" required="required" placeholder="Message"></textarea>
        <span class="error validate_text">Write something to us</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 column">
      <button class="button left submit_btn" type="button">Send</button>
    </div>
  </div>

  <div class="form_sent">
    <div class="thnk_u">
      <p>
        Thank you for your message. We will respond you ASAP.
      </p>
    </div>
  </div>

</form>
