<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="Pv5lBObJgEEQZ8qdZrM_O0SgtG2WjFCkF7PZestBDcA" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:locale" content="en_US">

    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ site.url }}/logo_500.png">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">

    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:updated_time" content="{{ site.time }}">

    <!--TODO: Need to register app and insert app id into tag below, do the same with admins -->

    <meta name="fb:app_id" content="">
    <meta name="fb:admins" content="">
    <meta name="fb:profile_id" content="277156138129">

    <!--TODO: After production deployment need to validate and send application for twitter cards. More info at https://dev.twitter.com/docs/cards/validation/validator -->

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:creator" content="@jetthoughts">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:domain" content="www.jetthoughts.com">
    <meta name="twitter:site" content="@jetthoughts">
    <meta name="twitter:image" content="{{ site.url }}/social-logo.png">

    {% asset styles.css @inline %}

    <link rel="icon" href="/favicon.ico?v=3" sizes="16x16 32x32">
    <link rel="shortcut icon" href="/favicon.ico?v=3">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">

    {% include analytics.html %}
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "https://www.jetthoughts.com/",
          "name": "JetThoughts",
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+1-321-363-9914",
            "email": "info@jetthoughts.com",
            "contactType": "Customer service"
          }
        }
    </script>
</head>
<body>
