{% if paginator.total_pages > 1 %}
<ul class="pagination">

  {% for page in (1..paginator.total_pages) %}
  {% if page == paginator.page %}
  <li class="page_item active">
    <span class="current-page page_link">{{ page }}</span>
    {% elsif page == 1 %}
  <li class="page_item">
    <a class="page_link" href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
  <li class="page_item">
    <a class="page_link" href="/{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  </li>
  {% endfor %}

</ul>
{% endif %}