<svg width="100%" height="200" viewbox="0 0 991 92" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Canvas" transform="translate(-26703 -3883)">
        <g id="talkline">
            <g id="Line 6">
                <use xlink:href="#path0_stroke" transform="matrix(1 -2.44929e-16 2.44929e-16 1 26703 3929)"
                     fill="#FFFFFF" fill-opacity="0.2"></use>
            </g>
            <g id="Line 6">
                <use xlink:href="#path1_stroke" transform="translate(27274 3929)" fill="#FFFFFF"
                     fill-opacity="0.2"></use>
            </g>
            <g id="Group">
                <g id="Vector">
                    <use xlink:href="#path2_stroke" transform="translate(26898.5 3925)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path3_stroke" transform="translate(26904.5 3922)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path4_stroke" transform="translate(26910.5 3920)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path5_stroke" transform="translate(26916.5 3914)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path6_stroke" transform="translate(26922.5 3918)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path7_stroke" transform="translate(26928.5 3910)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path8_stroke" transform="translate(26934.5 3923)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path9_stroke" transform="translate(26940.5 3906)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path10_stroke" transform="translate(26946.5 3911)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path11_stroke" transform="translate(26952.5 3917)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path3_stroke" transform="translate(26958.5 3922)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path12_stroke" transform="translate(26964.5 3926)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path8_stroke" transform="translate(26970.5 3923)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path11_stroke" transform="translate(26976.5 3917)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path13_stroke" transform="translate(26982.5 3907)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path14_stroke" transform="translate(26988.5 3896)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path15_stroke" transform="translate(26994.5 3884)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path16_stroke" transform="translate(27000.5 3897)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path17_stroke" transform="translate(27006.5 3913)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path8_stroke" transform="translate(27012.5 3923)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path2_stroke" transform="translate(27018.5 3925)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path18_stroke" transform="translate(27024.5 3921)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path11_stroke" transform="translate(27030.5 3917)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path8_stroke" transform="translate(27036.5 3923)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path19_stroke" transform="translate(27042.5 3912)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path13_stroke" transform="translate(27048.5 3907)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path20_stroke" transform="translate(27054.5 3902)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path21_stroke" transform="translate(27060.5 3898)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path22_stroke" transform="translate(27066.5 3893)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path23_stroke" transform="translate(27072.5 3888)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path24_stroke" transform="translate(27078.5 3883)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path24_stroke" transform="translate(27084.5 3883)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path23_stroke" transform="translate(27090.5 3888)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path25_stroke" transform="translate(27096.5 3894)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path21_stroke" transform="translate(27102.5 3898)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path20_stroke" transform="translate(27108.5 3902)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path26_stroke" transform="translate(27114.5 3908)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path19_stroke" transform="translate(27120.5 3912)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path11_stroke" transform="translate(27126.5 3917)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path4_stroke" transform="translate(27131.5 3920)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path8_stroke" transform="translate(27137.5 3923)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path27_stroke" transform="translate(27143.5 3919)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path3_stroke" transform="translate(27149.5 3922)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path11_stroke" transform="translate(27155.5 3917)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path2_stroke" transform="translate(27161.5 3925)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path5_stroke" transform="translate(27167.5 3914)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path11_stroke" transform="translate(27173.5 3917)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path18_stroke" transform="translate(27179.5 3921)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path2_stroke" transform="translate(27185.5 3925)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path12_stroke" transform="translate(27191.5 3926)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path2_stroke" transform="translate(27197.5 3925)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path18_stroke" transform="translate(27203.5 3921)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path11_stroke" transform="translate(27209.5 3917)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path5_stroke" transform="translate(27215.5 3914)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path10_stroke" transform="translate(27221.5 3911)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path28_stroke" transform="translate(27227.5 3915)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path18_stroke" transform="translate(27233.5 3921)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path2_stroke" transform="translate(27239.5 3925)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path29_stroke" transform="translate(27244.5 3927)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path30_stroke" transform="translate(27250.5 3924)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path18_stroke" transform="translate(27256.5 3921)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path2_stroke" transform="translate(27262.5 3925)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
                <g id="Vector">
                    <use xlink:href="#path12_stroke" transform="translate(27268.5 3926)" fill="#FFFFFF"
                         fill-opacity="0.2"></use>
                </g>
            </g>
        </g>
    </g>
    <defs>
        <path id="path0_stroke" d="M 0 0.5L 190 0.5L 190 -0.5L 0 -0.5L 0 0.5Z"></path>
        <path id="path1_stroke" d="M 0 0.5L 420 0.5L 420 -0.5L 0 -0.5L 0 0.5Z"></path>
        <path id="path2_stroke" d="M -0.5 0L -0.5 8L 0.5 8L 0.5 0L -0.5 0Z"></path>
        <path id="path3_stroke" d="M -0.5 0L -0.5 14L 0.5 14L 0.5 0L -0.5 0Z"></path>
        <path id="path4_stroke" d="M -0.5 0L -0.5 18L 0.5 18L 0.5 0L -0.5 0Z"></path>
        <path id="path5_stroke" d="M -0.5 0L -0.5 30L 0.5 30L 0.5 0L -0.5 0Z"></path>
        <path id="path6_stroke" d="M -0.5 0L -0.5 22L 0.5 22L 0.5 0L -0.5 0Z"></path>
        <path id="path7_stroke" d="M -0.5 0L -0.5 38L 0.5 38L 0.5 0L -0.5 0Z"></path>
        <path id="path8_stroke" d="M -0.5 0L -0.5 12L 0.5 12L 0.5 0L -0.5 0Z"></path>
        <path id="path9_stroke" d="M -0.5 0L -0.5 46L 0.5 46L 0.5 0L -0.5 0Z"></path>
        <path id="path10_stroke" d="M -0.5 0L -0.5 36L 0.5 36L 0.5 0L -0.5 0Z"></path>
        <path id="path11_stroke" d="M -0.5 0L -0.5 24L 0.5 24L 0.5 0L -0.5 0Z"></path>
        <path id="path12_stroke" d="M -0.5 0L -0.5 6L 0.5 6L 0.5 0L -0.5 0Z"></path>
        <path id="path13_stroke" d="M -0.5 0L -0.5 44L 0.5 44L 0.5 0L -0.5 0Z"></path>
        <path id="path14_stroke" d="M -0.5 0L -0.5 66L 0.5 66L 0.5 0L -0.5 0Z"></path>
        <path id="path15_stroke" d="M -0.5 0L -0.5 90L 0.5 90L 0.5 0L -0.5 0Z"></path>
        <path id="path16_stroke" d="M -0.5 0L -0.5 64L 0.5 64L 0.5 0L -0.5 0Z"></path>
        <path id="path17_stroke" d="M -0.5 0L -0.5 32L 0.5 32L 0.5 0L -0.5 0Z"></path>
        <path id="path18_stroke" d="M -0.5 0L -0.5 16L 0.5 16L 0.5 0L -0.5 0Z"></path>
        <path id="path19_stroke" d="M -0.5 0L -0.5 34L 0.5 34L 0.5 0L -0.5 0Z"></path>
        <path id="path20_stroke" d="M -0.5 0L -0.5 54L 0.5 54L 0.5 0L -0.5 0Z"></path>
        <path id="path21_stroke" d="M -0.5 0L -0.5 62L 0.5 62L 0.5 0L -0.5 0Z"></path>
        <path id="path22_stroke" d="M -0.5 0L -0.5 72L 0.5 72L 0.5 0L -0.5 0Z"></path>
        <path id="path23_stroke" d="M -0.5 0L -0.5 82L 0.5 82L 0.5 0L -0.5 0Z"></path>
        <path id="path24_stroke" d="M -0.5 0L -0.5 92L 0.5 92L 0.5 0L -0.5 0Z"></path>
        <path id="path25_stroke" d="M -0.5 0L -0.5 70L 0.5 70L 0.5 0L -0.5 0Z"></path>
        <path id="path26_stroke" d="M -0.5 0L -0.5 42L 0.5 42L 0.5 0L -0.5 0Z"></path>
        <path id="path27_stroke" d="M -0.5 0L -0.5 20L 0.5 20L 0.5 0L -0.5 0Z"></path>
        <path id="path28_stroke" d="M -0.5 0L -0.5 28L 0.5 28L 0.5 0L -0.5 0Z"></path>
        <path id="path29_stroke" d="M -0.5 0L -0.5 4L 0.5 4L 0.5 0L -0.5 0Z"></path>
        <path id="path30_stroke" d="M -0.5 0L -0.5 10L 0.5 10L 0.5 0L -0.5 0Z"></path>
    </defs>
</svg>
