@media screen and ($b_laptop) {
  .header {
    padding: 21px 30px;
  }
  .main-screen .tbl {
    padding: 106px 0 134px;
  }
  .main-screen .cell+.cell {
    width: 192px;
    padding-left: 13px;
  }
  .main-screen__title {
    font-size: 136px;
    line-height: 164px;
  }
  .blog-nav {
    right: -21px;
    &:before {
      right: -37px;
    }
  }
  .blog-nav__item {
    font-size: 15px;
    line-height: 22px;
    padding: 25px 0;
  }
  .blog-nav__link {
    max-height: 67px;
    &:before {
      right: -38px;
    }
  }
  .btn-scroll-down {
    margin-left: 12px;
  }
  .animation .btn-scroll-down {
    bottom: 104px;
  }
  .services .col .holder {
    max-width: 517px;
  }
  .services .cell {
    padding-bottom: 32px;
  }
  .services__description {
    max-width: 341px;
  }
  .services__text {
    font-size: 41px;
    line-height: 55px;
    max-height: 441px;
  }
  .services-slideshow .services__text {
    font-size: 31px;
    line-height: 40px;
  }
  .services-slideshow-controls {
    left: 155px;
    bottom: 129px;
  }
  .services-slideshow-controls__btn+.services-slideshow-controls__btn {
    margin-left: 16px;
  }
  .services-slideshow-current-slide {
    top: 256px;
    left: auto;
    right: 124px;
    font-size: 31px;
  }
  .animation .services-slideshow-current-slide {
    top: 86px;
  }
  .uses-cases-controls {
    padding: 76px 72px 0 0;
    margin: 0 -54px;
  }
  .uses-cases-controls__item {
    padding: 0 54px;
  }
  .uses-cases-controls__link {
    padding-bottom: 24px;
  }
  .uses-cases-controls__title {
    margin-bottom: 6px;
    font-size: 17px;
    line-height: 20px;
  }
  .uses-cases-controls__descr {
    font-size: 11px;
    line-height: 14px;
  }
  .uses-cases-box {
    padding: 157px 0 40px;
  }
  .uses-cases-box__descr {
    max-width: 427px;
  }
  .uses-cases-box__title {
    font-size: 136px;
    line-height: 145px;
    margin-bottom: 60px;
  }
  .uses-cases-box__text {
    min-height: 140px;
    max-width: 256px;
    margin-bottom: 30px;
    padding-bottom: 13px;
    &:before {
      width: 68px;
    }
  }
  .uses-cases-box__more {
    font-size: 11px;
    line-height: 14px;
  }
  .posts .small-head {
    margin-bottom: 50px;
  }
  .post-slideshow {
    margin: 0 -8px;
  }
  .post-slideshow .slick-arrow {
    margin-top: -8px;
    width: 17px;
    height: 17px;
  }
  .post-slideshow .slick-prev {
    left: -43px;
  }
  .post-slideshow .slick-next {
    right: -43px;
  }
  .post-slideshow__item {
    padding: 0 8px;
  }
  .post-slideshow__link {
    padding: 43px 38px;
    height: 427px;
    &:before {
      top: 36px;
      right: 46px;
    }
    &:after {
      top: 31px;
      right: 46px;
    }
  }
  .post-slideshow__title {
    font-size: 31px;
    line-height: 40px;
    height: 123px;
  }
  .lets-talk .cell:first-child {
    width: 340px;
    padding-right: 13px;
  }
  .lets-talk__title {
    font-size: 137px;
    line-height: 164px;
    margin-bottom: 43px;
  }
  .wave-wrapper {
    padding-top: 32px;
  }
  .wave {
    padding-left: 166px;
    &:before {
      width: 162px;
    }
    &:after {
      width: 1708px;
      margin-left: 4px;
    }
    img {
      width: 316px;
    }
  }
  .footer {
    padding: 130px 0;
    .cell:first-child {
      padding-right: 13px;
      width: 256px;
    }
    .cell:last-child {
      padding-left: 13px;
      padding-bottom: 20px;
      width: 333px;
    }
    .logo {
      margin-bottom: 14px;
    }
    .copyright {
      font-size: 12px;
      line-height: 15px;
    }
    .small-head {
      margin-bottom: 14px;
    }
  }
  .social-links {
    font-size: 20px;
    line-height: 25px;
  }
  .social-links__item {
    margin-bottom: 24px;
  }
  .contacts-list {
    margin-bottom: 50px;
  }
  .contacts-list__item+.contacts-list__item {
    margin-left: 107px;
  }
  .ai-main-banner {
    padding: 43px 0 75px;
    height: 854px;
  }
  .ai-main-banner__title {
    font-size: 137px;
    line-height: 145px;
    margin-bottom: 45px;
  }
  .ai-main-banner__description {
    max-width: 400px;
  }
  .ai-main-banner__img {
    bottom: -198px;
    max-width: 60%;
  }
  .ai-description {
    .cell {
      height: 683px;
      padding: 43px 0 46px;
    }
  }
  .ai-description__title {
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 28px;
  }
  .ai-description__text {
    font-size: 15px;
    line-height: 24px;
  }
  .ai-communication {
    .cell {
      height: 828px;
      padding: 43px 0 54px;
    }
    &:before {
      width: 31.26%;
    }
  }
  .ai-communication__title {
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 31px;
  }
  .ai-communication__description {
    max-width: 470px;
  }
  .ai-communication__text {
    font-size: 15px;
    line-height: 24px;
  }
  .ai-communication__img {
    &.chat {
      bottom: 444px;
      max-width: 24.52%;
    }
    &.price {
      bottom: 116px;
      max-width: 35.29%;
    }
  }
  .animation {
    .ai-communication__img {
      &.chat {
        right: 55px;
      }
      &.price {
        right: 17px;
      }
    }
  }
  .ai-go-it {
    .ai-communication__img {
      right: -16.84%;
      max-width: 86.31%;
    }
    &.animation {
      .ai-communication__img {
        top: -11px;
      }
    }
  }
  .ai-company-info {
    padding: 121px 0 85px;
    min-height: 342px;
    .info-list {
      margin: 0 -13px;
    }
    .info-list__item {
      padding: 0 13px;
    }
    .info-list__title {
      font-size: 17px;
      line-height: 22px;
      margin-bottom: 11px;
    }
    .info-list__text {
      font-size: 31px;
      line-height: 36px;
    }
  }
  .ai-testimonials {
    padding: 156px 0 168px;
    .list {
      margin: 0 -9px;
    }
    .list__item {
      padding: 0 9px 17px;
    }
  }
  .ai-testimonial {
    padding: 32px 30px 26px;
  }
  .ai-testimonial__foto {
    width: 36px;
    height: 36px;
    margin-right: 19px;
  }
  .ai-testimonial__description {
    min-height: 284px;
  }
  .ai-testimonial__name {
    margin-bottom: 8px;
  }
  .ai-testimonial__position {
    font-size: 9px;
    line-height: 12px;
    margin-bottom: 45px;
  }
  .ai-testimonial__text {
    font-size: 15px;
    line-height: 24px;
  }
  .ai-advantages {
    .col {
      height: 683px;
    }
  }
  .ai-advantages__description {
    max-width: 410px;
    margin: 43px auto 70px;
  }
  .ai-advantages__title {
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 17px;
  }
  .ai-advantages__text {
    font-size: 15px;
    line-height: 24px;
  }
  .ai-challenge {
    padding: 115px 0 54px;
    .tbl {
      margin-bottom: 64px;
    }
  }
  .ai-challenge__head {
    max-width: 406px;
    margin: 0 auto 37px;
    font-size: 11px;
    line-height: 17px;
  }
  .ai-challenge__description {
    max-width: 406px;
  }
  .ai-challenge__title {
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 26px;
  }
  .ai-challenge__text {
    margin-bottom: 22px;
  }
  .ai-customers {
    padding: 144px 0 191px;
  }
  .ai-customers-carousel {
    max-width: 495px;
    .ai-testimonial {
      box-shadow: 55px 55px 55px 0px rgba(0,0,0,0.05);
      padding: 47px 55px 26px;
    }
    .ai-testimonial__position {
      margin-bottom: 31px;
    }
    .ai-testimonial__description {
      min-height: 271px;
    }
  }
  .ai-customers-carousel__item {
    padding: 0 9px;
  }
  .ai-stack {
    padding: 83px 0;
    .col+.col {
      padding-left: 92px;
      border-left: 1px solid #f2f2f2;
    }
    .list {
      margin: 0 -9px;
      max-width: 350px;
    }
    .list__item {
      padding: 0 9px 17px;
    }
  }
  .ai-stack__item {
    max-width: 68px;
    min-height: 122px;
  }
  .ai-stack__title {
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 81px;
  }
  .ai-stack__holder {
    width: 68px;
    height: 68px;
    border-radius: 13px;
    box-shadow: 2px 2px 23px 0px rgba(0,0,0,0.05);
  }
  .ai-stack__name {
    padding-top: 11px;
    font-size: 13px;
    line-height: 24px;
  }
  .ai-projects {
    padding: 27px 0;
    .list {
      padding: 58px 0 40px;
      margin: 114px -13px 0;
      border-top: 1px solid #f2f2f2;
    }
    .list__item {
      padding: 0 13px;
    }
  }
  .ai-projects__title {
    font-size: 48px;
    line-height: 61px;
  }
  .ai-projects__name {
    font-size: 17px;
    line-height: 24px;
  }
  .ai-projects__development {
    font-size: 11px;
    line-height: 24px;
  }
}
