@media screen and ($b_mobile) {
  .header {
    padding: 10px 18px;
    .logo {
      margin-top: 7px;
      max-width: 34px;
      overflow: hidden;
      img {
        @media screen and ($b_mobile) {
          width: 158px;
        }
      }
    }
  }
  .main-screen .tbl {
    padding: 0 0 40px;
  }
  .main-screen .cell+.cell {
    width: 100%;
    padding-left: 0;
  }
  .main-screen__title {
    font-size: 67px;
    line-height: 80px;
  }
  .blog-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    right: -100%;
    background: $gray;
    z-index: 11;
    padding: 60px 60px 40px;
    text-align: center;
    overflow-y: auto;
    @include transition(0s);
    &:before {
      display: none;
    }
  }
  .menu-open .blog-nav {
    right: 0;
  }
  .btn-scroll-down {
    opacity: 1;
    bottom: 160px;
    margin-left: 0;
  }
  .animation .btn-scroll-down {
    bottom: 160px;
  }
  .services .col {
    float: none;
    width: 100%;
    text-align: left;
  }
  .services .col+.col {
    float: none;
    width: 100%;
  }
  .services .cell {
    padding: 30px 0;
  }
  .services__description {
    max-width: 290px;
    margin: 0;
  }
  .services .col .holder,
  .services .col+.col .holder {
    padding: 0 40px;
    min-height: 1px;
  }
  .services__text {
    font-size: 30px;
    line-height: 38px;
  }
  .services-slideshow {
    background: $white;
    &:before {
      @include transition(0s);
      display: none;
    }
  }
  .services-slideshow .services__text {
    font-size: 23px;
    line-height: 31px;
  }
  .services-slideshow-controls {
    bottom: 80px;
    left: 30px;
  }
  .services-slideshow-controls__btn+.services-slideshow-controls__btn {
    margin-left: 2px;
  }
  .services-slideshow-current-slide {
    left: auto;
    right: 40px;
    font-size: 18px;
  }
  .animation .services-slideshow-current-slide {
    top: 49px;
  }
  .uses-cases-controls-wrapper {
    display: none;
  }
  .uses-cases-box {
    padding: 30px 0;
  }
  .uses-cases-box__title span {
    display: inline-block;
  }
  .uses-cases-box__title {
    font-size: 57px;
    line-height: 69px;
    margin-bottom: 30px;
  }
  .uses-cases-box__text {
    min-height: 1px;
    padding-bottom: 15px;
  }
  .uses-cases-slideshow__figure {
    @include transition(0s);
    float: right;
  }
  .slideshow-posts-wrapper {
    padding-bottom: 40px;
  }
  .post-slideshow {
    margin-right: -53px;
    margin-left: -8px;
    padding-right: 125px;
    .slick-list {
      overflow: visible;
    }
  }
  .post-slideshow__link {
    height: 275px;
    padding: 23px 22px;
    margin-bottom: 5px;
    &:before {
      top: 20px;
      right: 25px;
    }
    &:after {
      top: 15px;
      right: 25px;
    }
  }
  .post-slideshow__title {
    font-size: 18px;
    line-height: 23px;
    height: 71px;
  }
  .lets-talk .cell:first-child {
    padding-right: 0;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    background: none;
  }
  .lets-talk .cell {
    display: block;
  }
  .lets-talk .cell:last-child {
    height: auto !important;
  }
  .lets-talk__title {
    font-size: 77px;
    line-height: 93px;
    margin-bottom: 50px;
  }
  .wave {
    display: block;
    margin: 0 -40px 50px;
    font-size: 0;
    line-height: 0;
    padding: 0;
    &:before,
    &:after {
      display: none;
    }
    svg {
      width: 100%;
    }
  }
  .modal__close {
    top: 40px;
    right: 40px;
  }
  .contact-form {
    .row {
      margin: 0;
    }
    .col {
      padding: 0 0 30px;
      display: block;
      width: 100%;
    }
  }
  .contact-form__label {
    font-size: 10px;
    line-height: 14px;
    display: block;
    margin-bottom: 15px;
  }
  .contact-form__message {
    margin-bottom: 30px;
    padding-top: 0;
    .form-control {
      height: 120px;
    }
  }
  .form-control {
    height: 40px;
    font-size: 16px;
    line-height: 40px;
  }
  .footer {
    padding: 72px 0 65px;
    font-size: 11px;
    line-height: 19px;
    .cell {
      display: block;
      width: auto;
    }
    .contacts {
      display: table;
      .contacts-list {
        margin-top: 50px;
      }
      .description {
        display: table-header-group;
      }
    }
    .cell:first-child {
      display: block;
      width: auto;
      padding: 0;
    }
    .cell:last-child {
      display: block;
      width: auto;
      text-align: left;
      padding: 0;
    }
    .description {
      margin-bottom: 48px;
    }
    .logo {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 0;
    }
    .copyright {
      font-size: 10px;
      line-height: 16px;
    }
    .small-head {
      margin-bottom: 0;
    }
  }
  .social-links {
    padding: 26px 0 34px;
    font-size: 23px;
    line-height: 29px;
  }
  .social-links__item {
    margin-bottom: 14px;
  }
  .contacts-list__item {
    font-size: 11px;
    line-height: 15px;
  }
  .contacts-list__item+.contacts-list__item {
    margin-left: 40px;
  }
  .posts {
    min-height: 440px !important;
  }
  .ai-main-banner,
  .oa-main-banner {
    display: block;
    width: 100%;
    height: 667px;
    padding: 126px 0;
  }
  .oa-main-banner__title,
  .ai-main-banner__title {
    font-size: 80px;
    line-height: 85px;
  }
  .ai-main-banner__img {
    right: -129px;
    bottom: -117px;
    width: 551px;
    max-width: none;
  }
  .ai-description {
    text-align: left;
    .cell {
      height: 491px;
      padding: 30px 0;
    }
  }
  .ai-description__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 21px;
  }
  .ai-description__text {
    font-size: 12px;
    line-height: 20px;
  }
  .ai-communication,
  .oa-communication {
    .cell {
      display: block;
      width: 100%;
      height: auto;
      padding: 84px 0 180px;
    }
    &:before {
      display: none;
    }
  }
  .ai-communication__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 19px;
    position: relative;
    z-index: 3;
  }
  .ai-communication__text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .ai-communication__description {
    max-width: 320px;
    position: relative;
    z-index: 3;
  }
  .ai-communication__img {
    z-index: 1;
    &.house {
      bottom: 0;
      right: -220px;
      width: 420px;
      max-width: none;
    }
  }
  .ai-go-it,
  .oa-go-it {
    overflow: hidden;
    .ai-communication__img,
    .oa-communication__img {
      max-width: none;
      width: 690px;
      top: auto;
      bottom: -291px;
      right: -323px;
    }
    &.animation {
      .ai-communication__img {
        top: auto;
      }
      .oa-communication__img {
        top: 300px;
      }
    }
  }
  .ai-company-info {
    padding: 75px 0 20px;
    .info-list {
      margin: 0;
    }
    .info-list__item {
      text-align: left;
      max-width: 100%;
      width: 100%;
      padding: 0 0 70px;
    }
    .info-list__title {
      font-size: 15px;
      line-height: 19px;
      margin-bottom: 12px;
    }
    .info-list__text {
      font-size: 28px;
      line-height: 34px;
    }
  }
  .ai-testimonials {
    padding: 70px 0 66px;
    .list {
      margin: 0;
    }
    .list__item {
      width: 100%;
      padding: 0 0 30px;
    }
  }
  .ai-testimonial {
    padding: 29px 26px 82px;
  }
  .ai-testimonial__foto {
    margin-right: 10px;
  }
  .ai-testimonial__description {
    min-height: 0;
  }
  .ai-testimonial__name {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 2px;
  }
  .ai-testimonial__position {
    margin-bottom: 18px;
  }
  .ai-testimonial__text {
    font-size: 12px;
    line-height: 20px;
  }
  .ai-advantages,
  .oa-advantages {
    .col {
      width: 100%;
      display: block;
      height: auto;
    }
    .cell {
      height: 400px;
      padding: 15px 40px 11px;
    }
    .img {
      padding: 0;
    }
  }
  .oa-advantages__description,
  .ai-advantages__description {
    margin: 0 auto;
  }
  .ai-advantages__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }
  .ai-advantages__text {
    font-size: 12px;
    line-height: 20px;
    max-width: none;
  }
  .ai-challenge {
    padding: 77px 0 25px;
    .tbl {
      margin-bottom: 50px;
      display: block;
    }
    .col {
      display: block;
      width: 100%;
      padding: 0 0 33px;
    }
  }
  .ai-challenge__holder {
    width: 100%;
    max-width: 440px;
    padding: 0 40px;
    margin: 0 auto;
  }
  .ai-challenge__head {
    max-width: none;
    font-size: 10px;
    line-height: 16px;
    margin: 0 0 25px;
  }
  .ai-challenge__description {
    max-width: 440px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .ai-challenge__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 32px;
  }
  .ai-challenge__text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .ai-customers {
    padding: 76px 40px 90px;
  }
  .ai-customers-carousel {
    max-width: 400px;
    box-shadow: 64px 64px 64px 0px rgba(0,0,0,0.05);
    .slick-list {
      overflow: hidden;
    }
    .ai-testimonial {
      padding: 34px 26px 25px;
      min-height: 334px;
    }
    .ai-testimonial__position {
      margin-bottom: 20px;
    }
    .ai-testimonial__name {
      margin-bottom: 4px;
    }
    .ai-testimonial__description {
      min-height: 270px;
    }
  }
  .ai-customers-carousel__item {
    padding: 0;
  }
  .ai-stack {
    padding: 59px 0 19px;
    .container {
      display: block;
    }
    .col {
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }
    .col+.col {
      padding-left: 0;
      border: none;
    }
    .list {
      margin: 0 -7px 54px;
      max-width: 350px;
    }
    .list__item {
      padding: 0 7px 7px;
    }
  }
  .ai-stack__item {
    max-width: 58px;
    min-height: 110px;
  }
  .ai-stack__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 34px;
  }
  .ai-stack__holder {
    width: 58px;
    height: 58px;
    border-radius: 13px;
  }
  .ai-stack__name {
    padding-top: 11px;
    font-size: 11px;
    line-height: 20px;
  }
  .ai-stack__img {
    max-width: 60%;
    max-height: 60%;
  }
  .ai-projects {
    padding: 0;
    .list {
      padding: 69px 0 50px;
      margin: 0;
      border: none;
    }
    .list__item {
      padding: 0 0 35px;
      display: block;
      width: 100%;
    }
  }
  .ai-projects__title {
    font-size: 28px;
    line-height: 36px;
  }
  .ai-projects__story {
    font-size: 28px;
    line-height: 36px;
    a {
      display: inline-block;
      margin-top: 30px;
    }
  }
  .ai-projects__name {
    font-size: 18px;
    line-height: 24px;
  }
  .ai-projects__development {
    font-size: 10px;
    line-height: 22px;
  }
  .glassdoor-logo-wrapper {
    margin-bottom: 50px;
  }
}
