@media screen and ($b_small_mobile_height) {
  .section {
    padding: 20px 0;
  }
  .main-screen {
    padding-top: 0;
    padding-bottom: 0;
  }
  .uses-cases {
    padding-top: 0;
    padding-bottom: 0;
  }
  .uses-cases-box {
    padding-top: 0;
  }
  .uses-cases-box__text {
    margin-bottom: 15px;
  }
  .uses-cases-slideshow .slick-arrow {
    bottom: 20px;
  }
  .post-slideshow__link {
    height: 200px;
  }
  .btn-scroll-down {
    bottom: 30px;
  }
  .animation .btn-scroll-down {
    bottom: 30px;
  }
  .services .cell {
    padding: 0 0 45px;
  }
  .services__figure {
    bottom: -50px;
  }
  .services__description {
    max-width: 80%;
  }
  .services-slideshow-controls {
    bottom: 50px;
  }
  .uses-cases-slideshow__figure {
    width: 75%;
  }
  .lets-talk__title span {
    display: inline-block;
  }
  .wave-wrapper {
    padding-top: 0;
  }
  .services .col+.col .holder {
    padding-top: 30px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 359px) {
  .services .col .holder {
    padding: 0 15px;
  }
  .services .col+.col .holder {
    padding: 0 15px;
  }
  .uses-cases-slideshow .slick-prev {
    left: 15px;
  }
  .uses-cases-slideshow .slick-next {
    left: 65px;
  }
  .services-slideshow-controls {
    left: 15px;
  }
  .main-screen.animation .btn-scroll-down {
    bottom: 60px;
  }
}
