@media screen and ($b_small_mobile_height) {
  .section {
    padding: 20px 0;
  }
  .main-screen {
    padding-top: 0;
    padding-bottom: 0;
  }
  .uses-cases {
    padding-top: 0;
    padding-bottom: 0;
  }
  .uses-cases-box {
    padding-top: 0;
  }
  .uses-cases-box__text {
    margin-bottom: 15px;
  }
  .uses-cases-slideshow .slick-arrow {
    bottom: 20px;
  }
  .btn-scroll-down {
    bottom: 30px;
  }
  .animation .btn-scroll-down {
    bottom: 30px;
  }
  .services .cell {
    padding: 0 0 45px;
  }
  .services__figure {
    bottom: -50px;
  }
  .services__description {
    max-width: 80%;
  }
  .services-slideshow-controls {
    bottom: 35px;
  }
  .uses-cases-slideshow__figure {
    width: 75%;
  }
  .lets-talk__title span {
    display: inline-block;
  }
  .wave-wrapper {
    padding-top: 0;
  }
  .wave {
    padding-left: 100px;
    &:before,
    &:after {
      display: block;
    }
  }
  .ai-main-banner,
  .ao-main-banner {
    height: 400px;
    padding: 100px 0;
  }
  .ai-main-banner__img {
    right: -96px;
    bottom: -98px;
    width: 432px;
  }
  .oa-main-banner__img {
    right: -96px;
    bottom: -28px;
    width: 432px;
  }
  .ai-description .cell {
    height: 350px;
    padding: 50px 0;
  }
  .ai-communication__description {
    max-width: 400px;
  }
  .oa-advantages__description,
  .ai-advantages__description {
    max-width: 440px;
    padding: 0 40px;
  }
  .ai-company-info {
    .info-list {
      text-align: justify;
      margin: 0 -15px;
    }
    .info-list__item {
      width: auto;
      display: inline-block;
      vertical-align: top;
      padding: 0 15px 70px;
    }
  }
  .ai-projects {
    .list {
      margin: 0 -15px;
      font-size: 0.1;
      line-height: 0;
      text-align: justify;
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
        line-height: 0;
      }
    }
    .list__item {
      width: auto;
      display: inline-block;
      vertical-align: top;
      padding: 0 15px 35px
    }
  }
}

@media screen and (max-height: 479px) {
  .lets-talk__title {
    margin-bottom: 25px;
  }
  .wave {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 479px) {
  .ai-communication__description {
    max-width: 240px;
  }
}

@media screen and (max-width: 359px) {
  .main-screen.animation .btn-scroll-down {
    bottom: 60px;
  }
  .main-screen__title {
    font-size: 60px;
    line-height: 73px;
  }
  .services {
    padding: 0;
  }
  .services .cell {
    padding: 0;
  }
  .services .col .cell {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .services-slideshow-controls {
    bottom: 35px;
  }
  .post-slideshow {
    padding-right: 80px;
  }
  .ai-communication .cell {
    padding-bottom: 173px;
  }
  .ai-communication__description {
    max-width: 180px;
  }
}
