body {
  font-family: 'Bitter', serif;
  p {
    font-family: 'Bitter', serif;
  }
}

$width_content_phone: 100%;
$width_content_tablet: 760px;
$width_content_normal: 980px;
$width_content_wide: 1200px;
.content {
  width: $width_content_wide;
  margin: 0 auto;
  @include respondto(tablet-landscape, tablet-portrait, phone) {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.text-center {
  text-align: center;
}

$landing_red: #7b0046;
.layer_1 {
  background-color: $landing_red;
  position: relative;
  padding: 30px 0 100px;
  .logo {
    display: inline-block;
    margin-bottom: 40px;
    text-align: center;
    .logo_img {
      width: 100%;
      max-width: 220px;
      height: auto;
    }
  }
  &:after {
    content: '';
    height: 12px;
    width: 100%;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    background: url('/images/round_mask_red.png') repeat-x;
  }
  h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: #fff;
    text-align: center;
    margin: 0;
    @include respond-to(phone) {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

.layer_2 {
  min-height: 600px;
  padding-top: 130px;
  background: url("/images/mvp_process.jpg") no-repeat fixed 50%;
  background-size: cover;
  @include respondto(tablet-landscape, tablet-portrait) {
    background-size: auto;
    background-attachment: local;
  }
  .hero {
    width: 55%;
    padding: 60px;
    position: relative;
    margin: 0 auto;
    background-color: rgba(244, 244, 244, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 100px 50px;
    @include respondto(tablet-portrait, phone) {
      width: auto;
      padding: 30px;
    }
    .quote {
      font-size: 24px;
      line-height: 30px;
      font-style: italic;
      color: #000;
      margin: 0 0 20px;
      @include respondto(tablet-portrait, phone) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    .help {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      color: #000;
      margin: 28px 0 0;
    }
    .big_green_btn {
      $big_green_btn_width: 390px;
      color: #fff;
      font-family: 'Bitter', serif;
      font-size: 26px;
      font-style: italic;
      line-height: 30px;
      text-decoration: none;
      text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.98);
      display: block;
      padding: 20px 0;
      width: $big_green_btn_width;
      position: absolute;
      bottom: -36px;
      left: 50%;
      margin-left: -($big_green_btn_width/2);
      background-color: #59a51f;
      border: none;
      border-radius: 4px;
      box-shadow: 0 4px 0 0 rgba(43, 100, 0, 0.75);
      @include respondto(tablet-portrait, phone) {
        width: 100%;
        margin-left: 0;
        left: 0;
        bottom: -86px;
      }
    }
  }
}

.layer_3 {
  padding: 50px 0;
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    height: 12px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    background: url("/images/round_mask_white.png") repeat-x 50% -12px;
  }
  .description {
    color: #000f52;
    font-size: 28px;
    line-height: 44px;
    @include respondto(tablet-portrait, phone) {
      font-size: 18px;
      line-height: 26px;
    }
  }
  .hr {
    margin: 80px auto;
    width: 640px;
    height: 6px;
    background: url("/images/hr_divider.png") no-repeat 50%;
    @include respondto(tablet-portrait, phone) {
      width: 100%;
    }
  }
  h1 {
    color: #990000;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-bottom: 70px;
    @include respondto(tablet-portrait, phone) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  h2 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    @include respondto(tablet-portrait, phone) {
      font-size: 22px;
      line-height: 30px;
    }
  }
  .feature_grid {
    font-family: 'Bitter', serif;
    font-size: 26px;
    font-style: italic;
    line-height: 30px;
    color: #000;
    margin-top: 100px;
    @include respondto(tablet-portrait, phone) {
      font-size: 18px;
      line-height: 24px;
    }
    .pure-u-1-2 {
      @include respond-to(phone) {
        width: 100%;
      }

    }

    @include respond-to(tablet-portrait) {
      font-size: 20px;
    }
    > div {
      font-family: 'Bitter', serif;
      margin-bottom: 30px;
    }
    img {
      float: left;
      margin: 0 10px 10px 0;
    }
  }
}

.layer_4 {
  position: relative;
  padding: 80px 0;
  background: #cfdce5;
  z-index: 2;
  &:before {
    content: '';
    height: 12px;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    background: url("/images/round_mask_light_blue.png") repeat-x 50% -12px;
  }
  &:after {
    content: '';
    height: 12px;
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    background: url("/images/round_mask_light_blue.png") repeat-x;
  }
  h1 {
    color: #2c3d4f;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-bottom: 70px;
    text-shadow: 0px 3px 0px rgba(255, 255, 255, 0.75);
    @include respondto(tablet-portrait, phone) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  .why_we {
    .number {
      font-family: 'Bitter', serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 66px;
      color: #2c3d4f;
      text-align: center;
      display: inline-block;
      width: 66px;
      height: 66px;
      background-color: #ffffff;
      border-radius: 50%;
    }
    @include respondto(tablet-portrait, phone) {
      .pure-u-1-12 {
        text-align: center;
        width: 100%;
      }
    }
    > div {
      margin-bottom: 20px;
    }
    p {
      color: #2c3d4f;
      font-size: 22px;
      font-style: italic;
      line-height: 30px;
      margin-top: 20px;
      @include respond-to(tablet-portrait) {
        font-size: 20px;
        margin-left: 20px;
      }
    }
  }
}

.layer_5 {
  padding: 70px 0;
  .techs_list {
    text-align: center;
    vertical-align: middle;
    .pure-u-1-8 {
      @include respond-to(phone) {
        width: 50%;
      }
    }
    > div {
      line-height: 87px;
      vertical-align: middle;
      img {
        padding: 0 10px;
        width: auto;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        box-sizing: border-box;
      }
    }
  }
}

.layer_6 {
  $layer_6_bg: #faf1e0;
  position: relative;
  background: $layer_6_bg;
  z-index: 1;
  &:before {
    content: '';
    height: 12px;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    background: url("/images/round_mask_beige.png") repeat-x 50% -12px;
  }
  .description {
    color: #000;
    font-size: 28px;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    padding: 0 40px;
  }
  .label {
    color: #000;
    font-size: 26px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 20px;
    label {
      font-family: 'Bitter', serif;
    }
    input {
      font-family: 'Bitter', serif;
      line-height: 45px;
      color: #333;
      height: 45px;
      width: 100%;
      padding: 0 15px;
      border: 1px solid #c8c0b3;
      background: #fff;
      box-sizing: border-box;
    }
  }
  .green_btn {
    $btn_bg: #2da100;
    font-family: 'Bitter', serif;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 45px;
    width: 100%;
    margin-top: 10px;
    border: none;
    background-color: $btn_bg;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.75);
    &:hover {
      background: lighten($btn_bg, 10%);
    }
    &:focus {
      outline: none;
    }
  }
  .content {
    position: relative;
    padding: 160px 0;
    @include respondto(tablet-portrait, phone) {
      padding: 160px 20px;
      .pure-u-1-3 {
        width: 100%;
      }
    }
  }
  .badge {
    position: absolute;
    top: -99px;
    left: 0;
    width: 311px;
    height: 313px;
    background: url("/images/1_hour_badge.png");
    -webkit-transform: rotate(-15deg) scale(0.6);
    -moz-transform: rotate(-15deg) scale(0.6);
    -ms-transform: rotate(-15deg) scale(0.6);
    -o-transform: rotate(-15deg) scale(0.6);
    transform: rotate(-15deg) scale(0.6);
  }
  form {
    position: relative;
    &.invalid {
      .green_btn {
        background: #dedede;
      }
    }
  }
  .form_sent {
    display: none;
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    background: $layer_6_bg;
    .thnk_u {
      text-align: center;
      vertical-align: middle;
      position: absolute;
      top: 45%;
      width: 100%;
    }
  }
  .validation_wrap {
    position: relative;
    &.invalid {
      input, textarea {
        color: $white;
        background: $red_error;
        border-color: $red_error;
        &:focus {
          color: $red_juicy;
        }
      }
      .validate_text {
        display: block;
      }
    }
    .form_input {
      margin-bottom: 18px;
    }
    .textarea {
      margin-bottom: 18px;
    }
    .validate_text {
      display: none;
      font-size: 0.75em;
      font-weight: 300;
      color: $red;
      line-height: 140%;
      vertical-align: middle;
      text-align: center;
      padding: 5px 20px;
      background: $white;
      margin: 0;
    }
  }
}
