<section class="section js-scroll dev-compare">
  <div class="container">
    <h2 class="dev-compare__title fade-down delay-1">Solve your problems</h2>
    <div class="dev-compare__row">
      <div class="dev-compare__col">
        <div class="dev-compare__holder -shadow fade-left delay-2">
          <h2 class="dev-compare__sub-title color-dark-grey">Before:</h2>
          <ul class="dev-compare__list">
            <li class="dev-compare__item -reject">Search, vetting, onboarding, and hiring takes a lot of time</li>
            <li class="dev-compare__item -reject">Disappointment in candidates who are missing deadlines and don’t guaranty any quality</li>
            <li class="dev-compare__item -reject">It’s not easy to to do due diligence</li>
            <li class="dev-compare__item -reject">Failure to put great teams to work together effectively</li>
            <li class="dev-compare__item -reject">Own employees leaving after just one year</li>
          </ul>
        </div>
      </div>
      <div class="dev-compare__col">
        <div class="dev-compare__holder -shadow fade-right delay-2">
          <h2 class="dev-compare__sub-title color-dark-grey">After:</h2>
          <ul class="dev-compare__list">
            <li class="dev-compare__item -success">Senior developers with 5+ years of commercial experience, who were tested on internal projects first</li>
            <li class="dev-compare__item -success">Long-term partners who are easy to work with will become part of a team</li>
            <li class="dev-compare__item -success">Best practices and proven dev processes make interaction fast and efficient</li>
            <li class="dev-compare__item -success">Spend the time to share your vision and review the results, nothing more</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
