<section class="section js-scroll dev-compare bg-light-grey-2 color-dark-grey-2">
  <div class="container">
    <h2 class="dev-compare__title fade-down delay-1">What we offer</h2>
    <div class="dev-compare__row">
      <div class="dev-compare__col">
        <div class="dev-compare__holder fade-left delay-2">
          <h2 class="dev-compare__sub-title color-dark-grey">We’ll Make Your Application Development Predictable:</h2>
          <ul class="dev-compare__list">
            <li class="dev-compare__item -dot">Your software will be built by a small team of 2-6 developers, breaking the work into one-week development cycles (called “sprints”).</li>
            <li class="dev-compare__item -dot">The progress is visible every day - you will get a report from each developer along with commits and timesheets.</li>
            <li class="dev-compare__item -dot">At the end of each sprint, you will receive a working piece of software as well as daily releases with new changes.</li>
            <li class="dev-compare__item -dot">No waiting for big releases. No wondering when your project will be finished.</li>
          </ul>
        </div>
      </div>
      <div class="dev-compare__col">
        <div class="dev-compare__holder fade-right delay-2">
          <h2 class="dev-compare__sub-title color-dark-grey">We guarantee the transparency of your spendings:</h2>
          <ul class="dev-compare__list">
            <li class="dev-compare__item -dot">You’re not committing to lump sums to be paid for a pig in a poke. We operate on a monthly subscription service.</li>
            <li class="dev-compare__item -dot">We offer a 2-week trial period to see how it goes, no financial risks to hire a team, and test everything.</li>
            <li class="dev-compare__item -dot">Regardless of the project complexity or size, we allow a ONE-day notice to add new developers, decrease the budget, or stop the contract.</li>
            <li class="dev-compare__item -dot">No liaisons or supervisors involved in the development; you can communicate with every developer directly and get the answers needed.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
