<section class="js-scroll dev-compare color-white">
  <div class="container">
    <h2 class="dev-compare__title color-white">We’ll Make Your Application Development Predictable</h2>
    <div class="dev-compare__wrap">
      <div class="dev-compare__col">
        <ul class="dev-compare__list">
          <li class="dev-compare__item -success">Your software will be built by a small team of 2-6 developers, breaking the work into One-week development cycles (called “sprints”).</li>
          <li class="dev-compare__item -success">The progress is visible every day - you will get a report from each developer.</li>
          <li class="dev-compare__item -success">At the end of each sprint, you will receive a working piece of software as well as daily releases with recent changes.</li>
          <li class="dev-compare__item -success">No waiting for big releases. No wondering when your project will be finished.</li>
        </ul>
      </div>
      <div class="dev-compare__col">
        <ul class="dev-compare__list">
          <li class="dev-compare__item -success">You’re not committing to lump sums to be paid for a pig in a poke. We operate on a monthly subscription service.</li>
          <li class="dev-compare__item -success">2-week trial period to see how it goes, so no financial risk to hire a team and test it.</li>
          <li class="dev-compare__item -success">Regardless of the project complexity or size, we offer a ONE-day notice to add new developers, decrease budget or stop the contract. No questions asked - we will do it for you.</li>
          <li class="dev-compare__item -success">Direct Communication:  no liaisons or supervisors involved in the development, you can communicate with every developer and get the answers needed.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
