<section class="section js-scroll dev-compare bg-light-grey-2 color-dark-grey-2">
  <div class="container">
    <h2 class="dev-compare__title fade-down delay-1">What we offer</h2>
    <div class="dev-compare__row">
      <div class="dev-compare__col">
        <div class="dev-compare__holder fade-left delay-2">
          <h2 class="dev-compare__sub-title color-dark-grey">We’ll make your application development predictable:</h2>
          <ul class="dev-compare__list">
            {% for process_hash in site.data.developers.developers.process.development %}
            {% assign process = process_hash[1] %}
              <li class="dev-compare__item -dot">{{ process }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="dev-compare__col">
        <div class="dev-compare__holder fade-right delay-2">
          <h2 class="dev-compare__sub-title color-dark-grey">We guarantee the transparency of your spendings:</h2>
          <ul class="dev-compare__list">
            {% for process_hash in site.data.developers.developers.process.guarantee %}
            {% assign process = process_hash[1] %}
              <li class="dev-compare__item -dot">{{ process }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
