<section class="dev-compare">
  <div class="container">
    <h2 class="dev-compare_title"></h2>
    <div class="dev-compare_content">
      <div class="dev-compare_col">
        <ul class="dev-compare_list">
          <li class="dev-compare_item__reject">Search, vetting, onboarding, and hiring takes a lot of time</li>
          <li class="dev-compare_item__reject">Disappointment in candidates who are missing deadlines and don’t guaranty any quality</li>
          <li class="dev-compare_item__reject">It’s not easy to to do due diligence</li>
          <li class="dev-compare_item__reject">Failure to put great teams to work together effectively</li>
          <li class="dev-compare_item__reject">Own employees leaving after just one year</li>
        </ul>
      </div>
      <div class="dev-compare_col">
        <ul class="dev-compare_list">
          <li class="dev-compare_item">Senior developers with 5+ years of commercial experience, who were tested on internal projects first</li>
          <li class="dev-compare_item__success">Long-term partners who are easy to work with will become part of a team</li>
          <li class="dev-compare_item__success">Best practices and proven dev processes make interaction fast and efficient</li>
          <li class="dev-compare_item__success">Spend the time to share your vision and review the results, nothing more</li>
        </ul>
      </div>
    </div>
  </div>
</section>
