<section class="section js-scroll dev-compare">
  <div class="container">
    <h2 class="dev-compare__title fade-down delay-1">Solve your problems</h2>
    <div class="dev-compare__row">
      <div class="dev-compare__col">
        <div class="dev-compare__holder -shadow fade-left delay-2">
          <h2 class="dev-compare__sub-title color-light-grey">Before:</h2>
          <ul class="dev-compare__list">
            {% for compare_hash in site.data.developers.developers.compares.before %}
            {% assign compare = compare_hash[1] %}
              <li class="dev-compare__item -reject">{{ compare }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="dev-compare__col">
        <div class="dev-compare__holder -shadow fade-right delay-2">
          <h2 class="dev-compare__sub-title color-light-grey">After:</h2>
          <ul class="dev-compare__list">
            {% for compare_hash in site.data.developers.developers.compares.after %}
            {% assign compare = compare_hash[1] %}
              <li class="dev-compare__item -success">{{ compare }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
