<div class="ai-advantages">
  <section class="ai-section js-scroll">
    <div class="cell img">
      <img src="{% asset ai-advantages-img-01.png @path %}" class="ai-advantages__img fade-down delay-3">
    </div>
    <div class="cell">
      <div class="ai-advantages__description">
        <h2 class="ai-advantages__title fade-down delay-1">MVP based on Angular moved to Rails</h2>
        <p class="ai-advantages__text fade-down delay-2">More than just messaging, Agent Inbox facilitates collaboration on transactions, team conversations in channels, and scheduling management. Brokerages keep agents and staff informed and communicating in one central place.</p>
      </div>
    </div>
  </section>
  <section class="ai-section js-scroll">
    <div class="cell">
      <div class="ai-advantages__description">
        <h2 class="ai-advantages__title fade-down delay-1">MLS merge and move to own solution</h2>
        <p class="ai-advantages__text fade-down delay-2">Agent Inbox empowers MLSs to launch market-wide messaging systems and facilitate communication between all agent and transaction participants. Powered by MLS data, the Agent Inbox platform starts at first contact, is accessible everywhere, and centralizes each deal through closing.</p>
      </div>
    </div>
    <div class="cell img">
      <img src="{% asset ai-advantages-img-02.png @path %}" class="ai-advantages__img fade-down delay-3">
    </div>
  </section>
    <section class="ai-section js-scroll">
    <div class="cell img">
      <img src="{% asset ai-advantages-img-03.png @path %}" class="ai-advantages__img fade-down delay-3">
    </div>
    <div class="cell">
      <div class="ai-advantages__description">
        <h2 class="ai-advantages__title fade-down delay-1">Release mobile version based on Rails with</h2>
        <p class="ai-advantages__text fade-down delay-2">More than just messaging, Agent Inbox facilitates collaboration on transactions, team conversations in channels, and scheduling management. Brokerages keep agents and staff informed and communicating in one central place.</p>
      </div>
    </div>
  </section>
</div>
