<div class="ai-advantages">
  <section class="ai-section js-scroll" itemscope itemtype="http://schema.org/Product">
    <div class="col">
      <div class="cell img">
        <img data-src="{% asset ai-advantages-img-01.png @path %}" data-srcset="{% asset ai-advantages-img-01.png @path %}" class="lazy ai-advantages__img fade-down delay-3" itemprop="image" alt="MVP based on Angular moved to Rails">
      </div>
    </div>
    <div class="col right">
      <div class="cell">
        <div class="ai-advantages__description">
          <h2 class="ai-advantages__title fade-down delay-1" itemprop="name">Quickly Developed Initial Version for Sales Team</h2>
          <p class="ai-advantages__text fade-down delay-2" itemprop="description">We wanted to get Agent Inbox something to showcase on the market – and fast. Within two months, we cleaned the MLS data, organized and optimized its integration for reduced cycle time, and were able to deliver the first MVP. <br>This gave the founders and sales team the ability to attract investors and customers, which in turn, helped scale up the development process. We were then ready to build and deliver both mobile and enterprise UI versions of the Agent Inbox platform.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="ai-section js-scroll" itemscope itemtype="http://schema.org/Product">
    <div class="col right">
      <div class="cell img">
        <img data-src="{% asset ai-advantages-img-02.png @path %}" data-srcset="{% asset ai-advantages-img-02.png @path %}" class="lazy ai-advantages__img fade-down delay-3" itemprop="image" alt="MLS merge and move to own solution">
      </div>
    </div>
    <div class="col">
      <div class="cell">
        <div class="ai-advantages__description">
          <h2 class="ai-advantages__title fade-down delay-1" itemprop="name">Created Popular Add-On Features for Busy Users</h2>
          <p class="ai-advantages__text fade-down delay-2" itemprop="description">While building the platform, we created a number of features that were beloved by users at launch (and beyond). <br>In addition to foundational messaging capabilities – including secure file and document sharing and a seamless way to keep track of detailed conversations – we built a mapping feature for agents to plan out their busy days to include traffic-inclusive travel time, meeting durations, lunch breaks, and more. <br>Being aware of how often plans can change throughout the day, especially in real estate, we also developed push notifications to alert them of any shifts in schedule.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="ai-section js-scroll" itemscope itemtype="http://schema.org/Product">
    <div class="col">
      <div class="cell img">
        <img data-src="{% asset ai-advantages-img-03.png @path %}" data-srcset="{% asset ai-advantages-img-03.png @path %}" class="lazy ai-advantages__img fade-down delay-3" itemprop="image" alt="Release mobile version based on Rails with">
      </div>
    </div>
    <div class="col right">
      <div class="cell">
        <div class="ai-advantages__description">
          <h2 class="ai-advantages__title fade-down delay-1" itemprop="name">Scaled Team to Reach New Goals</h2>
          <p class="ai-advantages__text fade-down delay-2" itemprop="description">In total, we worked with Agent Inbox over a 4-year period, and some of that time was dedicated to company growth. <br>We scaled the team from 1 to 6 developers within the first year and gained trust as a development provider. Utilizing Lean principles, we optimized the development process in order to address initial user issues that were barring the team from product advancement and delivery. <br>We introduced code review, integrated automatized tests, and eliminated inefficiencies, all of which significantly reduced the cost of onboarding new developers with future company growth in mind.</p>
        </div>
      </div>
    </div>
  </section>
</div>
