<section class="js-scroll ai-communication ai-section">
  <div class="cell">
    <div class="container">
      <h2 class="ai-communication__title fade-down delay-2">
        <span class="fade-down delay-1">Our Work to Build</span>
        <span class="fade-down delay-2">a Market-Ready Solution</span>
      </h2>
      <div class="ai-communication__description fade-down delay-3">
        <p class="ai-communication__text">After an initial year of internal development, Agent Inbox was frustrated and dissatisfied. They realized the platform needed to be rebuilt from scratch and knew it was time to seek help from an external team who could not only do the work, but could manage every aspect of the complicated project.</p>
        <p class="ai-communication__text">They hired us to build an efficient mobile and desktop messaging platform that we delivered on budget and on time. Within just one year of launch, Agent Inbox exceeded expectations with more than 100,000 users.</p>
      </div>
    </div>
  </div>
  <img data-src="{% asset ai-communication_img_01.png @path %}" data-srcset="{% asset ai-communication_img_01.png @path %}" class="lazy ai-communication__img house fade-down delay-5" alt="Real Estate">
  <img data-src="{% asset ai-communication_img_03.png @path %}" data-srcset="{% asset ai-communication_img_03.png @path %}" class="lazy ai-communication__img chat mobile-hide fade-right delay-4" alt="Real Estate">
  <img data-src="{% asset ai-communication_img_04.png @path %}" data-srcset="{% asset ai-communication_img_04.png @path %}" class="lazy ai-communication__img price mobile-hide fade-right delay-6" alt="Real Estate">
</section>
