<section class="js-scroll ai-company-info ai-section">
  <img data-src="{% asset ai-company-info_bg.jpg @path %}" data-srcset="{% asset ai-company-info_bg.jpg @path %}" class="lazy bg-cover mobile-hide" alt="Background">
  <img data-src="{% asset ai-company-info_bg_mobile.jpg @path %}" data-srcset="{% asset ai-company-info_bg_mobile.jpg @path %}" class="lazy bg-cover mobile-show " alt="Mobile Background">
  <div class="container">
    <ul class="info-list">
      <li class="info-list__item fade-down delay-2">
        <span class="info-list__title">Team</span>
        <span class="info-list__text">6 developers</span>
      </li>
      <li class="info-list__item fade-down delay-3">
        <span class="info-list__title">Timeline</span>
        <span class="info-list__text">2010 — Now</span>
      </li>
      <li class="info-list__item fade-down delay-4">
        <span class="info-list__title">Location</span>
        <span class="info-list__text">Ukraine — Miami</span>
      </li>
    </ul>
  </div>
</section>
