<section class="ai-challenge">
  <div class="ai-challenge__holder ai-section">
    <small class="ai-challenge__head fade-down delay-1">Technical challenge</small>
  </div>
  <div class="ai-section tbl">
    <div class="col">
      <div class="ai-challenge__description fade-down delay-1">
        <h2 class="ai-challenge__title">Setup Flow. Prepare technical enviroment for quick changes</h2>
        <p class="ai-challenge__text">More than just messaging, Agent Inbox facilitates collaboration on transactions, team conversations in channels, and scheduling management. Brokerages keep agents and staff informed and communicating in one central place.</p>
      </div>
    </div>
    <div class="col">
      <img class="ai-challenge__img fade-right delay-2" src="{% asset ai-challenge_img_01.png @path %}">
    </div>
  </div>
  <div class="ai-section tbl">
    <div class="col">
      <img class="ai-challenge__img fade-left delay-2" src="{% asset ai-challenge_img_02.png @path %}">
    </div>
    <div class="col">
      <div class="ai-challenge__description fade-down delay-1">
        <h2 class="ai-challenge__title">Multiplatform velociti and implementation</h2>
        <p class="ai-challenge__text">More than just messaging, Agent Inbox facilitates collaboration on transactions, team conversations in channels, and scheduling management. Brokerages keep agents and staff informed and communicating in one central place.</p>
      </div>
    </div>
  </div>
</section>
