<section class="ai-challenge">
  <div class="ai-challenge__holder ai-section">
    <small class="ai-challenge__head fade-down delay-1">Technical Highlights</small>
  </div>
  <div class="js-scroll ai-section tbl right" itemscope itemtype="http://schema.org/Product">
    <div class="col">
      <img class="lazy ai-challenge__img fade-right delay-2" data-src="{% asset ai-challenge_img_01.png @path %}" data-srcset="{% asset ai-challenge_img_01.png @path %}" itemprop="image" alt="Setup Flow. Prepare technical enviroment for quick changes">
    </div>
    <div class="col">
      <div class="ai-challenge__description fade-down delay-1">
        <h2 class="ai-challenge__title" itemprop="name">Migrated Data Specifically for Real Estate</h2>
        <p class="ai-challenge__text" itemprop="description">We worked with Agent Inbox to migrate data from Spark (a data processing engine) to a custom, in-house RETS (real estate transaction standard) aggregator, which helped dramatically grow the customer base.</p>
      </div>
    </div>
  </div>
  <div class="js-scroll ai-section tbl" itemscope itemtype="http://schema.org/Product">
    <div class="col">
      <img class="lazy ai-challenge__img fade-left delay-2" data-src="{% asset ai-challenge_img_02.png @path %}" data-srcset="{% asset ai-challenge_img_02.png @path %}" itemprop="image" alt="Multiplatform velociti and implementation">
    </div>
    <div class="col">
      <div class="ai-challenge__description fade-down delay-1">
        <h2 class="ai-challenge__title" itemprop="name">Moved to a Faster, More Cost-Effective Hybrid Solution</h2>
        <p class="ai-challenge__text" itemprop="description">From experience, we know that small teams working on various platforms simultaneously often end up inadvertently wasting time and money. We worked with Agent Inbox to move to a hybrid solution using React and Ruby on Rails, replacing their single-page-application solution with server-side rendering to improve project stability and speed.</p>
      </div>
    </div>
  </div>
</section>
