<section class="js-scroll ai-company-info ai-section">
  <img data-src="{% asset ai-company-info_bg.jpg @path %}" data-srcset="{% asset ai-company-info_bg.jpg @path %}" class="lazy bg-cover mobile-hide" alt="Background">
  <img data-src="{% asset ai-company-info_bg_mobile.jpg @path %}" data-srcset="{% asset ai-company-info_bg_mobile.jpg @path %}" class="lazy bg-cover mobile-show " alt="Mobile Background">
  <div class="container">
    <ul class="info-list">
      <li class="info-list__item fade-down delay-2">
        <span class="info-list__title">Our Team</span>
        <span class="info-list__text">10 team members</span>
      </li>
      <li class="info-list__item fade-down delay-3">
        <span class="info-list__title">Timeline</span>
        <span class="info-list__text">2010 - 2014</span>
      </li>
      <li class="info-list__item fade-down delay-4">
        <span class="info-list__title">Location</span>
        <span class="info-list__text">Ukraine - USA</span>
      </li>
      <li class="info-list__item fade-down delay-4">
        <span class="info-list__title">Lines of code</span>
        <span class="info-list__text">3 million</span>
      </li>
    </ul>
  </div>
</section>
