<section class="js-scroll ai-section ai-customers">
  <div class="ai-customers-carousel fade-down delay-1">

      {% for item in site.data.customers.items %}
        <div class="ai-customers-carousel__item">
          <div class="ai-testimonial" itemscope itemtype="http://schema.org/Review">
            <div class="ai-testimonial__description" itemprop="itemReviewed" content="5">
              <strong class="ai-testimonial__name" itemprop="author">{{ item.name }}</strong>
              <small class="ai-testimonial__position" itemprop="headline">{{ item.position }}</small>
              <p class="ai-testimonial__text" itemprop="reviewBody">{{ item.text }}</p>
            </div>
          </div>
        </div>
      {% endfor %}

  </div>
</section>
