<section class="ai-communication ai-section">
  <div class="cell">
    <div class="container">
      <h2 class="ai-communication__title fade-down delay-2">
        <span class="fade-down delay-1">The Real Estate</span>
        <span class="fade-down delay-2">shift to messaging</span>
      </h2>
      <div class="ai-communication__description fade-down delay-3">
        <p class="ai-communication__text">Agent Inbox empowers MLSs to launch market-wide messaging systems and facilitate communication between all agent and transaction participants. Powered by MLS data, the Agent Inbox platform starts at first contact, is accessible everywhere, and centralizes each deal through closing.</p>
      </div>
    </div>
  </div>
  <img src="{% asset ai-communication_img_01.png @path %}" class="ai-communication__img house fade-down delay-5">
  <img src="{% asset ai-communication_img_03.png @path %}" class="ai-communication__img chat fade-right delay-4">
  <img src="{% asset ai-communication_img_04.png @path %}" class="ai-communication__img price fade-right delay-6">
</section>
