<section class="js-scroll ai-description ai-section">
  <div class="cell">
    <div class="container">
      <h2 class="ai-description__title fade-down delay-2">The world's leading real estate messaging platform</h2>
      <p class="ai-description__text fade-down delay-3">Agent Inbox empowers MLSs to launch market-wide messaging systems and facilitate communication between all agent and transaction participants. Powered by MLS data, the Agent Inbox platform starts at first contact, is accessible everywhere, and centralizes each deal through closing.</p>
    </div>
  </div>
</section>
