<section class="js-scroll ai-communication ai-go-it ai-section">
  <div class="cell">
    <div class="container">
      <h2 class="ai-communication__title fade-down delay-1">
        <span class="fade-down delay-1">How Did We Do It?</span>
      </h2>
      <div class="ai-communication__description fade-down delay-2">
        <p class="ai-communication__text">The development process can be filled with uncertainty, especially when approached without necessary technical expertise. Our goal for this project was to reduce uncertainty by using proven technologies and stable coding practices, as well as focusing on clear communication and the implementation of an aggressive but realistic timeline for launch. <br>Following our plan, we delivered mobile versions for both the Apple App Store and Google Play, as well as a Desktop UI solution for brockerage/enterprise. Each contains features designed to provide control and peace of mind for everyone involved in the real estate transaction.</p>
      </div>
    </div>
  </div>
  <img data-src="{% asset ai-communication_img_02.png @path %}" data-srcset="{% asset ai-communication_img_02.png @path %}" class="ai-communication__img fade-down delay-3 lazy" alt="Rocket">
</section>
