<section class="js-scroll ai-main-banner">
  <div class="container" itemscope itemtype="http://schema.org/Product">
    <strong class="ai-main-banner__title" itemprop="name">
      <span class="fade-down delay-2">Agent</span>
      <span class="fade-down delay-3">Inbox</span>
    </strong>
    <div class="ai-main-banner__description fade-down delay-4 mobile-hide">
      <p class="ai-main-banner__text" itemprop="description">Agent Inbox envisioned taking real estate communication to the next level. They hired us to build the right platform, deliver a market-ready solution, and help the team grow.</p>
    </div>
  </div>
  <img src="{% asset ai-main-banner_img_01.png @path %}" class="ai-main-banner__img fade-right delay-5" itemprop="image" alt="Agent Inbox">
</section>
