<section class="ai-main-banner">
  <div class="container">
    <h1 class="ai-main-banner__title">
      <span class="fade-down delay-2">Agent</span>
      <span class="fade-down delay-3">inbox</span>
    </h1>
    <div class="ai-main-banner__description fade-down delay-4">
      <p class="ai-main-banner__text">Next level for Real Estate Agents Communication. Help to build new platform and deliver on the market.</p>
    </div>
  </div>
  <img src="{% asset ai-main-banner_img_01.png @path %}" class="ai-main-banner__img fade-right delay-5">
</section>
