<section class="js-scroll ai-section ai-projects">
  <div class="container">
    <h2 class="ai-projects__title">
      <span class="fade-down delay-1">Want to see how</span>
      <span class="fade-down delay-2">Agent Inbox works?</span>
    </h2>
    <h2 class="ai-projects__title">
      <a href="{{ site.data.use_cases.agent_inbox.url }}" target="_blank" rel="noreferrer">
        <span class="fade-down delay-3">Explore Agent Inbox</span>
        <span class="fade-down delay-4">Platform</span>
      </a>
    </h2>
    <br />
    <span class='fade-down delay-3 ai-projects__story'>
      <a href='https://jtway.co/how-our-expertise-helped-curb-real-estate-communication-chaos-b758d5ea698' target="_blank">
        Read the full story
      </a>
      <br />
      <br />
    </span>
    <ul class="list">
      <li class="list__item fade-right delay-3">
        <a href="/" class="ai-projects__link_active" target="_blank" rel="noreferrer">
          <strong class="ai-projects__name">Agent Inbox</strong>
          <small class="ai-projects__development">mobile and web development</small>
        </a>
      </li>
      <li class="list__item fade-right delay-4">
        <a href="/openapply.html" class="ai-projects__link" rel="noreferrer">
          <strong class="ai-projects__name">Open Apply</strong>
          <small class="ai-projects__development">web development</small>
        </a>
      </li>
      <li class="list__item fade-right delay-5">
        <a href="{{ site.data.use_cases.mobile_coach.url }}" class="ai-projects__link" target="_blank" rel="noreferrer">
          <strong class="ai-projects__name">Mobile Coach</strong>
          <small class="ai-projects__development">Coaching and development</small>
        </a>
      </li>
    </ul>
  </div>
</section>
