<section class="js-scroll ai-company-info ai-section">
  <img data-src="{% asset ai-statistics-bg.jpg @path %}" data-srcset="{% asset ai-statistics-bg.jpg @path %}" class="lazy bg-cover mobile-hide" alt="Background">
  <img data-src="{% asset ai-statistics-bg-mobile.jpg @path %}" data-srcset="{% asset ai-statistics-bg-mobile.jpg @path %}" class="lazy bg-cover mobile-show" alt="Mobile Background">
  <div class="container">
    <ul class="info-list">
      <li class="info-list__item fade-down delay-2">
        <span class="info-list__title">Five stars review</span>
        <span class="info-list__text">5984</span>
      </li>
      <li class="info-list__item fade-down delay-3">
        <span class="info-list__title">Downloads</span>
        <span class="info-list__text">415 000</span>
      </li>
      <li class="info-list__item fade-down delay-4">
        <span class="info-list__title">Active users</span>
        <span class="info-list__text">320 000</span>
      </li>
    </ul>
  </div>
</section>
