<section class="js-scroll ai-company-info ai-section" style="background-image: url({% asset ai-statistics-bg.jpg @path %})">
  <div class="container">
    <ul class="info-list">
      <li class="info-list__item fade-down delay-2">
        <span class="info-list__title">Five stars review</span>
        <span class="info-list__text">5984</span>
      </li>
      <li class="info-list__item fade-down delay-3">
        <span class="info-list__title">Downloads</span>
        <span class="info-list__text">415 000</span>
      </li>
      <li class="info-list__item fade-down delay-4">
        <span class="info-list__title">Active users</span>
        <span class="info-list__text">320 000</span>
      </li>
    </ul>
  </div>
</section>
