<section class="ai-section ai-stack">
  <div class="container">
    <div class="col">
      <h2 class="ai-stack__title fade-down delay-1">Technologies</h2>
      <ul class="list">
        <li class="list__item fade-down delay-2">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-01.png @path %}">
            </div>
            <span class="ai-stack__name">AngularJS</span>
          </div>
        </li>
        <li class="list__item fade-down delay-2">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-02.png @path %}">
            </div>
            <span class="ai-stack__name">JQuery</span>
          </div>
        </li>
        <li class="list__item fade-down delay-2">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-03.png @path %}">
            </div>
            <span class="ai-stack__name">Sass</span>
          </div>
        </li>
        <li class="list__item fade-down delay-2">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-04.png @path %}">
            </div>
            <span class="ai-stack__name">Ruby</span>
          </div>
        </li>
        <li class="list__item fade-down delay-3">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-05.png @path %}">
            </div>
            <span class="ai-stack__name">HTML 5</span>
          </div>
        </li>
        <li class="list__item fade-down delay-3">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-06.png @path %}">
            </div>
            <span class="ai-stack__name">CSS3</span>
          </div>
        </li>
        <li class="list__item fade-down delay-3">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-07.png @path %}">
            </div>
            <span class="ai-stack__name">JavaScript</span>
          </div>
        </li>
        <li class="list__item fade-down delay-3">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-08.png @path %}">
            </div>
            <span class="ai-stack__name">Mongo DB</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col">
      <h2 class="ai-stack__title fade-down delay-1">Integrations</h2>
      <ul class="list">
        <li class="list__item fade-down delay-2">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-09.png @path %}">
            </div>
            <span class="ai-stack__name">Facebook</span>
          </div>
        </li>
        <li class="list__item fade-down delay-2">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-10.png @path %}">
            </div>
            <span class="ai-stack__name">Twitter</span>
          </div>
        </li>
        <li class="list__item fade-down delay-2">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-11.png @path %}">
            </div>
            <span class="ai-stack__name">Mixpanel</span>
          </div>
        </li>
        <li class="list__item fade-down delay-2">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-12.png @path %}">
            </div>
            <span class="ai-stack__name">Google Maps</span>
          </div>
        </li>
        <li class="list__item fade-down delay-3">
          <div class="ai-stack__item">
            <div class="ai-stack__holder">
              <img class="ai-stack__img" src="{% asset ai-stack-img-13.png @path %}">
            </div>
            <span class="ai-stack__name">Linkedin</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
