<section class="ai-testimonials ai-section">
  <div class="container">
    <ul class="list">
      <li class="list__item fade-down delay-1">
        <div class="ai-testimonial">
          <div class="ai-testimonial__foto" style="background-image: url({% asset ai-testimonials_img_01.png @path %})"></div>
          <div class="ai-testimonial__description">
            <strong class="ai-testimonial__name">Tyler Gordon</strong>
            <small class="ai-testimonial__position">Director of Product</small>
            <p class="ai-testimonial__text fade-down delay-2">As Agent Inbox has been growing, Jetthoughts has been able to scale up really quickly, has been super flexible with changing products, changing demands with us internally, has been able to integrate very successfully with our engineering teams.</p>
          </div>
        </div>
      </li>
      <li class="list__item fade-down delay-2">
        <div class="ai-testimonial">
          <div class="ai-testimonial__foto" style="background-image: url({% asset ai-testimonials_img_02.png @path %})"></div>
          <div class="ai-testimonial__description">
            <strong class="ai-testimonial__name">John Williams</strong>
            <small class="ai-testimonial__position">Director of Product</small>
            <p class="ai-testimonial__text fade-down delay-3">Once configured it just works and saves ton of time. Allows you to keep critical data in Airtable and import into google sheets for analytics and calculations. Once configured it just works and saves ton of time. Allows you to keep critical data in Agent Inbox.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
