@import 'vendor/animate.min';
@import 'vendor/normalize.min';
@import 'variables';
@import 'components';
@import 'case';

body {
  background-color: $card-grey;
  color: $white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

  @include respond-to(xs) {
    font-size: 14px;
  }

  @media (min-width: $screen-md * 2) {
    font-size: 24px;
  }
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  flex-basis: 70px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  li {
    cursor: pointer;
  }
}

a {
  color: $white;
  cursor: pointer;
  text-decoration: none;
}

label {
  color: $label-grey;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.content {
  background-color: $primary-grey;
}

section {
  background-color: $primary-grey;
  min-height: 100vh;
}

.logo {
  @include respond-to(xs) {
    display: block;
    width: 40px;
    overflow-x: hidden;
  }
}

.main-screen {
  overflow: hidden;
  position: relative;
  height: 100vh;

  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;

    .content {
      margin-top: 10%;
      background-color: transparent;
      display: flex;
      flex-grow: 2;
    }

    .main {
      font-size: 10em;
      flex-grow: 2;
      position: relative;

      @include respond-to(md) {
        align-self: center;
        &:after {
          display: none;
        }
      }

      &:after {
        @include size(46px, 35px);
        content: '';
        background: {
          image: url(asset_path('vector/arrow-right.svg'));
          repeat: no-repeat;
          size: 40px;
        }
        position: absolute;
        bottom: 25px;
        left: 18%;
        transform: rotate(90deg);
      }

      .title {
        font-weight: 500;
        max-width: 80%;
        margin: 0 auto;

        @media (max-width: 1100px) {
          font-size: 8em;
        }

        @include respond-to(md) {
          font-size: 4em;
          max-width: 100%;
          text-align: center;
          display: block;
        }
      }
    }

    .blog-articles {
      border-right: 1px solid rgba(white, .3);
      display: flex;
      flex-direction: column;
      flex-basis: 250px;
      margin-right: 4em;
      font-weight: 500;

      li {
        align-items: center;
        border: 2px solid transparent;
        display: flex;
        height: 4em;
        margin: 2em 0;
        padding-right: 2em;

        &:hover {
          border-right-color: white;
        }
      }
    }
  }
}

.services {
  display: flex;

  @include respond-to(md) {
    flex-direction: column-reverse;

  }
}

.services article {
  align-items: flex-start;
  padding-top: 10em;
  padding-bottom: 5em;
  display: flex;
  justify-content: center;
  height: inherit;
  flex-basis: 50%;

  @include respond-to(md) {
    padding-top: 4em;
    display: block;

    &.team {
      padding-bottom: 15em;
    }
  }

  &.team {
    position: relative;
    background-color: $primary-grey;

    > svg {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .description {
      &,
      & .title {
        color: $white;
      }
    }

    @include respond-to(xs) {
      svg {
        max-width: 100%;
      }
    }
  }

  .description {
    padding: 1em 2em;

    label {
      display: block;
      font-size: 0.9em;
      margin-bottom: 2em;
    }

    .title,
    .subtitle {
      font-size: 3.5em;

      @include respond-to(xs) {
        font-size: 2em;
      }
    }

    .title {
      color: black;
    }

    .subtitle {
      font-weight: normal;
    }
  }

  &.slider {
    background-color: $white;

    .description {
      color: $label-grey;
    }

    .service-wrapper {
      margin: 2em 0;
    }

    .title,
    .subtitle {
      font-size: 2em;

      @include respond-to(xs) {
        font-size: 1em;
      }
    }
  }
}

.uses-cases {
  align-items: center;
  background-color: $primary-blue;
  display: flex;
  flex-direction: column;

  .switcher {
    @extend %content-max-width;
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    margin: 1em 0;

    @include respond-to(md) {
      padding: 1em 0;
    }

    @include respond-to(xs) {
      flex-direction: column;
    }

    .project-label {
      border-bottom: 1px solid rgba(white, .5);
      padding: 0.5em;

      .project {
        font-size: 1.5em;
      }

      .type {
        color: rgba(white, .5);
        font-size: 0.75em;
        text-transform: uppercase;
        margin-top: 0.5em;
      }
    }

  }

  .slide {
    @extend %content-max-width;

    background: {
      image: url(asset_path('vector/dot_background.svg')), url(asset_path('Iphone_color.png'));
      size: 514px, 120vh;
      repeat: no-repeat;
      position: 100% 43%, 50%;
    }
    padding: 0 1.5em;

    label {
      color: rgba(white, .5);
      display: none;
      margin-bottom: 0;

      @include respond-to(xs) {
        display: block;
      }
    }

    @include respond-to(xs) {
      background: {
        size: 400px, 730px;
        position: 0 25px, 47% 100px;
      }

      flex-direction: column;
      padding: 30% 1.5em 0;
    }

    flex-grow: 2;
    display: flex;
    padding-top: 5em;

    .title {
      font-size: 10em;
      margin-bottom: 2.5em;

      @include respond-to(md) {
        font-size: 6em;
      }

      @include respond-to(xs) {
        font-size: 3em;
        word-spacing: 10em;
      }
    }

    .subtitle {
      align-items: flex-end;
      display: flex;
      padding-bottom: 9em;

      span {
        max-width: 300px;
      }
    }

  }
}

.posts {
  align-items: center;
  background-color: $bg-grey;
  display: flex;
  min-height: 70vh;
  padding: 2em 0;

  .container {
    @extend %content-max-width;
    padding-top: 5em;
    margin: 0 auto;

    @include respond-to(xs) {
      padding-top: 3em;
    }
  }

}

.posts-list {
  $block-height: 500px;

  display: flex;
  margin: 2em auto 0;
  flex-wrap: wrap;

  li {
    flex-basis: $block-height - 150;
    flex-grow: 1;
    height: $block-height;

    background-color: $card-grey;
    display: flex;
    align-items: flex-end;
    padding: 0.4em 1em;
    margin: 0 1em 1em 0;

    label {
      color: #737380;
      display: block;
    }

    .post-title {
      display: inline-block;
      max-height: $block-height - 50;
      overflow: hidden;

      &.small {
        font-size: 3em;
      }

      &.medium {
        font-size: 2.5em;
      }

      &.large {
        font-size: 1.5em;
      }

      @include respond-to(md) {
        &.small {
          font-size: 3em;
        }

        &.medium {
          font-size: 2.5em;
        }

        &.large {
          font-size: 1.5em;
        }
      }

      @include respond-to(xs) {
        &.small {
          font-size: 2em;
        }

        &.medium {
          font-size: 1.7em;
        }

        &.large {
          font-size: 1.3em;
        }
      }
    }

    &:hover {
      background: {
        color: $primary-blue;
        image: url(asset_path('vector/arrow-right.svg'));
        repeat: no-repeat;
        position: 95% 5%;
      }
      label {
        color: rgba(white, .5);
      }
    }
  }

  @include respond-to(md) {
    padding-bottom: 3em;

    li {
      min-width: $block-height - 230;
      margin-bottom: 1em;
    }
  }

}

.lets-talk {
  align-items: center;
  display: flex;

  .container {
    @extend %content-max-width;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .wave-container {
    flex-basis: 60%;
    height: 200px;
    position: relative;

    .wave-cover {
      @include size(100%, 200px);
      background-color: $primary-grey;
      position: absolute;
      top: 0;
      right: 0;

      &.wave-overlap {
        animation-name: width-animation;
        animation-duration: 5s;
        animation-fill-mode: forwards;
      }
    }

    @include respond-to(md) {
      flex-basis: 100%;
      overflow: hidden;

      .wave {
        @include size(200%, 200px);
        transform: translateX(-10%);
      }
    }
  }

  .cta-btn {
    flex-basis: 100%;
  }

  .description {
    flex-basis: 30%;
    .title {
      font-size: 10em;

    }
  }

  @include respond-to(xs) {
    .description {
      padding: 0 1.5em;
      flex-basis: 100%;

      .title {
        font-size: 5em;
      }
    }

    .cta-btn {
      padding-left: 1.5em;
    }

  }
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;

  @include respond-to(xs) {
    padding: 0 10px;
  }

  .controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-basis: 60px;

    .back-btn {
      @include size(30px, 15px);
      transform: rotate(180deg);
      background: {
        image: url(asset_path('vector/arrow-right.svg'));
        repeat: no-repeat;
        size: 30px;
      }
      cursor: pointer;
      margin: 0 1.5em;
    }

    .close-btn {
      @include size(20px, 20px);

      background: {
        image: url(asset_path('vector/close-x.svg'));
        repeat: no-repeat;
        size: 20px;
      }
      cursor: pointer;
      margin: 1.5em;

    }

    @include respond-to(xs) {
      .close-btn,
      .back-btn {
        margin: 0;
      }
    }
  }

  .contact-form {
    @extend %content-max-width;
    padding: 0 1.5em;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-to(xs) {
      flex-grow: 0;
      padding: 0;
      input,
      textarea {
        max-width: 90%;
      }
      padding-bottom: 2em;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-group {
      flex-basis: 40%;

      &:first-of-type {
        margin-right: 1em;
      }
    }

    input {
      display: block;
    }

    @include respond-to(xs) {
      flex-direction: column;

      .form-group {
        flex-basis: 100%;
        margin-bottom: 1em;
        &:first-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .form-group {
    label {
      display: block;
      margin-bottom: 1em;
    }
  }

  .message {
    padding-top: 3em;
  }

  .submit {
    padding-top: 3em;

    button {
      padding: 10px 20px;
    }
  }
}

.form-sent {
  align-items: center;
  display: flex;
  flex-grow: 2;
  font-size: 2em;
  justify-content: center;
  text-align: center;
  padding: 1em 0;
}

.talk-wrapper {
  overflow-x: hidden;
}

footer {
  background-color: $bg-grey;
  padding: 3em 0 5em;

  .social-links {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.75em;

    li {
      margin: 0.5em 0;
    }

  }

  label {
    display: block;
    margin-bottom: 0.75em;
  }

  .container {
    @extend %content-max-width;
    display: flex;

    .col-3 {
      flex-basis: 33%;
    }

    .col-6 {
      flex-basis: 66%;

      @include respond-to(xs) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    @include respond-to(md) {
      .col-3,
      .col-6 {
        flex-basis: 50%;
      }
    }
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;

  }

  .promo-text {
    color: rgba($label-grey, .5);
    font-size: 0.8em;
  }

  .rights {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;

    > span {
      padding-bottom: 0.5em;
      font-size: 1.15em;
    }
  }

  @include respond-to(md) {
    padding: 3em 1.5em;

    .container {
      flex-wrap: wrap;
      width: 95%;

      .rights {
        margin: 1em auto 0;
        flex-basis: 100%;
      }
    }

  }

  @include respond-to(xs) {
    width: inherit;

    .container {
      .col-3,
      .col-6 {
        flex-basis: 100%;
      }

      .rights {
        text-align: left;
      }
    }

    .social-links,
    .contacts {
      flex-direction: column;
      margin: 1em 0;
      > div {
        margin-bottom: 0.5em;
      }
    }

    .contacts {
      margin-top: 2em;
      padding-bottom: 0;
    }
  }
}

label {
  @include respond-to(xs) {
    display: block;
  }
}

body,
.services,
.uses-cases {
  .animated {
    display: none;

    @include respond-to(xs) {
      display: block;
    }

    &.lets-talk,
    &.slide.passed-animation {
      display: flex;
    }

    &.passed-animation {
      display: block;
    }
  }
}

.contact-form-wrapper {
  .container {
    display: none;
  }
}

.lets-talk {
  .controls,
  .contact-form {
    display: none;
  }

  .form-sent {
    display: none;
  }
}


.animated {
  @include respond-to($screen-md) {
    display: block;
  }
}

