$primary-blue: #1A8CFF;
$primary-grey: #202024;
$white: #fff;
$label-grey: #737380;
$bg-grey: #17171A;
$bg-sub-bg: #F7F7F7;
$desc-color: #A6A6A6;
$card-grey: $primary-grey;
$screen-md: 996px;
$screen-sm: 768px;
$screen-xs: 480px;
