$primary-blue: #1A8CFF;
$primary-grey: #1B1B1F;
$white: #fff;
$label-grey: #737380;
$bg-grey: #17171A;
$desc-color: #A6A6A6;
$card-grey: #1B1B1F;
$screen-md: 996px;
$screen-sm: 768px;
$screen-xs: 480px;
