@media screen and ($b_no_mobile) {
  .fade-up {
    position: relative;
    @include transition(0.5s);
    opacity: 0;
    top: -100px;
  }
  .fade-right {
    position: relative;
    @include transition(0.5s);
    opacity: 0;
    right: -100px;
  }
  .fade-down {
    position: relative;
    @include transition(0.5s);
    opacity: 0;
    bottom: -100px;
  }
  .fade-left {
    position: relative;
    @include transition(0.5s);
    opacity: 0;
    left: -100px;
  }
  .animation .fade-up,
  .animation.fade-up {
    opacity: 1;
    top: 0;
  }
  .animation .fade-right,
  .animation.fade-right {
    opacity: 1;
    right: 0;
  }
  .animation .fade-down,
  .animation.fade-down {
    opacity: 1;
    bottom: 0;
  }
  .animation .fade-left,
  .animation.fade-left {
    opacity: 1;
    left: 0;
  }
  .delay-1 {
    transition-delay: .3s;
  }
  .delay-2 {
    transition-delay: .6s;
  }
  .delay-3 {
    transition-delay: .9s;
  }
  .delay-4 {
    transition-delay: 1.2s;
  }
  .delay-5 {
    transition-delay: 1.5s;
  }
  .delay-6 {
    transition-delay: 1.8s;
  }
  .delay-7 {
    transition-delay: 2.1s;
  }
  .delay-8 {
    transition-delay: 2.4s;
  }
}
