.btn-primary {
  background: #1a8cff;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 13px 19px;
  white-space: nowrap;
  &:hover {
    background: #0173E6;
  }
}

.btn-scroll-down {
  width: 15px;
  height: 29px;
  background: url(asset_path('vector/arrow-down.svg')) no-repeat 50% 50%;
  background-size: 100% auto;
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: 179px;
  &:hover {
    opacity: .8;
  }
}
