.bg-white { background: $white; }
.bg-blue { background: $blue; }
.bg-light-grey { background: $light_grey; }
.bg-dark-grey { background: $dark_grey; }
.bg-light-grey-2 { background: $light_grey_2; }
.bg-dark-grey-2 { background: $dark_grey_2; }

.color-white { color: $white; }
.color-blue { color: $blue; }
.color-light-grey { color: $light_grey; }
.color-dark-grey { color: $dark_grey; }
.color-light-grey-2 { color: $light_grey_2; }
.color-dark-grey-2 { color: $dark_grey_2; }
