@font-face {
  font-family:'Graphik Web';
  src: url(asset_path('Graphik-Regular.woff2')) format('woff2'),
       url(asset_path('Graphik-Regular.woff')) format('woff'),
       url(asset_path('Graphik-Regular.ttf')) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'Graphik Web';
  src: url(asset_path('Graphik-Medium.woff2')) format('woff2'),
       url(asset_path('Graphik-Medium.woff')) format('woff'),
       url(asset_path('Graphik-Medium.ttf')) format('truetype');
  font-weight: 500;
  font-style: normal;
}
