<div class="oa-advantages">
  <section class="ai-section js-scroll tbl">
    <div class="col img">
      <div class="cell">
        <img data-src="{% asset oa-advantages-img-01.png @path %}" data-srcset="{% asset oa-advantages-img-01.png @path %}" class="lazy ai-advantages__img fade-down delay-3" alt="MVP based on Angular moved to Rails">
      </div>
    </div>
    <div class="col">
      <div class="cell">
        <div class="ai-advantages__description">
          <h2 class="ai-advantages__title fade-down delay-1">New User Interface + Internal Features</h2>
          <p class="ai-advantages__text fade-down delay-2">We rewrote and redesigned the entire user interface, contending with a very tight timeline, and we upgraded the existing code within Ruby on Rails, including all dependencies that were previously unsupported and thus creating security risks for the product.</p>
          <p class="ai-advantages__text fade-down delay-2">Additionally, we created a backend solution enabling new features and/or new changes to go live within two days (improved from the existing two-week period, which significantly reduced operational costs for the client).</p>
        </div>
      </div>
    </div>
  </section>
  <section class="ai-section js-scroll tbl right">
    <div class="col img">
      <div class="cell">
        <img data-src="{% asset oa-advantages-img-02.png @path %}" data-srcset="{% asset oa-advantages-img-02.png @path %}" class="lazy ai-advantages__img fade-down delay-3" alt="MLS merge and move to own solution">
      </div>
    </div>
    <div class="col">
      <div class="cell">
        <div class="ai-advantages__description">
          <h2 class="ai-advantages__title fade-down delay-1">Streamlined Project Management Processes</h2>
          <p class="ai-advantages__text fade-down delay-2">OpenApply was bogged down with a variety of technical bugs and no real process to efficiently address them. We added performance analytics so the FEG team can assess interface performance and prevent regressions. We also established project management processes that eliminated role-related confusion and allowed managers and developers to work within realistic time- and workload-frameworks.</p>
          <p class="ai-advantages__text fade-down delay-2">One of these processes involved optimizing the automated customer workflow, which resulted in a direct boost in customer satisfaction, while another reduced project setup time for new employees from two weeks to just 20 minutes.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="ai-section js-scroll tbl">
    <div class="col img">
      <div class="cell">
        <img data-src="{% asset oa-advantages-img-03.png @path %}" data-srcset="{% asset oa-advantages-img-03.png @path %}" class="lazy ai-advantages__img fade-down delay-3" alt="Release mobile version based on Rails with">
      </div>
    </div>
    <div class="col">
      <div class="cell">
        <div class="ai-advantages__description">
          <h2 class="ai-advantages__title fade-down delay-1">Built OpenApply’s Internal Development Team</h2>
          <p class="ai-advantages__text fade-down delay-2">After successfully restructuring OpenApply’s development processes, FEG hired us to build out its internal development team for the product. As a result, the team doubled in 3 months (from 10 to 20 developers), and the level of Bus Factor was raised from 1 person to 5. </p>
          <p class="ai-advantages__text fade-down delay-2">Additionally, we reduced the time required to onboard new employees and initiated a plan to make a softer barrier of entry so that developers could not only get hired but also add safe and tested code very quickly. This helped reduce the client’s training, development, and support costs without sacrificing quality.</p>
        </div>
      </div>
    </div>
  </section>
</div>
