<div class="oa-advantages">
  <section class="ai-section js-scroll tbl">
    <div class="col img">
      <div class="cell">
        <img data-src="{% asset oa-communication_img_01.png @path %}" data-srcset="{% asset oa-communication_img_01.png @path %}" class="lazy ai-advantages__img fade-down delay-3" alt="MLS merge and move to own solution" class="img-80">
      </div>
    </div>
    <div class="col">
      <div class="cell">
        <div class="ai-advantages__description">
          <h2 class="ai-advantages__title fade-down delay-1">Our Work</h2>
          <h2 class="ai-advantages__title fade-down delay-1">to Build the Product & Team</h2>
          <p class="ai-advantages__text fade-down delay-2">Growth came relatively quickly after OpenApply’s initial launch, and the founder was soon inundated with issues related to product expansion, emerging bugs within the code, and a user interface that had quickly become outdated.</p>
          <p class="ai-advantages__text fade-down delay-2">We were hired to debug the product, develop an entirely new user interface, create additional features, and streamline their internal project management processes. Because of our success, they also asked us to build their internal development department in Ukraine.</p>
        </div>
      </div>
    </div>
  </section>
</div>
