<section class="ai-challenge">
  <div class="ai-challenge__holder ai-section">
    <small class="ai-challenge__head fade-down delay-1">Technical Highlights</small>
  </div>
  <div class="js-scroll ai-section tbl right">
    <div class="col">
      <img class="lazy ai-challenge__img fade-right delay-2" data-src="{% asset ai-challenge_img_01.png @path %}" data-srcset="{% asset ai-challenge_img_01.png @path %}" alt="Setup Flow. Prepare technical enviroment for quick changes">
    </div>
    <div class="col">
      <div class="ai-challenge__description fade-down delay-1">
        <h2 class="ai-challenge__title">Enhanced Code Readability = Better Product Performance</h2>
        <p class="ai-challenge__text">We drastically enhanced the product’s code readability to set the product up for current and future success. Our code quality rank on Code Climate was raised from level F to A. Plus, we significantly reduced bug risks by introducing code practices and efficient tests.</p>
      </div>
    </div>
  </div>
  <div class="js-scroll ai-section tbl">
    <div class="col">
      <img class="lazy ai-challenge__img fade-left delay-2" data-src="{% asset ai-challenge_img_02.png @path %}" data-srcset="{% asset ai-challenge_img_02.png @path %}" alt="Multiplatform velociti and implementation">
    </div>
    <div class="col">
      <div class="ai-challenge__description fade-down delay-1">
        <h2 class="ai-challenge__title">Improved Rendering for Faster Performance</h2>
        <p class="ai-challenge__text">We reduced the average request processing time from 3 seconds to 0.2 seconds, and the average page rendering time dropped from 600 ms to 200 ms.</p>
      </div>
    </div>
  </div>
  <div class="js-scroll ai-section tbl right">
    <div class="col">
      <img class="lazy ai-challenge__img fade-left delay-2" data-src="{% asset ai-challenge_img_02.png @path %}" data-srcset="{% asset ai-challenge_img_02.png @path %}" alt="Multiplatform velociti and implementation">
    </div>
    <div class="col">
      <div class="ai-challenge__description fade-down delay-1">
        <h2 class="ai-challenge__title">Increased Developer Satisfaction</h2>
        <p class="ai-challenge__text">A single test used to take up to 2 minutes to launch; they now take just 25 seconds. Additionally, we reduced the product application launch time from 2 minutes to 20 seconds.</p>
      </div>
    </div>
  </div>
</section>
