<section class="js-scroll oa-communication ai-section">
  <div class="cell">
    <div class="container">
      <h2 class="ai-communication__title fade-down delay-2">
        <span class="fade-down delay-1">Our Work to Build</span>
        <span class="fade-down delay-2">the Product & Team</span>
      </h2>
      <div class="oa-communication__description fade-down delay-3">
        <p class="ai-communication__text">Growth came relatively quickly after OpenApply’s initial launch, and the founder was soon inundated with issues related to product expansion, emerging bugs within the code, and a user interface that had quickly become outdated.</p>
        <p class="ai-communication__text">We were hired to debug the product, develop an entirely new user interface, create additional features, and streamline their internal project management processes. Because of our success, they also asked us to build their internal development department in Ukraine.</p>
      </div>
    </div>
  </div>
  <img data-src="{% asset oa-communication_img_01.png @path %}" data-srcset="{% asset oa-communication_img_01.png @path %}" class="lazy ai-communication__img house fade-down delay-5" alt="Real Estate">
</section>
