<section class="js-scroll ai-description ai-section">
  <div class="cell">
    <div class="container">
      <h2 class="ai-description__title fade-down delay-2">Seamlessly Connecting Schools with Prospects </h2>
      <p class="ai-description__text fade-down delay-3">
        If you’ve ever gone through a school admissions process, you know just how arduous it can be. You have to deal with paperwork, essays, tests, interviews, and likely much more. It can be overwhelming – and that’s not even considering the anxiety of waiting to find out if you got in.
        With all of that in mind, FEG created OpenApply, an online platform to help simplify the admissions and enrollment processes for applicants around the world. OpenApply supports international schools by providing a paperless, integrated, and seamless online system that helps ease the stress of everyone involved.
      </p>
    </div>
  </div>
</section>
