<section class="js-scroll oa-communication oa-go-it ai-section">
  <div class="cell">
    <div class="container">
      <h2 class="ai-communication__title fade-down delay-1">
        <span class="fade-down delay-1">How Did We Do It?</span>
      </h2>
      <div class="ai-communication__description fade-down delay-2">
        <p class="ai-communication__text">To begin, we had to tackle the unstable code containing hundreds of bugs. We ensured quality work by treating it as if we were constructing a complex tower, knowing that each line of code was like a brick – and each brick was crucial to the overall stability of the final product. In the end, with better efficiency and a more user-friendly product, FEG experienced an immediate increase in existing customer satisfaction and retention, as well as new customer growth leading to profits directly tied to our work.</p>
      </div>
    </div>
  </div>
  <img data-src="{% asset oa-communication_img_02.png @path %}" data-srcset="{% asset oa-communication_img_02.png @path %}" class="oa-communication__img fade-down delay-3 lazy" alt="Dashboard">
</section>
