<section class="js-scroll ai-company-info ai-section">
  <img data-src="{% asset ai-statistics-bg.jpg @path %}" data-srcset="{% asset ai-statistics-bg.jpg @path %}" class="lazy bg-cover mobile-hide" alt="Background">
  <img data-src="{% asset ai-statistics-bg-mobile.jpg @path %}" data-srcset="{% asset ai-statistics-bg-mobile.jpg @path %}" class="lazy bg-cover mobile-show" alt="Mobile Background">
  <div class="container">
    <ul class="info-list">
      <li class="info-list__item fade-down delay-2">
        <span class="info-list__title">Number of Schools</span>
        <span class="info-list__text">10 000+</span>
      </li>
      <li class="info-list__item fade-down delay-3">
        <span class="info-list__title">Number of Countries</span>
        <span class="info-list__text">130+</span>
      </li>
      <li class="info-list__item fade-down delay-4">
        <span class="info-list__title">Number of Students</span>
        <span class="info-list__text">3 million +</span>
      </li>
      <li class="info-list__item fade-down delay-4">
        <span class="info-list__title">Supported Academic Standards</span>
        <span class="info-list__text">607</span>
      </li>
    </ul>
  </div>
</section>
