<section class="js-scroll ai-section ai-stack">
  <div class="container">
    <div class="tbl">
      <div class="col">
        <strong class="ai-stack__title fade-down delay-1">Technologies</strong>
        <ul class="list">
          <li class="list__item fade-down delay-2">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset ai-stack-img-01.png @path %}" data-srcset="{% asset ai-stack-img-01.png @path %}" alt="AngularJS">
              </div>
              <span class="ai-stack__name">AngularJS</span>
            </div>
          </li>
          <li class="list__item fade-down delay-2">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset ai-stack-img-02.png @path %}" data-srcset="{% asset ai-stack-img-02.png @path %}" alt="JQuery">
              </div>
              <span class="ai-stack__name">JQuery</span>
            </div>
          </li>
          <li class="list__item fade-down delay-2">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset ai-stack-img-04.png @path %}" data-srcset="{% asset ai-stack-img-04.png @path %}" alt="Ruby">
              </div>
              <span class="ai-stack__name">Ruby</span>
            </div>
          </li>
          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset oa-stack-img-02.png @path %}" data-srcset="{% asset oa-stack-img-02.png @path %}" alt="HTML 5">
              </div>
              <span class="ai-stack__name">HAML</span>
            </div>
          </li>

          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset oa-stack-img-03.png @path %}" data-srcset="{% asset oa-stack-img-03.png @path %}" alt="HTML 5">
              </div>
              <span class="ai-stack__name">Bootstrap</span>
            </div>
          </li>
          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset oa-stack-img-04.png @path %}" data-srcset="{% asset oa-stack-img-04.png @path %}" alt="HTML 5">
              </div>
              <span class="ai-stack__name">CoffeeScript</span>
            </div>
          </li>
          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset oa-stack-img-06.png @path %}" data-srcset="{% asset oa-stack-img-06.png @path %}" alt="HTML 5">
              </div>
              <span class="ai-stack__name">Rspec</span>
            </div>
          </li>
          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset oa-stack-img-07.png @path %}" data-srcset="{% asset oa-stack-img-07.png @path %}" alt="HTML 5">
              </div>
              <span class="ai-stack__name">PhantomJS</span>
            </div>
          </li>
          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset oa-stack-img-08.png @path %}" data-srcset="{% asset oa-stack-img-08.png @path %}" alt="HTML 5">
              </div>
              <span class="ai-stack__name">Sidekiq</span>
            </div>
          </li>
          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset ai-stack-img-06.png @path %}" data-srcset="{% asset ai-stack-img-06.png @path %}" alt="CSS3">
              </div>
              <span class="ai-stack__name">CSS3</span>
            </div>
          </li>
          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset ai-stack-img-07.png @path %}" data-srcset="{% asset ai-stack-img-07.png @path %}" alt="JavaScript">
              </div>
              <span class="ai-stack__name">JavaScript</span>
            </div>
          </li>
          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset oa-stack-img-01.png @path %}" data-srcset="{% asset oa-stack-img-01.png @path %}" alt="Mongo DB">
              </div>
              <span class="ai-stack__name">MySQL</span>
            </div>
          </li>
          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset ai-stack-img-21.png @path %}" data-srcset="{% asset ai-stack-img-21.png @path %}" alt="React">
              </div>
              <span class="ai-stack__name">React</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col">
        <strong class="ai-stack__title fade-down delay-1">Integrations</strong>
        <ul class="list">
          <li class="list__item fade-down delay-2">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset oa-stack-img-09.png @path %}" data-srcset="{% asset oa-stack-img-09.png @path %}" alt="Facebook">
              </div>
              <span class="ai-stack__name">CircleCI</span>
            </div>
          </li>
          <li class="list__item fade-down delay-2">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset oa-stack-img-10.png @path %}" data-srcset="{% asset oa-stack-img-10.png @path %}" alt="Facebook">
              </div>
              <span class="ai-stack__name">TeamCity</span>
            </div>
          </li>
          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset ai-stack-img-14.png @path %}" data-srcset="{% asset ai-stack-img-14.png @path %}" alt="Heroku">
              </div>
              <span class="ai-stack__name">Heroku</span>
            </div>
          </li>
          <li class="list__item fade-down delay-3">
            <div class="ai-stack__item">
              <div class="ai-stack__holder">
                <img class="ai-stack__img lazy" data-src="{% asset ai-stack-img-15.png @path %}" data-srcset="{% asset ai-stack-img-15.png @path %}" alt="Amazon Web Services">
              </div>
              <span class="ai-stack__name">AWS</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
