<section class="js-scroll s-scroll ai-testimonials ai-section">
  <div class="container">
    <ul class="list">

        <li class="list__item fade-down delay-1">
          <div class="ai-testimonial" itemscope itemtype="http://schema.org/Review">
          <div class="ai-testimonial__foto">
            <img data-src="{% asset ai-testimonials_img_01.png @path %}" data-srcset="{% asset ai-testimonials_img_01.png @path %}" class="lazy bg-cover" alt="Avatar">
          </div>
            <div class="ai-testimonial__description" itemprop="itemReviewed" content="5">
              <strong class="ai-testimonial__name" itemprop="author">Elliot Koolik</strong>
              <small class="ai-testimonial__position" itemprop="headline">Co-Founder, Agent Inbox</small>
              <p class="ai-testimonial__text fade-down delay-2" itemprop="reviewBody">“I’ve been selling real estate for the past 25 years, and when people ask me what I’ve been most frustrated with in the process, it’s how we communicate. We’re texting, we’re emailing, we’re using WhatsApp, it’s all over the place. So we started Agent Inbox. We believe we’re leading the messaging revolution as it relates to our industry, and JetThoughts helped us build it.”</p>
            </div>
          </div>
        </li>

      <li class="list__item fade-down delay-2">
        <div class="ai-testimonial" itemscope itemtype="http://schema.org/Review">
          <div class="ai-testimonial__foto">
            <img data-src="{% asset ai-testimonials_img_02.png @path %}" data-srcset="{% asset ai-testimonials_img_02.png @path %}" class="lazy bg-cover" alt="Avatar">
          </div>
          <div class="ai-testimonial__description" itemprop="itemReviewed" content="5">
            <strong class="ai-testimonial__name" itemprop="author">Tyler Gordon</strong>
            <small class="ai-testimonial__position" itemprop="headline">CEO & Co-Founder, Agent Inbox</small>
            <p class="ai-testimonial__text fade-down delay-3" itemprop="reviewBody">“As Agent Inbox grew, JetThoughts was able to scale up really quickly, has been super flexible with changing products, changing demands with us internally, and has been able to integrate very successfully with our engineering teams.”</p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>
