{{ partial "page/header" . }}
<div id="fl-main-content" class="fl-page-content" itemprop="mainContentOfPage" role="main">
    <div class="fl-builder-content fl-builder-content-741 fl-builder-global-templates-locked" data-post-id="741">
        <div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-efmcw3bh18k5 fl-row-default-height fl-row-align-center fl-row-has-layers"
            data-node="efmcw3bh18k5">
            <div class="fl-row-content-wrap">
                <div class="fl-builder-layer fl-builder-shape-layer fl-builder-bottom-edge-layer fl-builder-shape-rect">
                    <svg class="fl-builder-layer-align-bottom-center" viewBox="0 0 800 450" preserveAspectRatio="none">

                        <defs>
                        </defs>

                        <g class="fl-shape-content">
                            <rect class="fl-shape" x="0" y="0" width="800" height="450"></rect>
                        </g>
                    </svg>
                </div>
                <div class="fl-row-content fl-row-fixed-width fl-node-content">

                    <div class="fl-col-group fl-node-pr4hl12zykvn" data-node="pr4hl12zykvn">
                        <div class="fl-col fl-node-sfuljidq5a2h" data-node="sfuljidq5a2h">
                            <div class="fl-col-content fl-node-content">
                                <div class="fl-module fl-module-heading fl-node-bh5ja2c6xuro" data-node="bh5ja2c6xuro">
                                    <div class="fl-module-content fl-node-content">
                                        <h1 class="fl-heading">
                                            <span class="fl-heading-text">Blog</span>
                                        </h1>
                                    </div>
                                </div>
                                <div class="fl-module fl-module-rich-text fl-node-mrsav8gcfhel"
                                    data-node="mrsav8gcfhel">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="fl-rich-text">
                                            <p>Browse through our blog page filled with updated information and the
                                                latest tips to help you achieve your goals.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="fl-module fl-module-pp-content-grid fl-node-o6rwlh2bvzie"
                                    data-node="o6rwlh2bvzie">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="pp-posts-wrapper">



                                            <div class="pp-content-grid-empty">
                                                <p>Sorry, we couldn't find any posts. Please try a different search.</p>
                                                <form aria-label="Search" method="get" role="search"
                                                    action="{{ absURL "" }}"
                                                    title="Type and press Enter to search." data-hs-cf-bound="true">
                                                    <input aria-label="Search" type="search"
                                                        class="fl-search-input form-control" name="s"
                                                        placeholder="Search" value=""
                                                        onfocus="if (this.value === 'Search') { this.value = ''; }"
                                                        onblur="if (this.value === '') this.value='Search';">
                                                </form>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="fl-module fl-module-heading fl-node-g39fdkhsc8je" data-node="g39fdkhsc8je">
                                    <div class="fl-module-content fl-node-content">
                                        <h2 class="fl-heading">
                                            <span class="fl-heading-text">All articles</span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="fl-module fl-module-pp-search-form fl-node-o70kg3u8e914 fl-visible-medium fl-visible-mobile search"
                                    data-node="o70kg3u8e914">
                                    <div class="fl-module-content fl-node-content">
                                        <div
                                            class="pp-search-form-wrap pp-search-form--style-classic pp-search-form--button-type-icon">
                                            <form class="pp-search-form" role="search"
                                                action="{{ absURL "" }}"" method="get"
                                                aria-label="Search form" data-hs-cf-bound="true">
                                                <div class="pp-search-form__container">
                                                    <label class="pp-screen-reader-text"
                                                        for="pp-search-form__input-o70kg3u8e914">
                                                        Search articles </label>
                                                    <input id="pp-search-form__input-o70kg3u8e914"
                                                        placeholder="Search articles" class="pp-search-form__input"
                                                        type="search" name="s" title="Search" value="">
                                                    <button class="pp-search-form__submit" type="submit">
                                                        <i class="fal fa-search" aria-hidden="true"></i>
                                                        <span class="pp-screen-reader-text">Search</span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="fl-module fl-module-pp-search-form fl-node-dmsa5rf7v381 fl-visible-desktop fl-visible-large search blog-search"
                                    data-node="dmsa5rf7v381">
                                    <div class="fl-module-content fl-node-content">
                                    </div>
                                </div>
                                <div class="fl-module fl-module-pp-content-grid fl-node-bpywd8xgvs03 blog-archive-search"
                                    data-node="bpywd8xgvs03">
                                    <div class="fl-module-content fl-node-content">
                                        <div class="pp-posts-wrapper">



                                            <div class="pp-content-grid-empty">
                                                <p>Sorry, we couldn't find any posts. Please try a different search.</p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fl-col-group fl-node-ri5fvgw1u6pd fl-col-group-custom-width" data-node="ri5fvgw1u6pd">
                        <div class="fl-col fl-node-cvqegldw4hfo fl-col-small-custom-width fl-col-has-cols blue-border"
                            data-node="cvqegldw4hfo">
                            <div class="fl-col-content fl-node-content">
                                <div class="fl-col-group fl-node-b1oi92a3zgte fl-col-group-nested fl-col-group-equal-height fl-col-group-align-center fl-col-group-custom-width"
                                    data-node="b1oi92a3zgte">
                                    <div class="fl-col fl-node-r6vutaz8bsnq fl-col-small fl-col-small-custom-width"
                                        data-node="r6vutaz8bsnq">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-heading fl-node-rhgcenbtxzqi"
                                                data-node="rhgcenbtxzqi">
                                                <div class="fl-module-content fl-node-content">
                                                    <h2 class="fl-heading">
                                                        <span class="fl-heading-text">Subscribe to our newsletter</span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="fl-module fl-module-rich-text fl-node-bo3cr61zgnis"
                                                data-node="bo3cr61zgnis">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="fl-rich-text">
                                                        <p>Subscribe to get our latest news, offers, insights,
                                                            technology, and updates.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fl-col fl-node-m4fy3ijh6oev fl-col-small fl-col-small-custom-width"
                                        data-node="m4fy3ijh6oev">
                                        <div class="fl-col-content fl-node-content">
                                            <div class="fl-module fl-module-pp-gravity-form fl-node-erl54g069p1u jt-newsletter"
                                                data-node="erl54g069p1u">
                                                <div class="fl-module-content fl-node-content">
                                                    <div class="pp-gf-content">
                                                        <div class="pp-gf-inner">
                                                            <script type="text/javascript"></script>
                                                            <div class="gf_browser_chrome gform_wrapper gravity-theme gform-theme--no-framework"
                                                                data-form-theme="gravity-theme" data-form-index="0"
                                                                id="gform_wrapper_4">
                                                                <div id="gf_4" class="gform_anchor" tabindex="-1"></div>
                                                                <div class="gform_heading">
                                                                    <p class="gform_required_legend">"<span
                                                                            class="gfield_required gfield_required_asterisk">*</span>"
                                                                        indicates required fields</p>
                                                                </div>
                                                                <form method='post' target="_blank" action='{{ .Site.Params.forms.newsletter.action }}'>
                                                                    <div class='gform-body gform_body'>
                                                                       <div id='gform_fields_4' class='gform_fields top_label form_sublabel_below description_below'>
                                                                          <div id="field_4_1" class="gfield gfield--type-email gfield_contains_required field_sublabel_below gfield--no-description field_description_below gfield_visibility_visible"  data-js-reload="field_4_1" >
                                                                             <label class='gfield_label gform-field-label' for='input_4_1'>Email address<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label>
                                                                             <div class='ginput_container ginput_container_email'>
                                                                                <input required name='{{.Site.Params.forms.newsletter.email }}' id='input_4_1' type='email' value='' class='large' tabindex='100'  placeholder='e.g. johndoe@gmail.com' aria-required="true" aria-invalid="false"  />
                                                                             </div>
                                                                          </div>
                                                                       </div>
                                                                    </div>
                                                                    <div class='gform_footer top_label'>
                                                                      <input type='submit' id='gform_submit_button_4' class='gform_button button' value='Subscribe' tabindex='101' />
                                                                    </div>
                                                                 </form>
                                                            </div>
                                                         
                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{ partial "page/footer" . }}