html, body {
  height: initial;
}

.homepage_body {
  background-color: #436995;
  background-image: url("/images/bg/bg_06.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.spacer {
  height: 2.7em;
}

$corner_width: 48px;
$corner_height: 19px;
.article {
  .header {
    padding: 40px 0 40px;
    position: relative;
    z-index: 1;
    &:after {
      content: " ";
      position: absolute;
      bottom: -($corner_height);
      left: 50%;
      margin-left: -($corner_width/2);
      border: {
        style: solid;
        color: #eeede8 transparent transparent transparent;
        width: ($corner_height) ($corner_width/2) 0;
      }
    }
  }
}

.credits_wrap {
  padding-bottom: 50px;
}