{% include head.html %}
{% include header.html %}
<div class="main-wrapper">
  {% include agentinbox/ai-main-banner.html %}
  {% include agentinbox/ai-description.html %}
  {% include agentinbox/ai-communication.html %}
  {% include agentinbox/ai-company-info.html %}
  {% include agentinbox/ai-testimonials.html %}
  {% include agentinbox/ai-go-it.html %}
  {% include agentinbox/ai-advantages.html %}
  {% include agentinbox/ai-challenge.html %}
  {% include agentinbox/ai-statistics.html %}
  {% include agentinbox/ai-customers.html %}
  {% include agentinbox/ai-stack.html %}
  {% include agentinbox/ai-projects.html %}
  {% include sections/lets-talk.html %}
  {% include sections/modal.html %}
</div>
{% include footer.html %}
