{% include head.html %}
<div class="no-menu">
  {% include header.html button_text='Hire Us' %}
</div>
<div class="main-wrapper">
  {% include openapply/oa-main-banner.html %}
  {% include openapply/oa-description.html %}
  {% include openapply/oa-communication.html %}
  {% include openapply/oa-go-it.html %}
  {% include openapply/oa-advantages.html %}
  {% include openapply/oa-company-info.html %}
  {% include openapply/oa-challenge.html %}
  {% include openapply/oa-statistics.html %}
  {% include openapply/oa-stack.html %}
  {% include openapply/oa-projects.html %}
  {% include sections/lets-talk.html %}
  {% include sections/modal.html %}
</div>
{% include footer.html %}
