.ai-advantages {
  background: #fff;
  section {
    overflow: hidden;
  }
  .col {
    width: 50%;
    overflow: hidden;
    float: left;
  }
  .right {
    float: right;
  }
  .cell {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    height: 800px;
  }
  .img {
    background: #1a8cff;
    font-size: 0;
    line-height: 0;
    text-align: center;
  }
}
.ai-advantages__description {
  max-width: 420px;
  margin: 50px auto 82px;
}
.ai-advantages__title {
  font-size: 36px;
  line-height: 42px;
  color: #1b1b1f;
  margin-bottom: 20px;
}
.ai-advantages__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #a6a6a6;
}
.ai-advantages__img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
