.ai-advantages {
  background: #fff;
  .tbl {
    display: table;
    width: 100%;
    &.right {
      direction: rtl;
    }
  }
  .cell {
    width: 1%;
  }
  .col {
    direction: ltr;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    height: 800px;
  }
  .img {
    background: #1a8cff;
    font-size: 0;
    line-height: 0;
    text-align: center;
  }
}
.oa-advantages__description {
  max-width: 580px;
  margin: 50px auto 82px;
}
.ai-advantages__description {
  max-width: 480px;
  margin: 50px auto 82px;
}
.ai-advantages__title {
  font-size: 36px;
  line-height: 42px;
  color: #1b1b1f;
  margin-bottom: 20px;
}
.ai-advantages__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #a6a6a6;
}
.oa-advantages__img {
  max-width: 80%;
  max-height: 80%;
  height: auto;
  width: auto;
}
.ai-advantages__img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
