.ai-testimonials {
  padding: 183px 0 197px;
  color: #a6a6a6;
  background: #f7f7f7;
  .list {
    list-style: none;
    padding: 0;
    margin: 0 -10px;
    font-size: 0;
    line-height: 0;
  }
  .list__item {
    display: inline-block;
    vertical-align: text-top;
    width: 50%;
    padding: 0 10px 20px;
    outline: none;
  }
}
.ai-testimonial {
  background: #fff;
  padding: 37px 35px 30px;
}
.ai-testimonial__foto {
  float: left;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  margin-right: 22px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.ai-testimonial__description {
  overflow: hidden;
  min-height: 333px;
}
.ai-testimonial__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  display: block;
  margin-bottom: 9px;
  color: #17171a;
}
.ai-testimonial__position {
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #17171a;
  display: block;
  margin-bottom: 53px;
  opacity: .5;
}
.ai-testimonial__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
