.ai-communication {
  position: relative;
  .cell {
    height: 970px;
    width: 1%;
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0 63px;
    background: #fff;
    color: #a6a6a6;
  }
  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    background: #1a8cff;
    width: 500px;
  }
}
.ai-communication__title {
  font-size: 56px;
  line-height: 72px;
  margin-bottom: 36px;
  color: #17171a;
  span {
    display: block;
  }
}
.ai-communication__description {
  max-width: 480px;
}
.ai-communication__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.ai-communication__img {
  position: absolute;
  &.house {
    right: 0;
    max-width: 961px;
    z-index: 3;
  }
  &.chat {
    bottom: 520px;
    max-width: 392px;
  }
  &.price {
    z-index: 4;
    bottom: 136px;
    max-width: 565px;
  }
}
.animation {
  .ai-communication__img {
    &.chat {
      right: 64px;
    }
    &.price {
      right: 20px;
    }
  }
}
.ai-go-it {
  .ai-communication__img {
    right: -269px;
    top: 100%;
    max-width: 1381px;
  }
  &.animation {
    .ai-communication__img {
      top: -13px;
    }
  }
}
