body {
  background: #1b1b1f;
  color: $white;
  font-family: 'Graphik Web', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;

  @include respond-to(xs) {
    font-size: 14px;
  }

  @media (min-width: $screen-md * 2) {
    font-size: 24px;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
  flex-basis: 70px;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s;
  outline: none;
}

label {
  color: $label-grey;
  text-transform: uppercase;
  margin-bottom: 2em;
}

h1 {
  font-weight: 500;
  margin: 0 0 15px;
}
h2 {
  font-weight: 500;
  margin: 0 0 15px;
}
h3 {
  font-weight: 500;
  margin: 0 0 15px;
}
h4 {
  font-weight: 500;
  margin: 0 0 15px;
}
h5 {
  font-weight: 500;
  margin: 0 0 15px;
}
h6 {
  font-weight: 500;
  margin: 0 0 15px;
}
p {
  margin: 0 0 15px;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1205px;
  @media screen and (max-width: 767px) {
    padding: 0 40px;
  }
}

.menu-open {
  overflow: hidden;
}

.tbl {
  display: table;
  width: 100%;
  .cell {
    width: auto;
  }
}
.cell {
  width: 1%;
  display: table-cell;
  vertical-align: middle;
}

section {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    min-height: 1px;
  }
}
.section {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  visibility: visible !important;
  @media screen and (max-width: 767px) {
    min-height: 1px;
  }
}
.bg_dark {
  background: #17171a;
}





.small-head {
  display: block;
  text-transform: uppercase;
  color: #737380;
  font-size: 13px;
  line-height: 17px;
  margin: 0 0 15px;
}

.logo {
  display: block;
  max-width: 172px;
  font-size: 20px;
  line-height: 1em;
  color: #fff;
  img {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: auto;
  }
}

.desktop-hide {
  display: none;
    @media screen and (max-width: 767px) {
      display: block;
  }
}




















label {
  @include respond-to(xs) {
    display: block;
  }
}

body,
.services,
.uses-cases {
  .animated {
    display: none;

    @include respond-to(md) {
      display: block;
    }

    &.lets-talk,
    &.slide.passed-animation {
      display: flex;
    }

    &.passed-animation {
      display: block;
    }
  }
}

.contact-form-wrapper {
  .container {
    display: none;
  }
}

.lets-talk {
  .controls,
  .contact-form {
    display: none;
  }

  .form-sent {
    display: none;
  }
}

.animated {
  @include respond-to($screen-md) {
    display: block;
  }
}




%content-max-width {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;

  @media (max-width: $screen-md) {
    width: 100%;
    padding: 0 1.5rem;
  }

  @media (min-width: $screen-md * 2) {
    max-width: 1800px;
  }
}

.hide {
  display: none !important;
}

.hidden-xs {
  @include respond-to(xs) {
    display: none !important;
  }
}

.hidden-sm {
  @include respond-to(sm) {
    display: none !important;
  }
}

.hidden-md {
  @include respond-to(md) {
    display: none !important;
  }
}


@keyframes width-animation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes height-animation {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

// Form fields
input,
textarea {
  @include placeholder($label-grey);
  
  background-color: $card-grey;
  border: {
    width: 0 0 1px 0;
    style: solid;
    color: rgba($label-grey, .5);
  }
  color: $white;
  padding: 0.5rem;
  width: 100%;

  &:focus,
  &:active,
  &:hover {
    outline: none;
  }
}

i {
  @include size(32px, 32px);
  background: {
    size: contain;
    repeat: no-repeat;
    position: center;
  }

  display: inline-block;

  &.agile {
    background-image: url(asset_path('vector/agile_icon.svg'));
  }

  &.web {
    background-image: url(asset_path('vector/web_icon.svg'));
  }

  &.mobile {
    background-image: url(asset_path('vector/mobile_icon.svg'));
  }
}

