.careers-description {
  background-image: linear-gradient(to bottom,#4b9ce2 0%,#6fcfc1 100%);
  padding: 150px 0;
  color: #fff;
  text-align: center;
  min-height: auto;

  .title {
    font-size: 56px;
    line-height: 72px;
    color: #fff;
    margin: 0 0 33px;
  }

  .text {
    font-size: 18px;
    line-height: 28px;
  }
}

.services-description {
  background: #f7f7f7;
  padding: 150px 0;
  color: #a6a6a6;
  text-align: center;
  min-height: auto;

  .title {
    font-size: 56px;
    line-height: 72px;
    color: #17171a;
    margin: 0 0 33px;
  }

  .text {
    font-size: 18px;
    line-height: 28px;
  }
}
