.dev-description {
  min-height: auto;
  color: #fff;
  background-color: #6fcfc1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  .cell {
    height: 100vh;
    width: 1%;
    padding: 185px 0 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .container {
    max-width: 1000px;
  }

  text-shadow: 4px 4px 4px rgba(150, 150, 150, 0.7);
}

.dev-description__title {
  font-size: 90px;
  line-height: 100px;
  margin-bottom: 50px;
  color: #fff;
}

.dev-description__text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}
