.dev-process {
  font-weight: 400;
  color: #fff;
  padding: 150px 0;
}

.dev-process__title {
  font-size: 56px;
  line-height: 72px;
  color: #fff;
  margin-bottom: 33px;
  text-align: center;
}

.dev-process__wrap {
  display: table;
  width: 100%;
  font-size: 0;
  line-height: 0;
  padding: 50px 0;
}

.dev-process__col {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  height: 200px;
  padding: 0 15px;
}

.dev-process__list {
  height: 100%;
  margin: 0;
  padding: 50px 40px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 15px;
  box-shadow: 0 0 32px rgba(21,21,21,0.11);
  list-style: none;
}

.dev-process__item {
  padding: 0 0 23px 40px;
  position: relative;
  display: block;

  &.-reject {
    &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 4px;
      border-radius: 2px;
      background: #FF5733;
      left: 0;
      top: 10px;
      transform: rotate(45deg);
      opacity: 0.8;
    }

    &:after {
      position: absolute;
      content: '';
      width: 4px;
      height: 20px;
      border-radius: 2px;
      background: #FF5733;
      left: 8px;
      top: 2px;
      transform: rotate(45deg);
      opacity: 0.8;
    }
  }
  &.-success {
    &:before {
      position: absolute;
      content: '';
      width: 18px;
      height: 10px;
      left: 0;
      top: 2px;
      transform: rotate(-45deg);
      border: solid #47d147;
      border-width: 0 0 4px 4px;
      opacity: 0.8;
    }
  }
}
