.footer {
  padding: 153px 0;
  font-size: 16px;
  line-height: 26px;
  color: $light_grey;
  .cell {
    vertical-align: top;
  }
  .cell:first-child {
    width: 205px;
    padding-right: 15px;
  }
  .cell:last-child {
    width: 205px;
    padding-left: 15px;
    padding-bottom: 24px;
    text-align: right;
  }
  .contacts-wrapper {
    max-width: 485px;
    margin: 0 auto;
  }
  .description {
    font-weight: 400;
  }
  .logo {
    margin-bottom: 17px;
    display: inline-block;
    vertical-align: text-top;
  }
  .copyright {
    white-space: nowrap;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 17px;
  }
  .small-head {
    margin-bottom: 16px;
  }
}
.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: $white;
}
.social-links__item {
  margin-bottom: 28px;
}
.social-links__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  &:hover {
    &:before {
      width: 100%;
    }
  }
  &:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background: $white;
    @include transition(0.3s);
  }
}
.contacts-list {
  list-style: none;
  padding: 0;
  margin: 0 0 51px;
  font-size: 0;
  white-space: nowrap;
  color: $white;
}
.contacts-list__item {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}
.contacts-list__item+.contacts-list__item {
  margin-left: 126px;
}
.glassdoor-logo-wrapper {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 58px;
}
.glassdoor-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  color: $white;
  img {
    height: 30px;
  }
  &:hover {
    img {
      opacity: 0.3;
    }
  }
}
.clutch-widget {
  display: inline-block;
  vertical-align: top;
  max-width: 130px;
  margin-right: -5px;
  padding-top: 5px;
}
.footer-address {
  font-size: 12px;
  line-height: 19px;
  font-style: normal;
  margin-bottom: 14px;
  display: block;
}