.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
  padding: 25px 35px;
  .logo {
    float: left;
    margin-top: 10px;
  }
  .btn-primary {
    float: right;
  }
}

.menu-opener {
  float: right;
  width: 22px;
  height: 22px;
  position: relative;
  font-size: 0;
  line-height: 0;
  margin-left: 27px;
  margin-top: 11px;
  &:before {
    content: '';
    position: absolute;
    background: $white;
    height: 1px;
    left: 0;
    right: 0;
    top: 4px;
  }
  &:after {
    content: '';
    position: absolute;
    background: $white;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 4px;
  }
}

.menu-open .menu-opener {
  &:before {
    @include rotate(45deg);
    top: 10px;
  }
  &:after {
    @include rotate(-45deg);
    bottom: 11px;
  }
}

.no-menu {
  .menu-opener {
    display: none !important;
  }

  &.-black .header {
    background: #1b1b1f;
    position: relative;
  }
}

.hide-text {
  font-size: 0;
}
