.lets-talk {
  .cell:first-child {
    width: 398px;
    padding-right: 15px;
  }
  .cell {
    width: auto;
    height: 100vh;
  }
}
.lets-talk__title {
  font-size: 160px;
  line-height: 192px;
  margin-bottom: 50px;
  span {
    display: block;
  }
}
.wave-wrapper {
  padding-top: 37px;
  width: 0;
  overflow: hidden;
  @include transition(5s 0.7s);
}
.animation.wave-wrapper {
  width: 500%;
}
.wave {
  display: inline-block;
  vertical-align: text-top;
  padding-left: 195px;
  font-size: 0;
  line-height: 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 50%;
    height: 1px;
    width: 190px;
    left: 0;
    background: #49494c;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 50%;
    height: 1px;
    width: 2000px;
    margin-left: 5px;
    left: 100%;
    background: #49494c;
  }
  svg {
    width: 371px;
    height: auto;
  }
}

@media screen and ($b_laptop) {
  .lets-talk .cell:first-child {
    width: 340px;
    padding-right: 13px;
  }
  .lets-talk__title {
    font-size: 137px;
    line-height: 164px;
    margin-bottom: 43px;
  }
  .wave-wrapper {
    padding-top: 32px;
  }
  .wave {
    padding-left: 166px;
    &:before {
      width: 162px;
    }
    &:after {
      width: 1708px;
      margin-left: 4px;
    }
    img {
      width: 316px;
    }
  }
}

@media screen and ($b_tablet) {
  .lets-talk .cell:first-child {
    width: 150px;
  }
  .lets-talk__title {
    font-size: 80px;
    line-height: 90px;
  }
  .wave-wrapper {
    padding-top: 0;
  }
  .wave {
    padding-left: 100px;
    &:before {
      width: 98px;
    }
    svg {
      width: 300px;
    }
  }
}

@media screen and ($b_mobile) {
  .lets-talk .cell:first-child {
    padding-right: 0;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    height: 100vh;
    background: none;
  }
  .lets-talk .cell {
    display: block;
    height: auto;
    background: red;
  }
  .lets-talk__title {
    font-size: 77px;
    line-height: 93px;
    margin-bottom: 150px;
  }
  .wave-wrapper {
    @include transition(0s);
    width: 500%;
    position: absolute;
    padding-top: 53px;
    top: 50%;
    left: 0;
    right: 0;
  }
  .wave {
    padding-left: 82px;
    &:before {
      width: 80px;
      bottom: auto;
      top: 50%;
    }
    &:after {
      width: 768px;
      bottom: auto;
      top: 50%;
    }
    svg {
      width: 181px;
    }
  }
}

@media screen and ($b_small_mobile_height) {
  .lets-talk__title span {
    display: inline-block;
  }
  .wave-wrapper {
    padding-top: 0;
  }
}