.main-screen {
  overflow: hidden;
  position: relative;
  .tbl {
    height: 100vh;
    padding: 215px 0;
    .cell+.cell {
      width: 225px;
      padding-left: 15px;
    }
  }
}
.main-screen__title {
  font-size: 160px;
  line-height: 192px;
  font-weight: 500;
  span {
    display: block;
  }
  @media screen and (max-width: 991px) {
    font-size: 80px;
    line-height: 90px;
  }
  @media screen and (max-width: 767px) {
    font-size: 60px;
    line-height: 70px;
  }
}

.video-cover {
  @include size(100%, 100%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background: #f1f1f1;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  &:after {
    @include size(100%, 100%);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}

.blog-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 100vh;
    bottom: -50vh;
    right: -44px;
    width: 1px;
    background: #404044;
    transition: all .5s .5s;
    @media screen and (max-width: 1365px) {
      right: 0;
    }
  }
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    right: -100%;
    background: #1b1b1f;
    z-index: 4;
    transition: all .3s;
  }
}
.menu-open .blog-nav {
  @media screen and (max-width: 767px) {
    right: 0;
  }
}

.animation {
  .blog-nav:before {
    top: 0;
  }
}

.blog-nav__item {
  text-align: right;
  font-size: 18px;
  line-height: 26px;
  padding: 40px 0;
  position: relative;
  @media screen and (max-width: 1365px) {
    padding-right: 44px;
  }
  @media screen and (max-width: 767px) {
    padding: 15px;
  }
}
.blog-nav__link {
  color: #aaaab2;
  display: block;
  max-height: 78px;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    right: -45px;
    width: 2px;
    background: #fff;
    top: 50%;
    bottom: 50%;
    transition: all .3s;
    @media screen and (max-width: 1365px) {
      right: 0;
    }
  }
  &:hover {
    color: #fefefe;
    &:before {
      top: 0;
      bottom: 0;
    }
  }
}
