.main-screen {
  overflow: hidden;
  position: relative;
  .btn-primary {
    position: absolute;
    z-index: 9;
    bottom: 250px;
    opacity: 0;
  }
  .tbl {
    height: 100vh;
    padding: 183px 0 215px;
    .cell+.cell {
      width: 225px;
      padding-left: 15px;
    }
  }
  .menu-opener {
    position: absolute;
    top: 21px;
    right: 18px;
    z-index: 999;
    margin: 0;
    display: none;
  }
}

.menu-open .main-screen {
  .menu-opener {
    display: block;
  }
}

.main-screen__title {
  font-size: 160px;
  line-height: 192px;
  span {
    display: block;
  }
}

.image-cover {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;

  .image-bg {
    width: 100%;
    height: auto;
  }
}

.video-cover {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  &:after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}

.blog-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  right: -25px;
  &:before {
    content: '';
    position: absolute;
    top: 100vh;
    bottom: -50vh;
    right: -44px;
    width: 1px;
    background: #3d3d3e;
    @include transition(0.5s 0.5s);
  }
}

.animation {
  .blog-nav:before {
    top: 0;
  }
}

.blog-nav__item {
  text-align: right;
  font-size: 18px;
  line-height: 26px;
  padding: 40px 0;
  position: relative;
}

.blog-nav__link {
  color: #aaaab2;
  display: block;
  max-height: 78px;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    right: -45px;
    width: 2px;
    background: #fff;
    top: 50%;
    bottom: 50%;
    @include transition(0.3s);
  }
  &:hover {
    color: #fefefe;
    &:before {
      top: 0;
      bottom: 0;
    }
  }
}

.btn-scroll-down {
  width: 15px;
  height: 28px;
  margin-left: 14px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: 250px;
  opacity: 0;
  &:before {
    content: '';
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 1px;
    background: #fff;
    right: 0;
    left: 7px;
    @include transition(0.3s);
  }
  &:after {
    content: '';
    z-index: 2;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 2px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    @include rotate(45deg);
    @include transition(0.3s);
  }
  &:hover {
    opacity: .8;
    &:before {
      background: #fff;
    }
    &:after {
      border-color: #fff;
    }
  }
  @media screen and ($b_no_mobile) {
    @include transition(0.5s 1.2s);
  }
}

@media screen and ($b_no_mobile) {
  .animation .btn-scroll-down {
    bottom: 169px;
    opacity: 1;
  }
  .animation.main-screen {
    .btn-primary {
      bottom: 169px;
      opacity: 1;
    }
  }
}
