.main-screen {
  overflow: hidden;
  position: relative;
  .tbl {
    height: 100vh;
    padding: 183px 0 215px;
    .cell+.cell {
      width: 225px;
      padding-left: 15px;
    }
  }
  .menu-opener {
    position: absolute;
    top: 21px;
    right: 18px;
    z-index: 9;
    margin: 0;
    display: none;
  }
}

.menu-open .main-screen {
  .menu-opener {
    display: block;
  }
}

.main-screen__title {
  font-size: 160px;
  line-height: 192px;
  span {
    display: block;
  }
}

.video-cover {
  @include size(100%, 100%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
  }
  &:after {
    @include size(100%, 100%);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
}

.blog-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  right: -25px;
  &:before {
    content: '';
    position: absolute;
    top: 100vh;
    bottom: -50vh;
    right: -44px;
    width: 1px;
    background: #3d3d3e;
    @include transition(0.5s 0.5s);
  }
}

.animation {
  .blog-nav:before {
    top: 0;
  }
}

.blog-nav__item {
  text-align: right;
  font-size: 18px;
  line-height: 26px;
  padding: 40px 0;
  position: relative;
}

.blog-nav__link {
  color: #aaaab2;
  display: block;
  max-height: 78px;
  overflow: hidden;
  &:before {
    content: '';
    position: absolute;
    right: -45px;
    width: 2px;
    background: #fff;
    top: 50%;
    bottom: 50%;
    @include transition(0.3s);
  }
  &:hover {
    color: #fefefe;
    &:before {
      top: 0;
      bottom: 0;
    }
  }
}

.btn-scroll-down {
  width: 15px;
  height: 28px;
  margin-left: 14px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  bottom: 250px;
  opacity: 0;
  &:before {
    content: '';
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 1px;
    background: #fff;
    right: 0;
    left: 7px;
    @include transition(0.3s);
  }
  &:after {
    content: '';
    z-index: 2;
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    left: 2px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    @include rotate(45deg);
    @include transition(0.3s);
  }
  &:hover {
    opacity: .8;
    &:before {
      background: #fff;
    }
    &:after {
      border-color: #fff;
    }
  }
  @include transition(0.5s 1.2s);
}




@media screen and ($b_laptop) {
  .main-screen .tbl {
    padding: 106px 0 134px;
  }
  .main-screen .cell+.cell {
    width: 192px;
    padding-left: 13px;
  }
  .main-screen__title {
    font-size: 136px;
    line-height: 164px;
  }
  .blog-nav {
    right: -21px;
    &:before {
      right: -37px;
    }
  }
  .blog-nav__item {
    font-size: 15px;
    line-height: 22px;
    padding: 25px 0;
  }
  .blog-nav__link {
    max-height: 67px;
    &:before {
      right: -38px;
    }
  }
  .btn-scroll-down {
    margin-left: 12px;
  }
  .animation .btn-scroll-down {
    bottom: 104px;
  }
}
@media screen and ($b_tablet) {
  .main-screen__title {
    font-size: 100px;
    line-height: 130px;
  }
  .blog-nav {
    right: 0;
    &:before {
      right: -20px;
    }
  }
  .blog-nav__link:before {
    right: -21px;
  }
}
@media screen and ($b_mobile) {
  .main-screen .tbl {
    padding: 0 0 40px;
  }
  .main-screen .cell+.cell {
    width: 100%;
    padding-left: 0;
  }
  .main-screen__title {
    font-size: 67px;
    line-height: 80px;
  }
  .blog-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    right: -100%;
    background: $gray;
    z-index: 4;
    padding: 60px 40px 40px;
    text-align: center;
    overflow-y: auto;
    @include transition(0s);
    &:before {
      display: none;
    }
  }
  .menu-open .blog-nav {
    right: 0;
  }
  .btn-scroll-down {
    opacity: 1;
    bottom: 181px;
    margin-left: 0;
    @include transition(0s);
  }
  .animation .btn-scroll-down {
    bottom: 181px;
  }
}
@media screen and ($b_small_mobile_height) {
  .btn-scroll-down {
    bottom: 30px;
  }
  .animation .btn-scroll-down {
    bottom: 30px;
  }
}
@media screen and (max-width: 359px) {
  .btn-scroll-down {
    bottom: 30px;
  }
}
@media screen and ($b_no_mobile) {
  .animation .btn-scroll-down {
    bottom: 169px;
    opacity: 1;
  }
}