.posts {
  .small-head {
    margin-bottom: 59px;
  }
}
.slideshow-posts-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.post-slideshow .slick-arrow {
  position: absolute;
  font-size: 0;
  line-height: 0;
  border: none;
  width: 48px;
  height: 45px;
  bottom: -64px;
  z-index: 2;
  background: none;

  &.slick-disabled {
    display: none !important;
  }
}

.post-slideshow .slick-prev {
  left: 20px;
  @include rotate(180deg);

  &:before {
    content: '';
    z-index: 2;
    position: absolute;
    width: 28px;
    height: 1px;
    background: #fff;
    right: 10px;
    top: 22px;
    @include transition(0.3s);
  }

  &:after {
    content: '';
    z-index: 2;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: 17px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    @include rotate(-45deg);
    @include transition(0.3s);
  }
}

.post-slideshow .slick-next {
  left: 80px;

  &:before {
    content: '';
    z-index: 2;
    position: absolute;
    width: 28px;
    height: 1px;
    background: #fff;
    right: 10px;
    top: 22px;
    @include transition(0.3s);
  }

  &:after {
    content: '';
    z-index: 2;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: 17px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    @include rotate(-45deg);
    @include transition(0.3s);
  }
}

.post-slideshow__item {
  padding: 0 9px;
}

.post-slideshow__link {
  display: table-cell;
  vertical-align: bottom;
  padding: 50px 45px;
  height: 500px;
  width: 1%;
  background: $gray;
  position: relative;
  @include transition(background 0.3s);
  &:before {
    content: '';
    z-index: 2;
    position: absolute;
    width: 28px;
    height: 1px;
    top: 49px;
    right: 54px;
    background: #fff;
    opacity: 0;
    @include transition(0.3s);
  }
  &:after {
    content: '';
    z-index: 2;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 54px;
    top: 44px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    opacity: 0;
    @include rotate(-45deg);
    @include transition(0.3s);
  }
  .small-head {
    margin-bottom: 12px;
  }
}

.post-slideshow__link:hover {
  background: $blue;
  &:before {
    opacity: 1;
  }
  &:after {
    opacity: 1;
  }
  .small-head {
    color: $white;
  }
}

.post-slideshow__title {
  display: block;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  height: 144px;
  margin: 0;
  overflow: hidden;
}
