.posts {
  .small-head {
    margin-bottom: 59px;
  }
}
.slideshow-posts-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.post-slideshow {
  margin: 0 -9px;
  .slick-arrow {
    transition: all .3s;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    background: none;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 1px 1px 0 0;
    cursor: pointer;
    outline: none;
    &:hover {
      opacity: .8;
    }
  }
  .slick-prev {
    left: -50px;
    border-width: 0 0 1px 1px;
  }
  .slick-next {
    right: -50px;
  }
  .slick-disabled {
    opacity: 0;
    cursor: default;
    &:hover {
      opacity: 0;
    }
  }
}
.post-slideshow__item {
  padding: 0 9px;
}
.post-slideshow__link {
  display: table-cell;
  vertical-align: bottom;
  padding: 44px 45px;
  height: 500px;
  background: #1b1b1f;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 29px;
    height: 15px;
    top: 42px;
    right: 54px;
    background: url(asset_path('vector/arrow-right-white.svg')) no-repeat 50% 50%;
    background-size: 100% auto;
    transition: all .3s;
    opacity: 0;
  }
}
.post-slideshow__link:hover {
  background: #1a8cff;
  &:before {
    opacity: 1;
  }
  .small-head {
    color: #fff;
  }
}
.post-slideshow__title {
  font-size: 36px;
  line-height: 54px;
  margin: 0;
  max-height: 162px;
  overflow: hidden;
}