.uses-cases {
  align-items: center;
  background-color: $primary-blue;
  display: flex;
  flex-direction: column;

  .switcher {
    @extend %content-max-width;
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    margin: 1em 0;

    @include respond-to(md) {
      padding: 1em 0.5em;
    }

    @include respond-to(xs) {
      flex-direction: column;
    }

    .project-label {
      border-bottom: 1px solid rgba($white, .5);
      padding: 1em 0 0.5em;

      .project {
        font-size: 1.3em;
      }

      .type {
        color: rgba($white, .5);
        font-size: 0.7em;
        text-transform: uppercase;
        margin-top: 0.5em;
      }
    }

  }

  .slide {
    @extend %content-max-width;

    background: {
      image: url(asset_path('vector/dot_background.svg')), url(asset_path('Iphone_color.png'));
      size: 500px, 900px;
      repeat: no-repeat;
      position: 100% 43%, 92% 50%;
    }
    padding: 0 1.5em 2em;

    label {
      color: rgba(white, .5);
      display: none;
      margin-bottom: 1em;

      @include respond-to(xs) {
        display: block;
      }
    }

    @media (max-width: 1400px) {
      background: {
        position: 100%, 18vw 55%;
        size: 390px, 770px;
      };
    }

    @include respond-to(md) {
      background: {
        size: 400px, 700px;
        position: 90% 42%, 79% 35px;
      }
    }
    @include respond-to(sm) {
      background-position: 115% 42%, 0 90px;
    }

    @include respond-to(xs) {
      background: {
        size: 460px, 730px;
        position: 35vw 20vw, 47% 100px;
      }

      flex-direction: column;
      padding: 30% 1.5em 0;
    }

    flex-grow: 2;
    display: flex;
    padding-top: 5em;

    .title {
      font-size: 10em;
      display: block;
      margin-bottom: .5em;

      @include respond-to(md) {
        font-size: 6em;
        max-width: 70%;
      }

      @include respond-to(xs) {
        font-size: 3em;
        word-spacing: 10em;
      }

      &.show-sm {
        @media (min-width: $screen-sm) {
          display: none;
        }
      }
    }

    .subtitle {
      align-items: flex-end;
      display: flex;

      span {
        color: rgba($white, .5);
        font-size: 0.9em;
        max-width: 24vw;
        line-height: 1.5em;
        margin-bottom: 10em;

        @media (max-width: 1150px) {
          margin-bottom: 0;
        }
      }
    }

  }
}