.uses-cases {
  background: $blue;
  font-size: 16px;
  line-height: 24px;
  color: $white;
}
.uses-cases-controls-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.uses-cases-controls {
  list-style: none;
  padding: 89px 85px 0 0;
  margin: 0 -63px;
  font-size: 0;
  line-height: 0;
}
.uses-cases-controls__item {
  display: inline-block;
  vertical-align: text-top;
  width: 33.33%;
  padding: 0 63px;
}
.uses-cases-controls__link {
  position: relative;
  display: block;
  padding-bottom: 28px;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #81c0ff;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: $white;
  }
  &:hover {
    opacity: .8;
  }
}
.animation .uses-cases-controls__link_active {
  &:after {
    animation: loadbar 5s;
  }
}
@keyframes loadbar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.uses-cases-controls__title {
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  display: block;
}
.uses-cases-controls__descr {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 17px;
  opacity: .5;
}

.uses-cases-box {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
  height: 100vh;
  padding: 137px 0 0;
}
.uses-cases-box__descr {
  position: relative;
  z-index: 2;
  max-width: 500px;
}
.uses-cases-box__title {
  font-size: 160px;
  line-height: 170px;
  margin-bottom: 70px;
  span {
    display: block;
  }
}
.uses-cases-box__text {
  font-weight: 400;
  min-height: 165px;
  max-width: 300px;
  margin-bottom: 37px;
  padding-bottom: 15px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 80px;
    background: #8dc6ff;
  }
}
.uses-cases-box__more {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  &:hover {
    &:before {
      width: 100%;
    }
  }
  &:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background: $white;
    @include transition(0.3s);
  }
}
.uses-cases-slideshow__figure {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
  img {
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0;
    bottom: -100px;
    @include transition(0.5s 1.5s);
  }
}
.animation .uses-cases-slideshow__figure img {
  opacity: 1;
  bottom: 0;
}

.uses-cases-slideshow .slick-arrow {
  position: absolute;
  font-size: 0;
  line-height: 0;
  border: none;
  width: 28px;
  height: 15px;
  bottom: 40px;
  z-index: 2;
  background: none;
}

.uses-cases-slideshow .slick-prev {
  left: 40px;
  @include rotate(180deg);
  &:before {
    content: '';
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    right: 0;
    top: 7px;
    @include transition(0.3s);
  }
  &:after {
    content: '';
    z-index: 2;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 2px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    @include rotate(-45deg);
    @include transition(0.3s);
  }
}

.uses-cases-slideshow .slick-next {
  left: 90px;
  &:before {
    content: '';
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    right: 0;
    top: 7px;
    @include transition(0.3s);
  }
  &:after {
    content: '';
    z-index: 2;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 2px;
    border: solid #fff;
    border-width: 0 1px 1px 0;
    @include rotate(-45deg);
    @include transition(0.3s);
  }
}

.uses-cases-slideshow .slick-dots {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 40px;
  bottom: 30px;
  font-size: 0;
  line-height: 0;
  @include transition(0.3s);
  li {
    display: inline-block;
    vertical-align: text-top;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: transparent;
    button {
      display: none;
    }
  }
  li + li  {
    margin-left: 10px;
  }
  .slick-active {
    background-color: $white;
  }
}

@media screen and ($b_laptop) {
  .uses-cases {
    font-size: 14px;
    line-height: 20px;
  }
  .uses-cases-controls {
    padding: 76px 72px 0 0;
    margin: 0 -54px;
  }
  .uses-cases-controls__item {
    padding: 0 54px;
  }
  .uses-cases-controls__link {
    padding-bottom: 24px;
  }
  .uses-cases-controls__title {
    margin-bottom: 6px;
    font-size: 17px;
    line-height: 20px;
  }
  .uses-cases-controls__descr {
    font-size: 11px;
    line-height: 14px;
  }
  .uses-cases-box {
    padding: 157px 0 40px;
  }
  .uses-cases-box__descr {
    max-width: 427px;
  }
  .uses-cases-box__title {
    font-size: 136px;
    line-height: 145px;
    margin-bottom: 60px;
  }
  .uses-cases-box__text {
    min-height: 140px;
    max-width: 256px;
    margin-bottom: 30px;
    padding-bottom: 13px;
    &:before {
      width: 68px;
    }
  }
  .uses-cases-box__more {
    font-size: 11px;
    line-height: 14px;
  }
}

@media screen and ($b_tablet) {
  .uses-cases-controls {
   padding: 50px 0;
   margin: 0 -15px;
 }
 .uses-cases-controls__item {
  padding: 0 15px;
}
.uses-cases-box__title {
  font-size: 80px;
  line-height: 90px;
}
}

@media screen and ($b_mobile) {
  .uses-cases-controls-wrapper {
    display: none;
  }
  .uses-cases-box {
    padding: 30px 0;
  }
  .uses-cases-box__title span {
    display: inline-block;
  }
  .uses-cases-box__title {
    font-size: 57px;
    line-height: 69px;
    margin-bottom: 30px;
  }
  .uses-cases-box__text {
    min-height: 1px;
    padding-bottom: 15px;
  }
  .uses-cases-slideshow__figure {
    @include transition(0s);
    float: right;
  }
}

@media screen and ($b_small_mobile_height) {
  .uses-cases-slideshow__figure {
    width: 75%;
  }
}